<div class="modal-header">
  <button class=close n type="button" class="close" ng-click="$close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">
    Edit Logo
  </h4>
</div>

<div class="modal-body">

  <div class="form-group">
    <input class="form-control" nv-file-select uploader="vm.Uploader" type="file" />
  </div>

  <div class="panel-empty" ng-if="!vm.Uploader.queue.length">
    No files were selected
  </div>


</div>


<div class="modal-footer">
  <button class="btn btn-success btn-sm" ng-click="vm.Save()">Upload</button>
</div>
