<app-sidebar>
  <div class="title">Present</div>
  <div class="menu">
    <div class="items">
      <a routerLink="/presentations/overview" routerLinkActive="active">
        <fa-icon icon="border-all" class="icon"></fa-icon>
        <div class="content">Overview</div>
      </a>
      <button (click)="create()">
        <fa-icon icon="plus-circle" class="icon"></fa-icon>
        <div class="content">Create Pesentation</div>
      </button>
      <a routerLink="/presentations/settings" routerLinkActive="active">
        <fa-icon icon="cog" class="icon"></fa-icon>
        <div class="content">Settings</div>
      </a>
      <div class="divider"></div>
      <ng-container *ngIf="presentations.length; else empty">
        <a *ngFor="let presentation of presentations" [routerLink]="['/presentations',presentation['_id']]"
          routerLinkActive="active">
          <div class="thumb">
            <ng-container *ngIf="presentation.thumb; else noThumb">
              <div class="thumb-img" [ngStyle]="{'background-image': 'url('+presentation.thumb+')'}"></div>
            </ng-container>
          </div>
          <div class="content">
            <span>{{presentation.title}}</span>
            <ng-container *ngIf="presentation.stats.filecount">
              <small>files: {{presentation.stats.filecount}} | Size: {{presentation.stats.filesize | bytes:0}}</small>
            </ng-container>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</app-sidebar>
<router-outlet></router-outlet>
<ng-template #empty>
  <app-empty></app-empty>
</ng-template>
<ng-template #noThumb>
  <fa-icon [icon]="['fas','desktop']"></fa-icon>
</ng-template>
