<app-sidebar>
  <div class="title">Present</div>
  <div class="menu">
    <div class="items">
      <a routerLink="/presentations/overview" routerLinkActive="active">
        <fa-icon icon="border-all" class="icon"></fa-icon>
        <div class="content">Overview</div>
      </a>
      <button (click)="create()">
        <fa-icon icon="plus-circle" class="icon"></fa-icon>
        <div class="content">Create Pesentation</div>
      </button>
      <a routerLink="/presentations/settings" routerLinkActive="active">
        <fa-icon icon="cog" class="icon"></fa-icon>
        <div class="content">Settings</div>
      </a>
      <div class="divider"></div>
      <ng-container *ngIf="(presentations$ | async) as presentations">
        <ng-container *ngIf="presentations.length; else empty">
          <a *ngFor="let presentation of presentations" [routerLink]="['/presentations',presentation['_id']]"
            routerLinkActive="active">
            <span>{{presentation.title}}</span>
          </a>
        </ng-container>
      </ng-container>
    </div>
  </div>
</app-sidebar>
<router-outlet></router-outlet>
<ng-template #empty>
  <app-empty></app-empty>
</ng-template>
<ng-template #noThumb>
  <fa-icon [icon]="['fas','desktop']"></fa-icon>
</ng-template>
