.centerbox {
  padding-top: 4rem;
  width: 18rem;
  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    color: #FFF;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }
  input {
    &::placeholder {
      color: #AAA;
    }
  }
  .card {
    margin: 1rem 0;
    box-shadow: .1rem .1rem .2rem darken($color-background, 5);
    .card-body {
      overflow: auto;
      max-height: 500px;
    }
    .more {
      text-align: center;
      font-size: .9rem;
      margin-top: 1.5rem;
      padding-top: 1rem;
      border-top: solid 1px #EEE;
      p {
        margin: 0;
      }
    }
  }
  &.centerbox-lg {
    width: 38rem;
  }
}
