.login {
    height: 100%;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 62%;
        height: 100%;
        float: left;
        text-align: right;
        padding: 100px 20px;
        background: url("http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-36385.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .box {
        width: 38%;
        height: 100%;
        float: right;
        padding: 100px 20px;
        position: relative;
        background: #fff;
        .title {
            text-align: left;
            margin: 0 !important;
            font-size: 60px !important;
            color: #666 !important;
            text-shadow: 2px 2px 0 #FFF,5px 5px 0 #ccc;
        }
        .form {
            width: 300px;
            margin: 5px 0 10px;
            .input {
                input {
                    background: none;
                    color: #333;
                    border-radius: 0;
                    border-width: 0 0 1px 0;
                    border-color: #eee;
                    &:focus {
                        box-shadow: none;
                        border-color: #aaa;
                    }
                }
                .icon {
                    color: #aaa;
                }
            }
        }
        .footer {

        }
    }
}
@media (max-width: 900px) {
    .login {
        &:before {
            width: 0;
            padding: 0;
        }
        .box {
            width: 100%;
            text-align: center;
            .title {
                text-align: center;
            }
            .form {
                margin: 0 auto 10px;
            }
        }
    }
}
