.login {
    height: 100%;
    background: $color-main;
    .box {
        width: 300px;
        margin: 0 auto;
        padding-top: 100px;
        font-weight: bold;
        .title {
            text-align: center;
            margin: 0 !important;
            font-size: 60px !important;
            color: #eee !important;
            text-shadow: 2px 2px 0 $color-main,5px 5px 0 #222;
        }
        .form {
            background: #fff;
            padding: 15px;
            border-radius: 5px;
            margin: 5px 0 10px;
            box-shadow: 2px 2px 0 $color-main,5px 5px 0 #222;
        }
        .footer {
            text-align: center;
            color: #CCC;
            .item {
                font-size: x-small !important;
                a {
                    color: #CCC !important;
                }
            }
        }
    }
}
