@import "bootstrap";
@import "variables";
.simplebox {
  @extend .d-flex;
  @extend .flex-column;
  @extend .p-5;
  .card {
    @extend .mx-auto;
    max-width: 600px;
    width: 100%;
    h4,
    h5 {
      font-weight: 300;
    }
    fieldset {
      @extend .mb-4;
      @extend .pb-4;
      @extend .border-bottom;
    }
  }
  &:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $color-background;
    z-index: -1;
  }
}
