/*
* Template
*/
$color-main: #1565c0;
* {
    margin: 0;
    padding: 0;
    border-radius: 0 !important;
}
body {

}
.ui {
    &.menu {
        .divider {
            margin: 0 !important;
        }
    }
		&.breadcrumb{
			background: #EEE;
			padding:4px 7px !important;
			margin: 0;
			width:100%;
		}
}
.topbar {
    background: $color-main !important;
    .brand {
        width: 220px;
        font-weight: bold;
        .toggle-sidebar {
            float: right !important;
            opacity: 0.5 !important;
            &:hover,
            &:focus,
            &:active {
                cursor: pointer;
                opacity: 1 !important;
            }
        }
    }
}
.wrapper {
    padding-top: 35px;
    height: 100%;
    .sidebar {
        width: 220px;
        float: left;
        background: #eee;
        height: 100%;
        .menu {
            .input {
                input {
                    padding: 5px 7px;
                }
            }
            .item {
                .icon {
                    float: left !important;
                    margin: 0;
                }
            }
        }
    }
    .content {
        padding: 15px;
        overflow: hidden;
    }
    &.sidebar-off {
        .sidebar {
            display: none;
        }
    }
}
