$color-primary: #337ab7;
$color-navbar: #263238;
@import "components/navbar";

// @import "components/buttons";
@import "components/panel";
@import "components/loading";
@import "components/print";
@import "components/empty";
@import "components/timeline";
@import "components/login";
body {
  padding-bottom: 20px;
  background: #FAFAFA;
  @media (min-width: 768px) {
    padding-top: 15px;
  }
}
footer {
  margin-top: 15px;
  border-top: solid 1px #EEE;
  padding: 5px 0 0;
  color: #999;
  a {
    color: #888;
  }
  .list-inline {
    li {
      padding: 0;
      font-size: 0.9em;
      color: #999;
      font-style: italic;
      &:after {
        content: "";
        display: inline-block;
        border-right: solid 1px #DDD;
        height: 10px;
        margin: 0 10px;
      }
      &:last-child:after {
        border: none;
      }
      a {
        color: #999;
      }
    }
  }
}
section {
  min-height: 400px;
}
a {

  // color: $color-primary;
}

// textarea:focus,
// input:focus,
// .form-control:focus {
//   border-color: opacify(lighten($color-primary,20%), 0.8);
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px opacify(lighten($color-primary,20%), 0.6);
//   outline: 0 none;
// }
.container {
  min-width: 320px;
}
.breadcrumb {
  margin: 0 0 15px;
  background: #F3F3F3;
  border: solid 1px #EEE;
  padding: 5px;
  border-radius: 5px;
  .pull-right {
    margin: 0 5px 0 0;
    &:before {
      display: none;
    }
  }
}
.btn-toolbar {
  margin: 0 0 15px;
  background: #F3F3F3;
  border: solid 1px #EEE;
  padding: 5px;
  border-radius: 5px;
  .btn {
    padding: 2px 5px;
    &:first-child {
      margin: 0;
    }
  }
}
.input-xs {
  padding: 0 5px;
  height: 22px;
}
.modal-footer {
  padding: 7px 15px;
}

// .control-label {
//   font-size: 1.2em;
//   font-weight: 400;
// }
.modal-md {
  @media (min-width: 500px) {
    margin: 30px auto;
    width: 450px;
  }
}
.img-logo {
  &.img-logo-sm {
    width: 50px;
    height: 50px;
  }
}
.media {
  .media-body {
    .list-inline {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      li {
        padding: 0;
        font-size: 0.9em;
        color: #999;
        font-style: italic;
        &:after {
          content: "";
          display: inline-block;
          border-right: solid 1px #DDD;
          height: 10px;
          margin: 0 10px;
        }
        &:last-child:after {
          border: none;
        }
        a {
          color: #999;
        }
      }
    }
  }
}
.media-company {
  margin: -10px 15px -10px -15px !important;
  .media-object {
    width: 64px;
    box-shadow: 0 0 15px #999;
  }
  .media-body {
    padding: 10px 0;
  }
  .list-inline {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
  }
}
.media-person {
  .media-object {
    width: 45px;
  }
  .list-inline {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
  }
}
.form-group-search {
  max-width: 150px;
  margin: 0;
  .form-control {
    height: 30px;
  }
}
.tab-content-view {
  background: #FFF;
  padding: 10px;
  border: 1px solid #ddd;
  border-width: 0 1px 1px;
  min-height: 250px;
  border-radius: 0 0 5px 5px;
}
.list-group-open {
  .list-group-item {
    border-width: 1px 0 0;
    &:first-child {
      border-width: 0;
    }
  }
}
