<app-sidebar>
  <div class="title">Projects</div>
  <div class="menu">
    <div class="items">
      <a routerLink="/projects/overview" routerLinkActive="active">
        <fa-icon icon="border-all" class="icon"></fa-icon>
        <span>Overview</span>
      </a>
    </div>
  </div>
  <div class="menu">
    <div class="header dropdown" ngbDropdown container="body">
      <button ngbDropdownToggle>
        <span>{{(project$ | async)?.name || 'Select a project...'}}</span></button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="createProject()">Create project</button>
        <div class="dropdown-divider"></div>
        <ng-container *ngIf="(projects$ | async) as projects">
          <ng-container *ngIf="projects.length">
            <h6 class="dropdown-header">Projects</h6>
            <ng-container *ngFor="let p of projects">
              <a ngbDropdownItem [routerLink]="['/projects/project',p['_id']]">{{p.name}}</a>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="items" *ngIf="(project$ | async) as project">
      <button (click)="editDetails(project['_id'])">
        <fa-icon icon="pencil-ruler" class="icon"></fa-icon>
        <span>Project details</span>
      </button>
      <a [routerLink]="['/projects/project',project['_id']]">
        <fa-icon icon="tasks" class="icon"></fa-icon>
        <span>All issues</span>
      </a>
      <button (click)="createIssue(project['_id'])">
        <fa-icon icon="plus-circle" class="icon"></fa-icon>
        <span>New issue</span>
      </button>
    </div>
  </div>
  <div class="menu mt-auto">
    <div class="items">
      <a routerLink="/projects/settings" routerLinkActive="active">
        <fa-icon icon="cog"></fa-icon>
        <span>Settings</span>
      </a>
    </div>
  </div>
</app-sidebar>
<router-outlet></router-outlet>

<ng-template #empty>
  <app-empty message="No projects" icon="file-alt:regular"></app-empty>
</ng-template>
<ng-template #noItems>
  You don't have any issues yet
</ng-template>
<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>