<app-sidebar>
  <div class="title">Projects</div>
  <div class="menu">
    <div class="items">
      <a routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <fa-icon icon="tasks" class="icon"></fa-icon>
        <span>All Projects</span>
      </a>
      <button (click)="createProject()">
        <fa-icon [icon]="['fas','plus-circle']" class="icon"></fa-icon>
        <span>New Project</span>
      </button>
      <button (click)="generateDemoData()">
        <fa-icon icon="random" class="icon"></fa-icon>
        <span>Generate Data</span>
        <fa-icon [icon]="['fas','cog']" [spin]="true" class="icon icon-badge" *ngIf="generating"></fa-icon>
      </button>
      <div class="divider"></div>
      <ng-container *ngIf="projects; else empty">
        <ng-container *ngIf="projects.length; else empty">
          <a *ngFor="let project of projects" [routerLink]="['/projects/project',project._id]"
            routerLinkActive="active">
            <span>{{project.name}}</span>
          </a>
        </ng-container>
      </ng-container>
    </div>
  </div>
</app-sidebar>
<router-outlet></router-outlet>

<ng-template #empty>
  <app-empty message="No projects" icon="file-alt:regular"></app-empty>
</ng-template>
<ng-template #noItems>
  You don't have any issues yet
</ng-template>
<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>