<div class="card-wrapper">
  <div class="card">
    <div class="card-body">
      <div class="d-flex">
        <h4>Manage Profiles</h4>
        <button class="btn btn-link btn-sm ml-auto" *ngIf="selectedProfile" [routerLink]="['/dashboard']">
          dashboard
          <span class="fa fa-caret-right"></span>
        </button>
      </div>
      <hr>
      <button class="btn btn-primary" [routerLink]="['/profile','NEW']">New</button>
      <button class="btn btn-link" ngxFilePicker (filePick)="onFilePicked($event)">Import</button>
    </div>
    <ng-container *ngIf="profiles; else empty">
      <ng-container *ngIf="profiles.length; else empty">
        <div class="list-group list-group-flush">
          <div class="list-group-item" *ngFor="let profile of profiles">
            <div class="d-flex">
              <div class="d-flex align-items-center mr-4">
                <button class="btn btn-sm" [ngClass]="{'btn-link':profile.alias==selectedProfile.alias,'btn-outline-dark':profile.alias!=selectedProfile.alias}"
                  (click)="select(profile.alias)" [disabled]="profile.alias==selectedProfile.alias">
                  <span class="far fa-check-circle"></span>
                </button>
              </div>
              <div>
                {{profile.name}}
                <br>
                <small class="text-secondary" *ngIf="!profile.database">Local Profile</small>
                <small class="text-secondary" *ngIf="profile.database">{{profile.database.host}}</small>
              </div>
              <div class="ml-auto d-flex align-items-center">
                <div>
                  <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/profile',profile.alias]">
                    <span class="fa fa-cog"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #empty>
      <app-empty-panel message="No profiles were found" icon="cubes" style="height:200px"></app-empty-panel>
    </ng-template>
    <div class="card-footer text-center p-4">
      <strong>Psss...</strong>
      <br>do you want to try some
      <br>
      <em>demo</em> configuration?
      <br> Come here...
      <br>
      <a href="javascript:" (click)="quickCreateProfile()">click me</a>
    </div>
  </div>
  <div class="text-center p-4 text-white">
    Balnc v{{appVersion}}
  </div>
</div>
