<div class="modal-header">
  <button class=close n type="button" class="close" ng-click="$close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">
    New Lottery
  </h4>
</div>

<form ng-submit="vm.Save()" ng-class="{loading:vm.loading}">

  <div class="modal-body">

    <div class="form-group">
      <label class="control-label">Name</label>
      <input class="form-control" required ng-model="vm.Lottery.Name" />
    </div>

    <div class="form-group">
      <label class="control-label">Participants List</label>
      <select class="form-control" required ng-model="vm.Lottery.Participants" ng-options="List.Participants as List.Name for List in vm.Plists">
        <option value="">-- Select --</option>
      </select>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="$close()" type="button">Cancel</button>
    <button class="btn btn-success btn-sm" type="submit">Perform Draw</button>
  </div>

</form>
