<div class="box-wrapper box-wrapper-sm">
    <div class="box">
        <div class="box-header-inner">
            <h1>BALANCE</h1>
            <h2>{{APP.client.name}}</h2>
        </div>
        <div class="box-body">

            <div class="alert alert-{{vm.Alert.Type}} text-center" style="margin:10px 0" ng-show="vm.Alert">
                <strong>{{vm.Alert.Message}}</strong>
                <p ng-if="vm.Alert.Details">{{vm.Alert.Details}}</p>
            </div>

            <form ng-class="{loading: vm.loading}" ng-submit="vm.SignIn()" role="form">
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input autofocus class="form-control" ng-model="vm.credentials.username" required />
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input class="form-control" ng-model="vm.credentials.password" type="password" required/>
                </div>

                <button type="submit" class="btn btn-primary btn-flat pull-right">
                    <span class="fa fa-sign-in fa-fw"></span> Sign In</button>
            </form>

        </div>

    </div>
    <footer class="box-wrapper-footer">
        2016 Balance v{{APP.version}} by <a href="{{APP.author.url}}">{{APP.author.name}}</a>
        <br>
        <a href="{{APP.repository}}">GitHub</a> -
        <a href ui-sref="app.static.terms">Terms</a> -
        <a href ui-sref="app.static.help">Help</a>
    </footer>
</div>
<style>
    html,
    body,
    .wrapper {
        background-color: #f1f1f1 !important;
    }
</style>
