<section class="container container-login">
  <div class="panel panel-primary panel-lg">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{APP.config.client.name}}
        <small>{{APP.name}} v{{APP.version}}</small>
      </h3>
    </div>
    <form class="panel-body" ng-class="{loading: vm.loading}" ng-submit="vm.SignIn()" role="form">
      <div class="alert alert-{{vm.Alert.Type}} text-center" style="margin:10px 0" ng-show="vm.Alert">
        <strong>{{vm.Alert.Message}}</strong>
        <p ng-if="vm.Alert.Details">{{vm.Alert.Details}}</p>
      </div>
      <div class="form-group">
        <label class="control-label">Username</label>
        <input autofocus class="form-control input-lg" ng-model="vm.credentials.username" required/>
      </div>
      <div class="form-group">
        <label class="control-label">Password</label>
        <input class="form-control input-lg" ng-model="vm.credentials.password" required type="password" />
      </div>
      <button class="btn btn-primary btn-outline btn-block" type="submit">
        Sign In</button>
    </form>
  </div>
  <div class="text-center text-muted">
    <ul class="list-inline">
      <li>2016 {{APP.name}} v{{APP.version}}</li>
      <li>By <a href="{{APP.author.url}}">{{APP.author.name}}</a></li>
    </ul>
  </div>

</section>
