<common-sidebar>
  <div class="menu">
    <div class="header">
      <h4>Settings</h4><span>{{profile.name}}</span>
    </div>
    <div class="items">
      <a routerLink="/settings/general" routerLinkActive="active">
        <fa-icon [icon]="['fas','cog']" class="icon"></fa-icon>
        <span>General</span>
      </a>
      <div class="divider"></div>
      <a [routerLink]="['/settings/bmodules',module.id]" routerLinkActive="active" *ngFor="let module of bmodules">
        <fa-icon class="icon" [icon]="module.icon"></fa-icon>
        <span>{{module.title}}</span>
        <fa-icon [icon]="['fas','check-circle']" class="icon icon-badge" *ngIf="profile.bmodules[module.id]"></fa-icon>
      </a>
    </div>
  </div>
  <div class="menu mt-auto mb-0">
    <div class="items">
      <a [routerLink]="['/settings','manage']" routerLinkActive="active">
        <fa-icon [icon]="['fas','swatchbook']" class="icon"></fa-icon>
        <span>Manage Profiles</span>
      </a>
    </div>
  </div>
</common-sidebar>
<router-outlet></router-outlet>
<ng-template #empty>
  <common-empty></common-empty>
</ng-template>
