@media screen {
  #printSection {
    display: none;
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  #printSection,
  #printSection * {
    visibility: visible;
  }
  #printSection {
    position: absolute;
    left: 0;
    top: 0;
      width:100%;
  }
}
@media print {
  html,
  body {
    height: 100%;
    overflow: hidden;
    background: #FFF;
    font-size: 9.5pt;
      width:100%;
  }
  .table{
    width:100%;
  }
}
