<div class="card card-start">
  <div class="card-body">
    <h4>Add Remote Accounts</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos tempora dolore esse quidem atque ex doloremque quos quis modi, minima molestias sint ducimus quod a, vitae fugiat eius deleniti. Corporis!</p>

    <form class="m-4">
      <div class="form-group input-group-lg">
        <label>Alias</label>
        <input class="form-control ">
      </div>
      <div class="form-group">
        <label>Host</label>
        <input class="form-control">
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Username</label>
            <input class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Password</label>
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Protect account with PIN
          </label>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body">
          <p>
            <strong>PIN Protection</strong>
            <br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt quod sint provident, voluptatibus suscipit vitae illo et adipisci minus sed assumenda at id repudiandae eum nostrum odit distinctio facere amet!</p>
          <div class="ml-auto text-center">
            <input class="form-control" style="width:100px">
          </div>
        </div>
      </div>
      <hr>
      <div class="text-right">
        <button type="button" class="btn btn-success">Add Account</button>
      </div>
    </form>
  </div>
</div>

<div class="card card-start">
  <div class="card-body">
    <h1 class="display-4">Welcome to Balance!</h1>
    <p>Balance is a collection of business modules for managing simple operations of small companies and freelancers.</p>
    <p>It includes sales, marketing and accounting tools and it is both open source and free under the MIT license.</p>
  </div>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h4>Local Account</h4>
        <p>If you would like to use Balance in your local machine, without online sync & backup use this option. You may export/import data from other machines</p>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-block btn-primary">Use Local Account</button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4>Remote Account</h4>
        <p>If you would like to use a remote account of Balance use this option. You may manage accounts from the menu</p>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-block btn-secondary">Add Remote Account</button>
      </div>
    </div>
  </div>
</div>
<div class="card card-start">
  <div class="card-body">
    <h4>Manage Accounts</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos tempora dolore esse quidem atque ex doloremque quos quis modi, minima molestias sint ducimus quod a, vitae fugiat eius deleniti. Corporis!</p>
  </div>
  <div class="list-group list-group-flush">
    <div class="list-group-item">
      <div class="d-flex">
        <div>
          Local Account
          <span class="badge badge-primary">Primary</span>
          <br>
          <small class="text-secondary">Local</small>
        </div>
        <div class="ml-auto d-flex align-items-center">
          <button class="btn btn-sm btn-outline-secondary">
            <span class="fa fa-cog"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="d-flex">
        <div>
          MyCompany01
          <br>
          <small class="text-secondary">https://data.mycompany.com</small>
        </div>
        <div class="ml-auto d-flex align-items-center">
          <button class="btn btn-sm btn-outline-secondary">
            <span class="fa fa-cog"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="d-flex">
        <div>
          DemoAccount
          <br>
          <small class="text-secondary">https://demo.testsite.com</small>
        </div>
        <div class="ml-auto d-flex align-items-center">
          <button class="btn btn-sm btn-outline-secondary">
            <span class="fa fa-cog"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
