@import "theme";

:host {
  .card-integration{
    .icon {
      @extend .rounded-circle;
      @extend .mr-3;
      @extend .text-center;
      background-color: $primary;
      width: 40px;
      min-width: 40px;
      height: 40px;
      min-height: 40px;
      line-height: 40px;
      fa-icon {
        font-size: 1.2rem;
        color: white;
      }
    }
    &:hover{
      @extend .shadow-sm;
      cursor: pointer;
    }
  }
}
