<div class="item">Balnc v{{version}}</div>
<div class="divider"></div>
<a href="https://github.com/christosgeorgiou/balnc" target="_blank" class="item" rel="noopener">
  <fa-layers class="fa-fw">
    <fa-icon icon="code-branch"></fa-icon>
  </fa-layers>
  Source
</a>
<div class="divider"></div>
<div class="item">
  <fa-layers class="fa-fw">
    <fa-icon icon="swatchbook"></fa-icon>
  </fa-layers> {{profile.name}}
</div>
<div class="divider"></div>
<div class="item">
  <fa-layers class="fa-fw">
    <fa-icon icon="user"></fa-icon>
  </fa-layers> {{profile.username || '- none -'}}
</div>
