@import "theme";

:host {
  @extend .h-100;

  .wrapper {
    @extend .d-flex;
    @extend .flex-column;
    @extend .h-100;

    .table-wrapper {
      @extend .d-flex;
      @extend .w-100;
      @extend .flex-grow-1;
      @extend .overflow-auto;
      @extend .border-top;

      .table {
        @extend .bg-white;
        position: relative;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        th {
          position: sticky;
          top: -1px;
        }
      }
    }

    .table-footer {
      @extend .d-flex;
      @extend .justify-content-between;
      @extend .py-2;
      @extend .px-3;
      @extend .bg-light;
      @extend .border-top;
    }
  }
}
