<common-content>
  <common-content-header [title]="bmodule.title" [subtitle]="bmodule.description" [icon]="bmodule.icon"></common-content-header>
  <common-content-body>
    <h5 class="mb-0">{{bmodule.title}}</h5>
    <small class="text-muted">{{bmodule.description}}</small>
    <hr>
    <div class="form-group form-check">
      <input id="enableModule" class="form-check-input" type="checkbox" [(ngModel)]="profile.bmodules[bmodule.id]"
        (change)="save()">
      <label class="form-check-label" for="enableModule">
        Enable Module
      </label>
    </div>
    <div class="p-5" *ngIf="config; else noConfig">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus inventore ut eligendi hic expedita nobis, odit
      quae nihil suscipit placeat repellendus autem adipisci animi quam libero non assumenda aut laborum?
    </div>
  </common-content-body>
</common-content>
<ng-template #noConfig>
  <common-empty icon="cog" message="No configuration is available"></common-empty>
</ng-template>
