@import "sidebar";

$side-width: 80px;

app-shell {
  @extend .d-flex;
  @extend .flex-row;
  height: 100%;
  overflow: hidden;

  .appmenu {
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-start;
    text-align: center;
    min-width: $side-width;
    width: $side-width;
    z-index: 1000;
    // background: $dark;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    transition: all 0.5s;
    overflow: hidden;

    .profile {
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      min-width: $side-width;
      width: $side-width;
      height: 55px;

      .fa {
        text-shadow: none;
        line-height: 2rem;
        font-size: 1rem;
        display: block;
        color: #fff;
        border-radius: 21px;
      }
    }

    .menu {
      @extend .d-flex;
      @extend .flex-column;
      @extend .justify-content-start;
      overflow-y: auto;
      min-width: $side-width;
      width: $side-width;

      a.item {
        border-radius: 0.5rem;
        border: solid 2px rgba($color: #000000, $alpha: 0);
        color: lighten($body-bg, 30);
        display: block;
        display: block;
        margin: 0 6px 1px;
        padding: 0.2rem;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.7s;
        transition: color 0.7s;

        .fa {
          line-height: 1rem;
          font-size: 1rem;
        }

        .label {
          font-size: 0.8rem;
          display: none;
        }

        span {
          font-size: 0.7rem;
          display: block;
        }

        &:hover {
          color: #fff;
        }

        &.active {
          background: lighten($color: $dark, $amount: 10%);
          color: #fff;
        }

        &.highlight {
          > a {
            color: #fff;

            span {
              margin: 0;
            }
          }
        }
      }

      &::-webkit-scrollbar-track {
        background-color: none;
      }

      &::-webkit-scrollbar {
        width: 3px;
        background-color: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: lighten($dark, 7);
      }
    }

    .divider {
      @extend .mx-2;
      @extend .my-1;
      background: lighten($dark, 10);
      height: 1px;
    }

    .version {
      font-size: 0.5rem;
      color: lighten($dark, 10);
      padding: 0.5rem 0;
    }

    &.closed {
      width: 0;
      min-width: 0;
    }
  }

  .page-loader {
    position: absolute;
    opacity: 0.5;
    background: #fff;
    z-index: 100;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
  }

  .toggle {
    position: absolute;
    background: $dark;
    bottom: 25px;
    left: 5px;
    color: #fff;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 1;
  }

  > :last-child {
    @extend .d-flex;
    @extend .w-100;
    @extend .h-100;

    > :last-child {
      @extend .d-flex;
      @extend .w-100;
      @extend .h-100;
    }
  }
}

app-content {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-start;
  @extend .w-100;
  @extend .h-100;

  app-content-header {
    background: darken($body-bg, 1%);
    border-bottom: solid 1px darken($body-bg, 5%);

    .header-bar {
      @extend .d-flex;
      @extend .flex-column;
      color: lighten($body-color, 15%);

      .header-bar-title {
        @extend .d-flex;
        @extend .flex-row;
        @extend .align-items-center;
        @extend .w-100;
        margin-top: 5px;
        height: 46px;
        min-height: 46px;

        .header-icon {
          font-size: 30px;
          width: 48px;
          text-align: center;
        }

        .header-bar-title-divider {
          @extend .mx-2;
          height: 30px;
          width: 1px;
          background: darken($body-bg, 20%);
        }

        .header-body {
          @extend .d-flex;
          @extend .flex-column;
          @extend .justify-content-center;
          height: 100%;

          h1 {
            font-size: 1.3rem;
            margin: 0;
            font-weight: normal;
          }

          ul {
            @extend .text-muted;
            margin: 0;
            font-size: 0.6rem;
          }
        }

        .header-menu {
          @extend .ml-auto;

          .dropdown-toggle {
            .fa {
              @extend .text-muted;
            }
          }
        }

        &.has-tabs {
          padding-bottom: 0;
        }
      }

      .header-bar-tabs {
        @extend .mt-auto;
        @extend .p-0;

        .nav-tabs {
          border-bottom: none;

          .nav-item {
            @extend .mr-1;

            .nav-link {
              @extend .text-muted;
              @extend .py-1;

              &.active {
                color: lighten($body-color, 5%);
              }

              &:hover {
                border-bottom: none;
              }
            }
          }
        }
      }

      &.has-tabs {
        height: 94px;
        min-height: 94px;
      }
    }

    .dropdown-toggle {
      &::after {
        display: none;
      }
    }
  }

  app-content-body {
    @extend .w-100;
    @extend .h-100;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: auto;

    > div {
      @extend .h-100;
    }
  }
}

app-empty {
  @extend .h-100;
  @extend .w-100;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  color: #999;

  .empty {
    max-width: 300px;
    @extend .text-center;

    fa-icon {
      font-size: 3rem;
      width: 40px;
      height: 40px;
      margin: 0 auto;
    }

    .message {
      font-size: 1.5rem;
      font-weight: 300;
      padding: 0;
      margin: 0;
    }

    .submessage {
      font-size: 1rem;
      font-weight: 300;
      padding: 0;
    }
  }
}

app-footer {
  @extend .pt-2;
  @extend .text-center;
  width: 100%;
  display: block;
  font-size: 0.8rem;
  color: lighten($dark, 15);

  a {
    color: lighten($dark, 20);
  }
}

app-statusbar {
  @extend .d-flex;
  background: $primary;
  height: 20px;
  font-size: 0.5rem;
  color: #eee;
  z-index: 100;

  .item {
    @extend .align-self-end;
    padding: 0 7px;
    line-height: 20px;
    height: 100%;

    .fab,
    .fa {
      font-size: 0.4rem;
    }
  }

  a.item {
    background: none;
    border: none;
    color: #eee;
    border-radius: 0;

    &:hover {
      background: darken($primary, 10%);
      text-decoration: none;
    }
  }

  .divider {
    &:after {
      content: "";
      height: 10px;
      background: darken($primary, 5%);
      display: block;
      width: 1px;
      margin-top: 5px;
    }
  }

  .dropup .dropdown-toggle::after {
    display: none;
  }
}

app-spinner {
  display: block;
  height: 60px;
  padding: 2rem;
  width: 100%;
  height: 100%;
  position: relative;
}

app-setup {
  display: flex;
  width: 100%;
  height: 100%;

  .wrapper {
    @extend .d-flex;
    @extend .flex-column;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend .w-100;
    @extend .h-100;

    .box {
      max-height: 500px;
      max-width: 700px;
      height: 100%;
      width: 100%;

      .card {
        height: 100%;
        width: 100%;

        .card-body {
          @extend .p-4;
          height: 100%;
          overflow-y: auto;
        }

        .breadcrumb {
          @extend .m-2;
          min-height: 50px;

          .breadcrumb-item {
            &.active {
              color: $primary;
              font-weight: bold;
            }
          }
        }
      }
    }

    .footer {
      @extend .d-none;
      @extend .d-sm-block;
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .py-2;
    }

    .preview {
      @extend .p-2;
      @extend .rounded;
      @extend .bg-primary;
      @extend .text-light;
      font-size: 0.7rem;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $light;
      z-index: -1;
    }
  }
}

app-presentations-overview {
  .presentation-thumbnail {
    @extend .img-thumbnail;
    @extend .mr-3;
    height: 56px;
    width: 56px;
    padding: 2px;

    .img-thumb {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
    }

    .img-empty {
      position: relative;
      height: 100%;

      span {
        font-size: 1.5rem;
        color: #aaa;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -12px 0 0 -12px;
      }
    }
  }
}

app-presentations-presentation {
  .descCollToggle {
    float: right;
    font-size: 0.7rem;
    text-decoration: none;
    font-weight: 300;
  }

  .descColl {
    height: 24px;
    overflow: hidden;

    &.open {
      height: auto;
    }
  }

  .present {
    @extend .h-100;
    background-color: #ccc;
    background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px),
      linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

    > div {
      @extend .h-100;
    }
  }
}

app-boards-board {
  .media {
    margin-bottom: 1rem;
  }

  .card-chat {
    @extend .d-flex;
    @extend .w-100;
    @extend .h-100;

    .card-body {
      @extend .h-100;
      overflow-y: scroll;
      height: 100%;
      padding: 1rem;

      .nickname-avatar {
        width: 31px;
        height: 31px;
        border-radius: 5px 0 0 5px;
      }

      .msg-broke {
        @extend .p-2;
        @extend .bg-light;
        @extend .text-center;
        @extend .mb-2;
      }

      .msg-command {
        color: #ccc;
        text-align: center;
        padding: 2rem;
      }

      .msg-item {
        @extend .d-flex;
        @extend .justify-content-start;
        @extend .align-items-start;
        @extend .mb-2;

        .msg-avatar {
          @extend .mr-2;
          @extend .border;
          @extend .rounded-circle;
          width: 40px;
          height: 40px;
        }

        .msg-body {
          @extend .py-2;
          @extend .px-3;
          @extend .rounded;
          @extend .mr-2;
          background: #f6f6f6;
          box-shadow: 0.1rem 0.1rem 0 #eee;
          max-width: 80%;
        }

        .msg-time {
          display: none;
        }

        &.own {
          .msg-body {
            background: $primary;
            color: #fff;
          }
        }

        &:hover {
          .msg-time {
            display: inline;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: #ccc;
      }
    }

    .card-footer {
      padding: 0.5rem;
    }

    .card-footer {
      .form-control {
        // border-radius: 1rem;
        padding: 0.5rem 1rem;
      }
    }
  }
}

th {
  &.datetime {
    width: 160px;
  }
}
