@import "colors";
:host {
  .wrapper {
    overflow: hidden;
    .wrapper-main {
      height: 100%;
      .sidemenu {
        text-align: center;
        min-width: 50px;
        width: 50px;
        background: url("/assets/img/cartographer.png") repeat;
        z-index: 1000;
        .logo {
          margin: .7rem .5rem .2rem;
          padding-bottom: .5rem;
          border-bottom: solid 1px lighten($color-sidemenu-background, 5);
          img {
            width: 100%;
            filter: brightness(0) invert(1);
            opacity: .8;
          }
          .fa {
            text-shadow: none;
            line-height: 2rem;
            font-size: 1.3rem;
            display: block;
            color: #FFF;
          }
        }
        .items {
          overflow-y: auto;
          height: 100%;
          &::-webkit-scrollbar-track {
            background-color: none;
          }
          &::-webkit-scrollbar {
            width: 3px;
            background-color: none;
          }
          &::-webkit-scrollbar-thumb {
            background-color: darken($color-sidemenu-background, 5);
          }
          .item {
            display: block;
            &.menu {
              transition: color .7s;
              padding: 5px;
              .fa {
                line-height: 1rem;
                font-size: 1rem;
                display: block;
              }
              .label {
                font-size: .8rem;
                display: none;
              }
              >a {
                display: block;
                padding: .6rem;
                transition: background-color .7s;
                text-decoration: none;
                color: $color-sidemenu-font;
                border-radius: 50px;
                border: solid 1px rgba(0, 0, 0, 0);
                &:hover {
                  color: lighten($color-sidemenu-font, 15);
                  border: solid 1px darken($color-sidemenu-font, 15);
                }
              }
              &.active {
                >a {
                  color: $color-sidemenu-font;
                  border: solid 1px darken($color-sidemenu-font, 5);
                }
              }
              &.highlight {
                >a {
                  color: $color-sidemenu-font;
                  span {
                    margin: 0
                  }
                }
              }
            }
          }
        }
      }
      .main-container {
        .route-loading {
          position: absolute;
          opacity: 0;
          background: rgba(255, 255, 255, .8);
          z-index: -1;
          width: 100%;
          height: 100%;
          transition: opacity 1s;
          .fa {
            position: absolute;
            color: #aaa;
            left: 50%;
            top: 50%;
          }
          &.loading {
            opacity: 1;
            z-index: 100;
          }
        }
      }
    }
  }
}
