<div class="wrapper d-flex" *ngIf="!selectedAccount">
  loading...
</div>
<div class="wrapper d-flex" *ngIf="selectedAccount">
  <div class="sidemenu d-flex flex-column justify-content-start">
    <div class="logo">
      <a href="javascript:;" (click)="viewAccounts()">
        {{selectedAccount.alias}}
      </a>
    </div>
    <div class="items d-flex flex-column justify-content-start">
      <div class="item menu" ngbTooltip="Dashboard" placement="right" routerLinkActive="active">
        <a routerLink="/dashboard">
          <span class="fa fa-tachometer-alt"></span>
        </a>
      </div>
      <div class="item menu" ngbTooltip="Contacts" placement="right" routerLinkActive="active">
        <a routerLink="/contacts">
          <span class="fa fa-users"></span>
        </a>
      </div>
      <div class="item menu" ngbTooltip="Invoices" placement="right" routerLinkActive="active">
        <a routerLink="/invoices">
          <span class="fa fa-copy"></span>
        </a>
      </div>
      <div class="item menu" ngbTooltip="Presentations" placement="right" routerLinkActive="active">
        <a routerLink="/presentations">
          <span class="fa fa-desktop"></span>
        </a>
      </div>
      <div class="item menu" ngbTooltip="Chat" placement="right" routerLinkActive="active">
        <a routerLink="/chat">
          <span class="fa fa-comments"></span>
        </a>
      </div>
      <div class="item menu" ngbTooltip="Projects" placement="right" routerLinkActive="active">
        <a routerLink="/projects">
          <span class="fa fa-cubes"></span>
        </a>
      </div>
      <div class="mt-auto">
        <div class="item menu" ngbTooltip="Profile" placement="right" routerLinkActive="active">
          <a routerLink="/profile">
            <span class="fa fa-user-circle"></span>
          </a>
        </div>
        <div class="item menu" ngbTooltip="Settings" placement="right" routerLinkActive="active">
          <a routerLink="/settings">
            <span class="fa fa-cogs"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
