<div class="wrapper">
  <div class="sidemenu">
    <div class="logo">
      <img src="/assets/icons/favicon-32x32.png" alt="logo">
    </div>
    <div class="items">
      <div class="item menu" ngbTooltip="Dashboard" placement="right" routerLinkActive="active">
        <a routerLink="/dashboard">
          <fa-layers class="fa-fw">
            <fa-icon [icon]="['fas','tachometer-alt']"></fa-icon>
          </fa-layers>
        </a>
      </div>
      <ng-template ngFor let-item [ngForOf]="menu" *ngIf="menu.length">
        <div class="item menu" ngbTooltip="{{item.label}}" placement="right" routerLinkActive="active">
          <a [routerLink]="item.path">
            <fa-layers class="fa-fw">
              <fa-icon [icon]="item.icon"></fa-icon>
            </fa-layers>
          </a>
        </div>
      </ng-template>
    </div>
  </div>
  <div #pageLoader class="page-loader">
    <app-loader animation="sk-cube"></app-loader>
  </div>
  <router-outlet></router-outlet>
</div>
<app-status-bar></app-status-bar>
