@import "bootstrap";
@import "functions";
@import "colors";
:host {
  @extend .d-flex;
  @extend .flex-column;
  height: 100%;
  overflow: hidden;
  .wrapper {
    @extend .d-flex;
    @extend .flex-row;
    .sidemenu {
      @extend .d-flex;
      @extend .flex-column;
      @extend .justify-content-start;
      text-align: center;
      min-width: 50px;
      width: 50px;
      z-index: 1000;
      background: $color-background;
      .logo {
        margin: .7rem .5rem;
        .fa {
          text-shadow: none;
          line-height: 2rem;
          font-size: 1rem;
          display: block;
          color: #FFF;
          background: $color-primary;
          border-radius: 21px;
        }
      }
      .items {
        @extend .d-flex;
        @extend .flex-column;
        @extend .justify-content-start;
        overflow-y: auto;
        height: 100%;
        &::-webkit-scrollbar-track {
          background-color: none;
        }
        &::-webkit-scrollbar {
          width: 3px;
          background-color: none;
        }
        &::-webkit-scrollbar-thumb {
          background-color: darken($color-background, 5);
        }
        .item {
          display: block;
          &.menu {
            transition: color .7s;
            .fa {
              line-height: 1rem;
              font-size: 1rem;
            }
            .label {
              font-size: .8rem;
              display: none;
            }
            >a {
              display: block;
              transition: background-color .7s;
              text-decoration: none;
              height: 40px;
              color: lighten($color-background, 30);
              text-align: center;
              line-height: 40px;
              border-left: solid 2px rgba($color: #000000, $alpha: 0);
              margin-bottom: 2px;
              &:hover {
                color: get-text-color($color-background);
              }
            }
            &.active {
              >a {
                border-color: $color-primary;
                color: #FFF;
              }
            }
            &.highlight {
              >a {
                color: get-text-color($color-background);
                span {
                  margin: 0
                }
              }
            }
          }
        }
      }
    }
    .page-loader {
      position: absolute;
      opacity: 0;
      background: #ffffff85;
      z-index: -1;
      width: 100%;
      height: 100%;
      transition: opacity 1s;
      &.active {
        opacity: 1;
        z-index: 100;
      }
    }
    >:last-child {
      width: 100%;
    }
  }
}
