{{>_header}}
<div class="wrapper d-flex">
    {{>_sidebar_core}}
    <div class="content content-menu d-flex flex-column justify-content-start">
        <div class="container">
            <div class="content-header">MENU</div>
            <div class="content-body">
                <div class="row">
                    <div class="col-6">
                        <strong>Shortcuts</strong>
                        <ul class="list-unstyled">
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-user fa-fw"></span> Lorem ispum</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-building fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-tag fa-fw"></span> Doler nope</a>
                            </li>
                        </ul>
                        <strong>Latest Access</strong>
                        <ul class="list-unstyled">
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-clock-o fa-fw"></span> Lorem ispum</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-clock-o fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-clock-o fa-fw"></span> Doler nope</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-clock-o fa-fw"></span> Lorem ispum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-menu dark">
                            <li class="header">Invoices</li>
                            {{>_invoices_menu}} {{>_invoices_shortcuts}}
                        </ul>
                        <strong>Lorem</strong>
                        <ul class="list-unstyled">
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-clock-o fa-fw"></span> Lorem ispum</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-clock-o fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-clock-o fa-fw"></span> Doler nope</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-clock-o fa-fw"></span> Lorem ispum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <strong>Ipsum</strong>
                        <ul class="list-unstyled">
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-user fa-fw"></span> Lorem ispum</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-building fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-tag fa-fw"></span> Doler nope</a>
                            </li>
                        </ul>
                        <strong>Dolor</strong>
                        <ul class="list-unstyled">
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-clock-o fa-fw"></span> Lorem ispum</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-clock-o fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-clock-o fa-fw"></span> Doler nope</a>
                            </li>
                            <li>
                                <a href class="text-white">
                                    <span class="fa fa-clock-o fa-fw"></span> Lorem ispum</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {{>_copyright}}
        </div>
    </div>
</div>
{{>_footer}}