<ng-container *ngIf="(contacts$ | async) as contacts; loader">
  <common-content>
    <common-content-header title="Overview"></common-content-header>
    <common-content-body *ngIf="!showDataView">
      <ul class="list-group list-group-flush">
        <ng-container *ngFor="let contact of contacts">
          <a class="list-group-item list-group-item-action" [routerLink]="['/business/contact',contact['_id']]">
            {{contact.name}}
          </a>
        </ng-container>
      </ul>
      <hr>
      <ng-container *ngIf="contacts.length; empty">
        <pre>{{contacts|json:2}}</pre>
      </ng-container>
    </common-content-body>
  </common-content>
</ng-container>

<ng-template #loader>loading...</ng-template>
<ng-template #empty>empty</ng-template>
