:host {
  .btn-close {
    display: none;
    padding: 3px 6px;
    font-size: 0.8rem;
    margin-left: 1rem;
    border: none;
  }

  .items {
    > a:hover {
      .btn-close {
        display: block;
      }
    }
  }
}
