<div class="header-bar" [ngClass]="{'container':!fullWidth}">
  <div *ngIf="title" class="header-bar-title">
    <a *ngIf="route != null" [routerLink]="route" class="header-icon">
      <fa-layers class="fa-fw">
        <fa-icon [icon]="getIcon(icon)"></fa-icon>
      </fa-layers>
    </a>
    <div *ngIf="route == null" class="header-icon">
      <fa-layers class="fa-fw">
        <fa-icon [icon]="getIcon(icon)"></fa-icon>
      </fa-layers>
    </div>
    <div class="header-bar-title-divider"></div>
    <div class="header-body">
      <h1>{{title}}</h1>
      <ul class="list-inline" *ngIf="subtitle || details.length">
        <li class="list-inline-item" *ngIf="subtitle">
          {{subtitle}}
        </li>
        <ng-template ngFor let-item [ngForOf]="details" *ngIf="details.length">
          <li class="list-inline-item">
            {{item.label}}:
            <strong>{{item.value}}</strong>
          </li>
        </ng-template>
      </ul>
    </div>
    <div class="header-menu" *ngIf="settingsMenu.length>0">
      <div ngbDropdown placement="bottom-right" class="d-inline-block">
        <button class="btn btn-link" ngbDropdownToggle>
          <fa-layers class="fa-fw">
            <fa-icon [icon]="['fas','cog']"></fa-icon>
          </fa-layers>
        </button>
        <div ngbDropdownMenu>
          <ng-template ngFor let-item [ngForOf]="settingsMenu">
            <div *ngIf="item.isDivider" class="dropdown-divider"></div>
            <button *ngIf="!item.isDivider" class="dropdown-item {{item.cssClass}}" (click)="item.callback()">
              <fa-layers class="fa-fw" *ngIf="item.icon">
                <fa-icon [icon]="getIcon(item.icon)"></fa-icon>
              </fa-layers>
              {{item.label}}
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="tabsMenu" class="header-bar-tabs" [ngClass]="{'container':!fullWidth}">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let tab of tabsMenu.tabs" [ngClass]="{'ml-auto':tab.right}">
        <a class="nav-link" [ngClass]="{active:(tabsMenu.selected == tab.id)}" href="javascript:void(0);" (click)="tabsMenu.selected = tab.id">
          <fa-layers class="fa-fw" *ngIf="tab.icon">
            <fa-icon [icon]="getIcon(tab.icon)"></fa-icon>
          </fa-layers>
          {{tab.label}}
        </a>
      </li>
    </ul>
  </div>
</div>
