@import "theme";

$content-header-height: 42px;

:host {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;

  .header-title {
    @extend .d-flex;
    @extend .flex-row;
    @extend .align-items-center;
    @extend .w-100;
    height: $content-header-height;
    min-height: $content-header-height;

    .header-icon {
      @extend .mr-2;
      width: $content-header-height;
      font-size: 1.5rem;
      text-align: center;
      color: lighten($body-color, 20%);
      // border-right: solid 1px lighten($body-color, 30%);
    }

    .header-body {
      @extend .d-flex;
      @extend .flex-column;
      @extend .justify-content-center;
      height: 100%;

      h1 {
        font-size: 1.3rem;
        margin: 0;
        font-weight: normal;
      }

      ul {
        @extend .text-muted;
        margin: 0;
        font-size: 0.6rem;
      }
    }

    .header-menu {
      @extend .ml-auto;

      .dropdown-toggle {
        .fa {
          @extend .text-muted;
        }
      }
    }

    &.has-tabs {
      padding-bottom: 0;
    }
  }

  .header-tabs {
    @extend .mt-auto;
    @extend .p-0;

    .nav-tabs {
      border-bottom: none;

      .nav-item {
        @extend .mr-1;

        .nav-link {
          @extend .text-muted;
          @extend .py-1;

          &.active {
            color: lighten($body-color, 5%);
          }

          &:hover {
            border-bottom: none;
          }
        }
      }
    }
  }

  &.has-tabs {
    height: 94px;
    min-height: 94px;
  }
}

.dropdown-toggle {
  &::after {
    display: none;
  }
}
