<app-content>
    <app-content-breadcrumb [items]="[{label:'Overview'}]"></app-content-breadcrumb>
  <app-content-body>
    <ng-container *ngIf="(logs$ | async) as logs; else loader">
      <ng-container *ngIf="logs.length; else nologs">
        <table class="table table-sm">
          <thead>
            <tr>
              <th style="width:200px">Date</th>
              <th style="width:100px">From</th>
              <th style="width:100px">Type</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of logs | slice:0:30">
              <td>{{log.insertedAt | date:'yyyy-MM-dd - HH:mm:ss'}}</td>
              <td>{{log.insertedFrom}}</td>
              <td>{{log.type}}</td>
              <td>{{log.text}}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>

  </app-content-body>

</app-content>

<ng-template #nologs>
  <app-empty message="You don't have any logs yet" icon="file-alt:regular"></app-empty>
</ng-template>
<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>