<app-sidebar>
  <!-- <div class="title">
    <h4>Business</h4>
  </div> -->
  <div class="search">
    <input class="form-control" placeholder="quick search..." [ngbTypeahead]="search" [(ngModel)]="term"
      [resultFormatter]="formatter" (selectItem)="select($event)">
    <a routerLink="/business/search">advanced search</a>
  </div>
  <div class="divider"></div>
  <div class="menu mb-0">
    <div class="items">
      <button (click)="create()">
        <fa-icon icon="plus-circle"></fa-icon>
        <span>New Contact</span>
      </button>
    </div>
  </div>
  <div class="divider"></div>
  <div class="menu" *ngIf="opened">
    <div class="items">
      <div class="header d-flex">
        <span>Opened</span>
        <button class="btn btn-sm ml-auto" (click)="closeAll()"><small>close all</small></button>
      </div>
      <a *ngFor="let item of opened; let i = index" [routerLink]="item.route" routerLinkActive="active">
        <ng-container [ngSwitch]="item.type">
          <fa-icon *ngSwitchCase="'company'" icon="building"></fa-icon>
          <fa-icon *ngSwitchCase="'person'" icon="user-tie"></fa-icon>
          <fa-icon *ngSwitchCase="'order'" icon="shopping-basket"></fa-icon>
        </ng-container>
        <div class="content">
          <span>{{item.label}}</span>
          <!-- <small *ngIf="item.sublabel">{{item.sublabel}}</small> -->
        </div>
        <button (click)="close(i,$event)" class="btn btn-close py-0 px-1 text-center btn-outline-danger">
          <fa-icon [icon]="['fas','times']"></fa-icon>
        </button>
      </a>
    </div>
  </div>
  <div class="menu mt-auto">
    <div class="items">
      <a routerLink="/business/settings" routerLinkActive="active">
        <fa-icon icon="cog"></fa-icon>
        <span>Settings</span>
      </a>
    </div>
  </div>
</app-sidebar>
<router-outlet></router-outlet>
<ng-template #loader>
  <div class="text-center p-4">
    <fa-icon icon="sync" [spin]="true" size="lg"></fa-icon>
  </div>
</ng-template>
<ng-template #empty>
  <app-empty icon="desktop"></app-empty>
</ng-template>
<ng-template #noThumb>
  <fa-icon [icon]="['fas','desktop']"></fa-icon>
</ng-template>
