<common-sidebar>
  <div class="title">
    <h4>Business</h4>
  </div>
  <div class="search">
    <input class="form-control" placeholder="search...">
    <a routerLink="/busines/search">advanced search</a>
  </div>
  <div class="menu">
    <div class="items">
      <a routerLink="/business/overview" routerLinkActive="active">
        <fa-icon icon="users"></fa-icon>
        <span>Overview</span>
      </a>
      <button (click)="create()">
        <fa-icon icon="plus-circle"></fa-icon>
        <span>New Contact</span>
      </button>
    </div>
  </div>
  <div class="menu" *ngIf="opened">
    <div class="items">
      <div class="header">
        Opened 
        <button class="btn" (click)="closeAll()">close all</button>
      </div>
      <div class="divider"></div>
      <a *ngFor="let contact of opened" [routerLink]="['/business/contact',contact._id]" routerLinkActive="active">
        <div class="thumb">
          <ng-container *ngIf="contact.details.avatar; else noThumb">
            <div class="thumb-img" [ngStyle]="{'background-image': 'url('+contact.details.avatar+')'}"></div>
          </ng-container>
          <div class="indicator" *ngIf="contact.tags[0] === 'company'" style="background-color: #8E24AA">
            <fa-icon icon="building"></fa-icon>
          </div>
          <div class="indicator" *ngIf="contact.tags[0] === 'person'" style="background-color: #4A148C">
            <fa-icon icon="user"></fa-icon>
          </div>
        </div>
        <div class="content">
          <span>{{contact.name}}</span>
          <!-- <small *ngIf="contact.logs">{{contact.logs[contact.logs.length-1].date | date:"short"}}</small> -->
        </div>
      </a>
    </div>
  </div>
  <div class="menu mt-auto">
    <div class="items">
      <a routerLink="/business/settings" routerLinkActive="active">
        <fa-icon icon="cog"></fa-icon>
        <span>Settings</span>
      </a>
    </div>
  </div>
</common-sidebar>
<router-outlet></router-outlet>
<ng-template #loader>
  <div class="text-center p4">
    <fa-icon icon="sync" [spin]="true" size="lg"></fa-icon>
  </div>
</ng-template>
<ng-template #empty>
  <common-empty icon="desktop"></common-empty>
</ng-template>
<ng-template #noThumb>
  <fa-icon [icon]="['fas','desktop']"></fa-icon>
</ng-template>
