<app-sidebar>
  <div class="title">Business</div>
  <div class="search">
    <input class="form-control" placeholder="quick search..." [ngbTypeahead]="search" [(ngModel)]="term"
    [resultFormatter]="formatter" (selectItem)="select($event)">
    <a routerLink="/business/search">advanced search</a>
  </div>
  <div class="divider"></div>
  <div class="menu">
    <div class="items">
      <a routerLink="/business/contacts" routerLinkActive="active">
        <fa-icon icon="users" class="icon"></fa-icon>
        <span>contacts</span>
      </a>
      <a routerLink="/business/agreements" routerLinkActive="active">
        <fa-icon icon="signature" class="icon"></fa-icon>
        <span>agreements</span>
      </a>
      <a routerLink="/business/orders" routerLinkActive="active">
        <fa-icon icon="shopping-cart" class="icon"></fa-icon>
        <span>orders</span>
      </a>
      <a routerLink="/business/invoices" routerLinkActive="active">
        <fa-icon icon="file-invoice-dollar" class="icon"></fa-icon>
        <span>invoices</span>
      </a>
      <a routerLink="/business/stock" routerLinkActive="active">
        <fa-icon icon="warehouse" class="icon"></fa-icon>
        <span>stock</span>
      </a>
      <a routerLink="/business/services" routerLinkActive="active">
        <fa-icon icon="concierge-bell" class="icon"></fa-icon>
        <span>services</span>
      </a>
    </div>
  </div>
  <div class="menu mt-auto">
    <div class="items">
      <a routerLink="/business/settings" routerLinkActive="active">
        <fa-icon icon="cog"></fa-icon>
        <span>settings</span>
      </a>
    </div>
  </div>
</app-sidebar>
<router-outlet></router-outlet>
<ng-template #loader>
  <div class="text-center p-4">
    <fa-icon icon="sync" [spin]="true" size="lg"></fa-icon>
  </div>
</ng-template>
<ng-template #empty>
  <app-empty icon="desktop"></app-empty>
</ng-template>
<ng-template #noThumb>
  <fa-icon [icon]="['fas','desktop']"></fa-icon>
</ng-template>