<!-- Main Header -->
<header class="main-header">

    <span class="logo">
        <span class="logo-mini">BL</span>
    <span class="logo-lg">BALANCE</span>
    </span>

    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" push-menu role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="">
                    <a href="#" role="button" class="dropdown-toggle">
                        <span class="fa fa-search fa-fw"></span>
                    </a>
                </li>

                <li class="">
                    <a ui-sref="app.config" role="button" class="dropdown-toggle">
                        <span class="fa fa-cogs fa-fw"></span>
                    </a>
                </li>

                <li uib-dropdown class="dropdown">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu">
                                <li>
                                    <!-- start notification -->
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                                <!-- end notification -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>

                <li uib-dropdown class="dropdown">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                        Christos Georgiou
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a href="#">Profile</a> </li>
                        <li><a ui-sref="auth.logout">Sign out</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">

            <li ui-sref-active="active">
                <a href ui-sref="app.dashboard">
                    <i class="fa fa-dashboard fa-fw"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="app.reports">
                    <i class="fa fa-files-o fa-fw"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="app.reports">
                    <i class="fa fa-database fa-fw"></i>
                    <span>Storage</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="app.reports">
                    <i class="fa fa-comments-o fa-fw"></i>
                    <span>Messager</span>
                </a>
            </li>

            <li class="header">Contacts</li>
            <li ui-sref-active="active">
                <a href ui-sref="app.contacts.overview">
                    <i class="fa fa-building fa-fw"></i>
                    <span>Companies</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="app.persons.overview">
                    <i class="fa fa-users fa-fw"></i>
                    <span>Persons</span>
                </a>
            </li>

            <li class="header">Projects</li>
            <li ui-sref-active="active">
                <a href ui-sref="app.projects.overview">
                    <i class="fa fa-tasks fa-fw"></i>
                    <span>Projects / Tasks</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="app.tickets.overview">
                    <i class="fa fa-ticket fa-fw"></i>
                    <span>Support Tickets</span>
                    <i class="label label-primary pull-right">12</i>
                </a>
            </li>

            <li class="header">Sales</li>
            <li ui-sref-active="active">
                <a href>
                    <i class="fa fa-cubes fa-fw"></i>
                    <span>Lead Management</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href>
                    <i class="fa fa-cubes fa-fw"></i>
                    <span>Proposals</span>
                </a>
            </li>

            <li class="header">Accounting</li>
            <li ui-sref-active="active">
                <a href>
                    <i class="fa fa-cubes fa-fw"></i>
                    <span>Profit & Loss</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="app.invoices.overview">
                    <i class="fa fa-cubes fa-fw"></i>
                    <span>Invoices</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href>
                    <i class="fa fa-cubes fa-fw"></i>
                    <span>Payroll</span>
                </a>
            </li>

        </ul>
    </section>
</aside>

<div class="content-wrapper" ui-view></div>

<footer class="main-footer">
    2016 Balance v{{APP.version}} by <a href="{{APP.author.url}}">{{APP.author.name}}</a> -
    <a href="{{APP.repository}}">GitHub</a> -
    <a href ui-sref="app.static.terms">Terms</a> -
    <a href ui-sref="app.static.help">Help</a>
</footer>