<div class="login-wrapper">
    <div class="login-box">
        <div class="login-logo">
            BALANCE
            <br><small>{{APP.client.name}}</small>
        </div>
        <div class="box">
            <div class="box-body">

                <div class="alert alert-{{vm.Alert.Type}} text-center" style="margin:10px 0" ng-show="vm.Alert">
                    <strong>{{vm.Alert.Message}}</strong>
                    <p ng-if="vm.Alert.Details">{{vm.Alert.Details}}</p>
                </div>

                <form class="panel-body" ng-class="{loading: vm.loading}" ng-submit="vm.SignIn()" role="form">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input autofocus class="form-control input-lg" ng-model="vm.credentials.username" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input class="form-control input-lg" ng-model="vm.credentials.password" type="password" required/>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-lg btn-flat">Sign In</button>
                </form>

            </div>
        </div>
        <footer class="login-footer">
            2016 Balance v{{APP.version}} by <a href="{{APP.author.url}}">{{APP.author.name}}</a>
            <br>
            <a href="{{APP.repository}}">GitHub</a> -
            <a href ui-sref="app.static.terms">Terms</a> -
            <a href ui-sref="app.static.help">Help</a>
        </footer>
    </div>
</div>
<style>
    html,
    body,
    .wrapper {
        background-color: #f1f1f1 !important;
    }

    .login-logo {
        font-weight: 600;
    }

    .login-footer {
        text-align: center;
        font-size: 0.7em;
        color: #666;
    }
</style>
