<div class="wrapper">
  <a href="javascript:void(0)" (click)="toggleSidemenu()" class="toggle">
    <fa-layers class="fa-fw">
      <fa-icon [icon]="['fas','angle-right']"></fa-icon>
    </fa-layers>
  </a>
  <div class="sidemenu" [ngClass]="{closed: sidebarClosed }">
    <div class="profile">
      <a routerLink="/settings/profiles">
        <img src="/assets/icons/favicon-32x32.png" alt="logo">
      </a>
    </div>
    <div class="divider"></div>
    <div class="menu">
      <a class="item" routerLinkActive="active" routerLink="/dashboard">
        <fa-icon [icon]="['fas','tachometer-alt']"></fa-icon>
        <span>board</span>
      </a>
      <ng-template ngFor let-plugin [ngForOf]="enabledPlugins">
        <a class="item" routerLinkActive="active" [routerLink]="['/',plugin.id]" [ngStyle]="{color:plugin.color}">
          <fa-icon [icon]="plugin.icon"></fa-icon>
          <span>{{plugin.label}}</span>
        </a>
      </ng-template>
    </div>

    <div class="menu mt-auto mb-2">
      <a class="item" routerLink="/settings" routerLinkActive="active">
        <fa-icon [icon]="['fas','cog']"></fa-icon>
        <!-- <span>config</span> -->
      </a>
      <!-- <a href="javascript:void(0)" (click)="toggleSidemenu()" style="height:25px;">
          <fa-icon [icon]="['fas','angle-left']"></fa-icon>
        </a> -->
    </div>
    <div class="version">Balnc v{{version}}</div>
  </div>
  <div *ngIf="pageLoading" class="page-loader">
    <common-spinner></common-spinner>
  </div>
  <router-outlet></router-outlet>
</div>
<!-- <common-statusbar [version]="version" [profile]="profile"></common-statusbar> -->
