@import "theme";

:host {
  @extend .d-flex;
  @extend .flex-column;
  @extend .h-100;

  .main-wrapper {
    @extend .d-flex;
    @extend .h-100;
    overflow: hidden;
    background: darken($body-bg, 5);

    .container,
    .container-fluid{
      @extend .p-0;
    }

    .main-content {
      @extend .h-100;
      @extend .w-100;
      position: relative;

      .page-loader {
        position: absolute;
        opacity: 0.5;
        background: #fff;
        z-index: 100;
        width: 100%;
        height: 100%;
        transition: opacity 1s;
        left: 0;
        top: 0;
      }
    }
  }
}
