<common-sidebar>
  <div class="menu">
    <div class="header d-flex">
      <h4>Boards</h4>
    </div>
    <div class="input-group mb-2">
      <input class="form-control" placeholder="New board" [(ngModel)]="newBoard">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="addBoard()">
          <fa-layers class="fa-fw">
            <fa-icon [icon]="['fa','plus-circle']"></fa-icon>
          </fa-layers>
        </button>
      </div>
    </div>
    <div class="items">
      <ng-container *ngIf="(boards$ | async) as boards; else loader">
        <ng-container *ngIf="boards.length; else empty">
          <ng-template ngFor let-board [ngForOf]="boards">
            <a [routerLink]="['/boards',board.get('_id')]" routerLinkActive="active">
              <div class="thumb">
                <div class="thumb-img" [ngStyle]="{'background-image': 'url(https://api.adorable.io/avatars/48/'+board.name+'.png)'}"></div>
              </div>
              <div class="content">
                <span>{{board.name}}</span>
                <!-- <small *ngIf="board.messages$ && board.messages$.value.length">{{board.messages$.value.slice(-1)[0].text}}</small> -->
              </div>
              <span class="ml-auto badge badge-primary" *ngIf="unread[board.get('_id')]">{{unread[board.name]}}</span>
            </a>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="menu mt-auto">
    <div class="header d-flex">
      <h4>Persona</h4>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://api.adorable.io/avatars/200/{{boardService.nickname}}.png">
      <span class="badge badge-primary badge-nickname">{{boardService.nickname}}</span>
      <div class="card-footer p-0">
        <div class="input-group">
          <input class="form-control" placeholder="Nickname" [(ngModel)]="nickname">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="changePersona()">
              <fa-layers class="fa-fw">
                <fa-icon [icon]="['fa','check-circle']"></fa-icon>
              </fa-layers>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</common-sidebar>
<router-outlet></router-outlet>

<ng-template #empty>
  <common-empty></common-empty>
</ng-template>
<ng-template #loader>
  <common-loader icon="file-alt:regular" label="Loading boards"></common-loader>
</ng-template>
