<a href uib-dropdown-toggle>
    Options <span class="caret"></span>
  </a>
<ul class="uib-dropdown-menu">
  <li>
    <a href="#">
      <span class="fa fa-star"></span> Bookmarked</a>
  </li>
  <li>
    <a href ng-click="vm.Print()">
      <span class="fa fa-print"></span> Print Info Card</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href ng-click="vm.EditCompany()">
      Edit Details
    </a>
  </li>
  <li>
    <a href ng-click="vm.EditLogo()">
      Edit Logo
    </a>
  </li>
  <li>
    <a href>
      Merge Companies
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href>
      <span class="text-danger">
        Delete Company</span>
    </a>
  </li>
</ul>
