<app-content>
  <app-content-header title="Manage Projects" icon="cubes"></app-content-header>
  <app-content-body>
    <div class="btn-toolbar mb-4">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="create()">
          <span class="fa fa-plus-circle fa-fw"></span> New Project</button>
      </div>
      <div class="btn-group ml-auto">
        <button type="button" class="btn btn-secondary" (click)="showFilters = !showFilters">
          <span class="fa fa-filter fa-fw"></span> Filters</button>
      </div>
    </div>
    <div *ngIf="showFilters" class="card border-info">
      <div class="card-body">
        <h5 class="card-title">Filters</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <ng-container *ngIf="projects; else loader">
      <ng-container *ngIf="projects.length; else noItems">
        <table class="table table-max">
          <thead>
            <tr>
              <th>
                Show:
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-light btn-sm" ngbDropdownToggle>
                    {{typeFilterSelected}}
                  </button>
                  <div ngbDropdownMenu>
                    <button class="dropdown-item" *ngFor="let filter of typeFilters" (click)="setFilter(filter.label)">{{filter.label}}</button>
                  </div>
                </div>
              </th>
              <th class="text-center">Latest Task</th>
              <th class="text-center">Total Tasks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of projects">
              <td class="td-double">
                <div>
                  <span class="fa fa-star text-warning" *ngIf="project.isStarred"></span>
                  <a [routerLink]="['/team','projects',project._id]">{{project.name || '[Without name]'}}</a>
                  <span class="badge badge-secondary" *ngIf="project.isArchived">ARCHIVED</span>
                </div>
                <div class="description">{{project.description || 'Without description' | ellipsis:250}}</div>
              </td>
              <td class="td-large text-center text-muted" style="max-width:100px">
                <span *ngIf="!project.stats.latestTask">-</span>
                <span *ngIf="project.stats.latestTask" ngbTooltip="{{project.stats.latestTask.insertedAt}}" placement="top">{{project.stats.latestTask.insertedAt | amTimeAgo}}</span>
              </td>
              <td class="td-large text-center text-muted" style="max-width:100px">
                <span class="fas fa-tasks"></span> {{project.stats.tasksCounter}}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
    <ng-template #noItems>
      <app-empty message="You don't have any projects yet" submessage="Click create to add your first one" icon="cubes"></app-empty>
    </ng-template>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </app-content-body>
</app-content>
