@import "theme";

:host {
  @extend .h-100;
  @extend .w-100;
  @extend .d-flex;
  @extend .flex-column;

  .intro {
    font-size: 1.2rem;
    font-style: italic;
    color: $body-color;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
    border-bottom: solid 1px $light;
  }

  .topic {
    background-color: $primary;
    color: $primary-color;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px #999;
    fa-icon {
      margin-right: 1rem;
    }
  }

  .media {
    margin-bottom: 1rem;
  }

  .nickname-avatar {
    width: 31px;
    height: 31px;
    border-radius: 5px 0 0 5px;
  }

  .msg-broke {
    @extend .p-2;
    @extend .bg-light;
    @extend .text-center;
    @extend .mb-2;
  }

  .event-time,
  .msg-time {
    color: #999;
    font-size: 0.8rem;
    min-width: 50px;
    margin-right: 0.7rem;
    font-family: monospace;
    line-height: 30px;
    height: 30px;
  }

  .event-item,
  .msg-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.4rem;
  }

  .event-item {
    .event-text {
      font-size: 0.9rem;
      font-family: monospace;
      margin-left: .5rem;
      color: lighten($body-color,10%);
      font-style: italic;
      line-height: 30px;
      height: 30px;
    }
  }

  .date-saperator {
    text-align: center;
    font-size: 0.8rem;
    font-family: monospace;
    margin: 0.4rem 0;
    color: #999;
  }

  .msg-item {
    .msg-avatar {
      @extend .mr-2;
      width: 30px;
      height: 30px;
      img {
        @extend .rounded;
        @extend .border;
        width: 30px;
        height: 30px;
        opacity: 1;
        transition: all 0.2s ease;
      }
    }

    .msg-body {
      @extend .rounded;
      @extend .mr-2;
      @extend .overflow-hidden;
      background: #f6f6f6;
      box-shadow: 0.1rem 0.1rem 0 #eee;
      max-width: 80%;

      .img-preview {
        max-width: 300px;
      }

      .msg-image {
        background-color: #bbb;
      }

      .msg-text {
        padding: .2rem .5rem;
      }

      .msg-quote {
        @extend .d-flex;
        @extend .mx-2;
        @extend .mt-2;
        @extend .rounded;
        @extend .p-3;
        background-color: lighten($dark, 10%);
        div {
          @extend .mx-2;
          font-size: small;
        }
        fa-icon {
          font-size: 1rem;
        }
      }
    }

    .msg-menu {
      display: flex;
      transition: all 0.7s ease;
      opacity: 0;
      margin-left: 0.3rem;
      .dropdown-toggle {
        &:after {
          content: none;
        }
      }
    }

    &.own {
      .msg-body {
        background: #ececec;
      }
    }

    &:hover {
      .msg-menu {
        opacity: 1;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
  }
}

:host ::ng-deep .msg-item.own a {
  color: #fff !important;
  text-decoration: underline;
}
