<div class="wrapper page-chat d-flex">
  <div class="sidebar sidebar-core d-flex flex-column justify-content-start">
    <div class="item menu highlight" data-toggle="tooltip" data-placement="right" title="Menu">
      <a href="/menu.html">
        <span class="fa fa-bars fa-fw"></span>
      </a>
    </div>
    <div class="item menu " data-toggle="tooltip" data-placement="right" title="Dashboard">
      <a href="/index.html">
        <span class="fa fa-dashboard"></span>
      </a>
    </div>
    <div class="item menu " data-toggle="tooltip" data-placement="right" title="Lorem">
      <a href="/data.html">
        <span class="fa fa-building"></span>
      </a>
    </div>
    <div class="item menu " data-toggle="tooltip" data-placement="right" title="Invoices">
      <a href="/invoices/overview.html">
        <span class="fa fa-files-o"></span>
      </a>
    </div>
    <div class="item menu active" data-toggle="tooltip" data-placement="right" title="Chat">
      <a href="/chat.html">
        <span class="fa fa-comments"></span>
      </a>
    </div>
    <div class="mt-auto">
      <div class="item menu " data-toggle="tooltip" data-placement="right" title="Profile">
        <a href="/profile.html">
          <span class="fa fa-user-circle"></span>
        </a>
      </div>
      <div class="item menu " data-toggle="tooltip" data-placement="right" title="Settings">
        <a href="/settings.html">
          <span class="fa fa-cogs"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="sidebar sidebar-menu d-flex flex-column justify-content-start">
    <input class="form-control form-control-search" type="text" placeholder="search user...">
    <div class="d-flex justify-content-between">
      <a href class="text-white">New</a>
      <a href class="text-white">Advanced Search</a>
    </div>
    <ul class="list-menu dark">
      <li class="header">
        <span class="fa fa-thumb-tack fa-fw"></span> Pinned</li>
      <li class="active">
        <a href class="media">
          <span class="img-thumbnail">
            <span class="fa fa-users fa-fw"></span>
          </span>
          <span class="media-body">DevTeam
            <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
          </span>
        </a>
      </li>
      <li>
        <a href class="media">
          <span class="img-thumbnail">
            <span class="fa fa-users fa-fw"></span>
          </span>
          <span class="media-body"> Marketing
            <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
          </span>
        </a>
      </li>
      <li class="header">Today</li>
      <li>
        <a href class="media">
          <span class="img-thumbnail">
            <span class="fa fa-users fa-fw"></span>
          </span>
          <span class="media-body">Room#3
            <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
          </span>
        </a>
      </li>
      <li class="header">Monday</li>
      <li>
        <a href class="media">
          <img class="img-thumbnail" src="https://randomuser.me/api/portraits/thumb/women/34.jpg">
          <span class="fa fa-check status-indicator"></span>
          <span class="media-body"> Soula
            <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
          </span>
        </a>
      </li>
      <li class="header">Friday</li>
      <li>
        <a href class="media">
          <img class="img-thumbnail" src="https://randomuser.me/api/portraits/thumb/men/24.jpg">
          <span class="media-body"> Makis
            <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
          </span>
        </a>
      </li>
      <li>
        <a href class="media">
          <span class="img-thumbnail">
            <span class="fa fa-users fa-fw"></span>
          </span>
          <span class="media-body">Room#1
            <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
          </span>
        </a>
      </li>
      <li class="header">Older than a week</li>
      <li>
        <a href class="media">
          <img class="img-thumbnail" src="https://randomuser.me/api/portraits/thumb/men/54.jpg">
          <span class="media-body">
            <span class="badge badge-secondary pull-right">4</span>
            Sakis
            <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
          </span>
        </a>
      </li>
      <li>
        <a href class="media">
          <span class="img-thumbnail">
            <span class="fa fa-users fa-fw"></span>
          </span>
          <span class="media-body">Room#2
            <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
          </span>
        </a>
      </li>
      <li>
        <a href class="media">
          <span class="img-thumbnail">
            <span class="fa fa-users fa-fw"></span>
          </span>
          <span class="media-body">Room#3
            <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
          </span>
        </a>
      </li>
      <li>
        <a href class="media">
          <span class="img-thumbnail">
            <span class="fa fa-users fa-fw"></span>
          </span>
          <span class="media-body">Room#4
            <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="content d-flex flex-column justify-content-start">
    <div class="content-header">
      <div class="container">
        <div class="content-header-icon">
          <span class="fa fa-users fa-fw"></span>
        </div>
        <div class="content-header-body">
          <h1>DevTeam
            <small>
              <a href>
                <span class="fa fa-external-link"></span>
              </a>
            </small>
          </h1>
          <p>online: 15 - register: 44567 - last message: 2017-08-05</p>
        </div>
      </div>
    </div>
    <div class="content-body" style="height:100%">
      <div class="container d-flex align-items-stretch" style="height:100%">
        <div class="card border-dark" style="width:100%">
          <div #chat class="card-body" style="overflow:scroll;">
            <ul class="list-unstyled">
              <li class="media mb-3" *ngFor="let message of (messageObservable | async); index as i">
                <img style="width:42px;height:42px;padding:1px" class="d-flex mr-3 rounded-circle img-thumbnail" src="{{message.user.picture}}">
                <div class="media-body">
                  <h5 class="mb-1">{{message.user.name}}
                    <small class="text-muted pull-right">{{message.time|date:'medium'}}</small>
                  </h5>
                  <p class="mb-1">{{message.text}}</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-footer bg-dark mt-auto">
            <div class="input-group">
              <input (keyup.enter)="addOne()" [(ngModel)]="newMessage" class="form-control" type="text" placeholder="type your message...">
              <span class="input-group-btn">
                <button (click)="addOne()" class="btn btn-outline-primary">send</button>
              </span>
            </div>
            <div class="btn-group">
              <a href class="btn btn-link">
                <span class="fa fa-image"></span>
              </a>
              <a href class="btn btn-link">
                <span class="fa fa-list"></span>
              </a>
              <a href class="btn btn-link">
                <span class="fa fa-microphone"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
