@import "components/bootstrap";
@import "colors";
$color-side-bar-background: lighten($color-sidemenu-background, 5);
$color-side-bar-font: $color-sidemenu-font;
:host {
  height: 100%;
  .side-bar {
    @extend .p-2;
    height: 100%;
    min-width: 200px;
    width: 200px;
    background: $color-side-bar-background;
    .form-control-search {
      background: none;
      border: solid 1px lighten($color-side-bar-background, 20);
      color: $color-side-bar-font;
      transition: border .7s;
      margin-bottom: 1rem;
      &:focus {
        border-color: $color-side-bar-font;
      }
      &::placeholder {
        color: lighten($color-side-bar-font, 20);
      }
    }
    &::-webkit-scrollbar-track {
      background-color: none;
    }
    &::-webkit-scrollbar {
      width: 3px;
      background-color: none;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($color-side-bar-background, 5);
    }
  }
}

:host /deep/ .menu {
  overflow-y: auto;
  margin: 0 0 .5rem;
  padding: 0;
  color: #aaa;
  .header {
    @extend .mb-2;
    h4 {
      @extend .m-0;
      @extend .p-0;
      font-weight: 300;
      color: #aaa;
      .fa {
        font-size: .8rem;
      }
    }
    button {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-link;
      padding: .2rem;
      font-size: .8rem;
      color: #aaa;
    }
  }
  .items {
    a,
    button {
      outline: none;
      background: none;
      border-radius: 3px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
      padding: .1rem .3rem;
      color: #aaa;
      margin: 0 0 .1rem;
      border: none;
      width: 100%;
      text-align: left;
      .fa {
        font-size: .7rem;
        color: #999;
      }
      .badge {
        margin: .2rem 0;
      }
      &.active {
        background: lighten($color-side-bar-background, 10%);
        color: #FFF;
      }
      &:hover {
        background: lighten($color-side-bar-background, 5%);
        cursor: pointer;
        color: #FFF;
        .fa {
          color: #AAA;
        }
      }
      &:disabled {
        cursor: not-allowed;
        color: #666;
        background: $color-side-bar-background;
        .fa {
          color: #666;
        }
      }
      &.media {
        .img-thumbnail {
          float: left;
          margin: .3rem .3rem .3rem 0;
          background: none;
          width: 2rem;
          text-align: center;
          padding: 0;
          border-radius: 2rem;
          line-height: 2rem;
          .fa {
            font-size: 1rem;
          }
        }
        small {
          display: block;
          font-size: .7rem;
          color: rgba(255, 255, 225, 0.33);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
