<app-sidebar>
  <div class="title">Settings</div>
  <div class="menu">
    <div class="info">
      Profile: {{profile.name}} <a class="float-right" routerLink="/settings/profiles">
        <fa-icon icon='sync-alt'></fa-icon>
      </a>
    </div>
    <div class="items">
      <a routerLink="/settings/general" routerLinkActive="active">
        <fa-icon icon='cog'></fa-icon>
        <span>General</span>
      </a>
      <a routerLink="/settings/data" routerLinkActive="active">
        <fa-icon icon='sync-alt'></fa-icon>
        <span>Backup & Sync</span>
      </a>
      <a routerLink="/settings/plugins" routerLinkActive="active">
        <fa-icon icon='box'></fa-icon>
        <span>Plugins</span>
      </a>
    </div>
  </div>
  <div class="menu mt-auto">
    <div class="items">
      <a routerLink="/settings/profiles" routerLinkActive="active">
        <fa-icon icon="swatchbook"></fa-icon>
        <span>Profiles</span>
      </a>
      <a routerLink="/settings/help" routerLinkActive="active">
        <fa-icon icon="question-circle"></fa-icon>
        <span>Help</span>
      </a>
      <a routerLink="/settings/about" routerLinkActive="active">
        <fa-icon icon="info-circle"></fa-icon>
        <span>About</span>
      </a>
    </div>
  </div>
</app-sidebar>
<router-outlet></router-outlet>
<ng-template #empty>
  <app-empty></app-empty>
</ng-template>