<common-sidebar>
  <div class="menu">
    <div class="header">
      <h4>Configuration</h4>
      <div>{{profile.name}} <a class="float-right" routerLink="/settings/profiles">change</a></div>
    </div>
    <div class="items">
      <a routerLink="/settings/general" routerLinkActive="active">
        <fa-icon icon='cog'></fa-icon>
        <span>General</span>
      </a>
      <a routerLink="/settings/data" routerLinkActive="active">
        <fa-icon icon='sync-alt'></fa-icon>
        <span>Backup & Sync</span>
      </a>
      <a routerLink="/settings/plugins" routerLinkActive="active">
        <fa-icon icon='box'></fa-icon>
        <span>Plugins</span>
      </a>
    </div>
  </div>
  <div class="menu mt-auto mb-0">
    <div class="items">
      <a routerLink="/settings/profiles" routerLinkActive="active">
        <fa-icon icon="swatchbook"></fa-icon>
        <span>Profiles</span>
      </a>
      <a routerLink="/settings/help" routerLinkActive="active">
        <fa-icon icon="question-circle"></fa-icon>
        <span>Help</span>
      </a>
      <a routerLink="/settings/about" routerLinkActive="active">
        <fa-icon icon="info-circle"></fa-icon>
        <span>About</span>
      </a>
    </div>
  </div>
</common-sidebar>
<router-outlet></router-outlet>
<ng-template #empty>
  <common-empty></common-empty>
</ng-template>
