<div class="card-wrapper">
  <div class="card">
    <div class="card-body">
      <h1 class="display-4">Welcome to Balance!</h1>
      <p>Balance is a collection of business modules for managing simple operations of small companies and freelancers.</p>
      <p>It includes sales, marketing and accounting tools and it is both open source and free under the MIT license.</p>
      <p>Balance using an internal profile manager for storing localy all your personal information. Losing access to your computer
        means that you are losing access to you data.</p>
      <p>Online sync and backup functionality is available.</p>
      <p>If you want to find more about the project you may contact me directly.</p>
    </div>
    <div class="card-body text-white bg-warning">
      <h4 class="display-4">Warning</h4>
      <p>This application is a MOCK-UP and is under heavy development. You SHOULD NOT be used for any other propose rather than
        showcase the underline technologies and the implementation approach.</p>
      <div class="text-right">
        <button class="btn btn-dark" (click)="Ok()">
          <span class="fa fa-check-circle"></span> Understood. GO!</button>
      </div>
    </div>
  </div>
</div>
