@import "theme";

:host {
  .item {
    @extend .mb-1;
    display: flex;
    align-items: center;

    .action {
      @extend .d-flex;
      @extend .flex-row;
      @extend .align-items-center;
      @extend .w-100;
      flex-grow: 1;
      background: none;
      padding: 0.2rem !important;
      border: none;
      text-align: left;
      outline: none !important;
      box-shadow: none !important;

      .thumb {
        @extend .bg-dark;
        @extend .rounded;
        @extend .mr-2;
        @extend .d-flex;
        @extend .justify-content-center;
        @extend .align-items-center;
        @extend .border;
        @extend .border-light;
        position: relative;
        height: 34px;
        width: 34px;
        min-width: 34px;

        .thumb-img {
          @extend .h-100;
          @extend .w-100;
          background-size: cover;
          background-position: center;
          overflow: hidden;

          img {
            @extend .img-fluid;
            height: 34px;
            width: 34px;
          }
        }

        .indicator {
          // @extend .border;
          // @extend .border-light;
          background: #222;
          position: absolute;
          bottom: -4px;
          right: -4px;
          height: 16px;
          width: 16px;
          line-height: 14px;
          font-size: 0.6rem;
          text-align: center;
          border-radius: 8px;
          color: #fff;
          box-shadow: 1px 1px 3px #222;
        }
      }

      > fa-icon:first-child,
      .icon {
        @extend .ml-1;
        @extend .mr-2;
        text-align: center;
        width: 1.2rem;
        min-width: 1.2rem;
        font-size: 0.8rem;

        &.icon-badge {
          @extend .mr-0;
          @extend .ml-auto;
        }
      }

      > span {
        @extend .d-block;
        @extend .text-truncate;
      }

      .content {
        @extend .d-flex;
        @extend .flex-column;
        @extend .flex-grow-1;
        @extend .text-truncate;
        line-height: 1rem;

        span {
          @extend .d-block;
          @extend .text-truncate;
        }

        small {
          @extend .d-block;
          @extend .text-truncate;
          font-size: 0.6rem;
          line-height: 0.6rem;
          margin-top: 0.1rem;
          color: $body-color;
        }
      }

      &.primary {
        @extend .btn-primary;
        border-width: 1px;
      }

      &.success {
        @extend .btn-success;
        border-width: 1px;
      }

      &.danger {
        @extend .btn-danger;
        border-width: 1px;
      }

      &.disabled,
      &:disabled {
        cursor: not-allowed;
        color: lighten($body-color, 5%);
        background: $body-bg;
      }

      &.media {
        .img-thumbnail {
          float: left;
          margin: 0.3rem 0.3rem 0.3rem 0;
          background: none;
          width: 2rem;
          text-align: center;
          padding: 0;
          border-radius: 2rem;
          line-height: 2rem;

          .fa {
            font-size: 1rem;
          }
        }

        small {
          display: block;
          font-size: 0.7rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    button.action {
      @extend .btn;
      &.active,
      &:hover {
        background: darken($body-bg, 5%);
      }
    }

    .expand {
      border: none;
      padding: 0;
      width: 25px;
      min-width: 25px;
      height: 25px;
      border-radius: 100%;
      line-height: 25px;
      background: none;
      &:hover {
        background: #fff;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .submenu {
    margin-left: 1.5rem;
    height: 0;
    overflow: hidden;
    &.expanded {
      height: auto;
    }
  }
}
