@import "theme";

:host {
  @extend .d-block;
  @extend .w-100;

  &:after {
    @extend .d-block;
    @extend .mt-4;
    @extend .mx-auto;
    content: "";
    width: 50%;
    height: 1px;
    background: #eee;
  }

  &.padding {
    @extend .p-4;
  }

  &.full{
    @extend .h-100;
    &:after {
      @extend .d-none;
    }
  }
}
