@import "theme";

:host {
  .media {
    margin-bottom: 1rem;
  }

  .nickname-avatar {
    width: 31px;
    height: 31px;
    border-radius: 5px 0 0 5px;
  }

  .msg-broke {
    @extend .p-2;
    @extend .bg-light;
    @extend .text-center;
    @extend .mb-2;
  }

  .msg-command {
    color: #ccc;
    text-align: center;
    padding: 2rem;
  }

  .msg-item {
    @extend .d-flex;
    @extend .justify-content-start;
    @extend .align-items-start;
    @extend .mb-2;

    .msg-avatar {
      @extend .mr-2;
      @extend .border;
      @extend .rounded-circle;
      width: 40px;
      height: 40px;
    }

    .msg-body {
      @extend .rounded;
      @extend .mr-2;
      @extend .overflow-hidden;
      background: #f6f6f6;
      box-shadow: 0.1rem 0.1rem 0 #eee;
      max-width: 80%;

      .img-preview {
        max-width: 300px;
      }
    }

    .msg-time {
      display: none;
    }

    &.own {
      .msg-body {
        background: $primary;
        color: #fff;
      }
    }

    &:hover {
      .msg-time {
        display: inline;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
  }
}

:host ::ng-deep .msg-item.own a{
  color: #fff !important;
  text-decoration: underline;
}
