@import "theme";

:host {
  @extend .d-flex;
  @extend .h-100;
  @extend .w-100;

  .sidebar {
    @extend .p-3;
    @extend .bg-light;
    @extend .border-right;
    @extend .h-100;
    @extend .overflow-auto;
    width: 250px;
    min-width: 250px;

    &:empty {
      display: none !important;
    }
  }

  .wrapper {
    @extend .h-100;
    @extend .flex-grow-1;
    @extend .d-flex;
    @extend .flex-column;

    .content {
      @extend .flex-grow-1;
      @extend .overflow-auto;
    }
  }
}

:host ::ng-deep .title {
  border-bottom: solid 1px #eee;
  section {
    padding: 1rem 2rem !important;
    font-size: xx-large;
    font-weight: lighter;
  }
  .container{
    padding: 0 !important;
  }
  &:empty {
    display: none !important;
  }
}

:host ::ng-deep .sidebar {
  .menu {
    @extend .list-group;
    @extend .mb-3;
    a {
      @extend .list-group-item;
      @extend .list-group-item-action;
      @extend .py-2;
      @extend .px-3;
      &.active {
        @extend .bg-dark;
        @extend .border-dark;
      }
    }
  }
}

:host ::ng-deep .wrapper section {
  @extend .w-100;
  @extend .p-4;
  position: relative;

  .app-toolbar {
    @extend .rounded;
  }

  &.no-padding {
    @extend .p-0;
  }

  &.no-border {
    &:after {
      @extend .d-none;
    }
  }

  &:after {
    @extend .d-block;
    @extend .mt-4;
    @extend .mx-auto;
    position: absolute;
    content: "";
    width: 400px;
    left: calc(50% - 200px);
    height: 1px;
    background: #eee;
  }

  &:last-child {
    &:after {
      @extend .d-none;
    }
  }
}
