@import "components/bootstrap";

$side-width:70px;

:host {
  @extend .d-flex;
  @extend .flex-column;
  height: 100%;
  overflow: hidden;

  .wrapper {
    @extend .d-flex;
    @extend .flex-row;

    .sidemenu {
      @extend .d-flex;
      @extend .flex-column;
      @extend .justify-content-start;
      text-align: center;
      min-width: $side-width;
      width: $side-width;
      z-index: 1000;
      background: $dark;
      transition: all .5s;
      overflow: hidden;

      .logo {
        @extend .d-flex;
        @extend .justify-content-center;
        @extend .align-items-center;
        min-width: $side-width;
        width: $side-width;
        height: $side-width;

        .fa {
          text-shadow: none;
          line-height: 2rem;
          font-size: 1rem;
          display: block;
          color: #FFF;
          border-radius: 21px;
        }
      }

      .items {
        @extend .d-flex;
        @extend .flex-column;
        @extend .justify-content-start;
        overflow-y: auto;
        min-width: $side-width;
        width: $side-width;
        height: 100%;

        &::-webkit-scrollbar-track {
          background-color: none;
        }

        &::-webkit-scrollbar {
          width: 3px;
          background-color: none;
        }

        &::-webkit-scrollbar-thumb {
          background-color: lighten($dark, 7);
        }

        .item {
          display: block;

          &.menu {
            transition: color .7s;

            .fa {
              line-height: 1rem;
              font-size: 1rem;
            }

            .label {
              font-size: .8rem;
              display: none;
            }

            >a {
              display: block;
              transition: background-color .7s;
              text-decoration: none;
              // height: 40px;
              color: lighten($body-bg, 30);
              text-align: center;
              // line-height: 32px;
              border: solid 2px rgba($color: #000000, $alpha: 0);
              margin-bottom: 2px;
              padding: .25rem 0;

              span {
                font-size: .7rem;
                display: block;
              }

              &:hover {
                color: #FFF;
              }
            }

            &.active {
              >a {
                border-left-color: #FFF;
                color: #FFF;
              }
            }

            &.highlight {
              >a {
                color: #FFF;

                span {
                  margin: 0
                }
              }
            }
          }
        }
      }

      .divider {
        @extend .mx-2;
        @extend .my-1;
        background: lighten($dark, 10);
        height: 1px;
      }

      &.closed {
        width: 0;
        min-width: 0;
      }
    }

    .page-loader {
      position: absolute;
      opacity: .8;
      background: #000;
      z-index: 100;
      width: 100%;
      height: 100%;
      transition: opacity 1s;
    }

    .toggle {
      position: absolute;
      background: $dark;
      bottom: 25px;
      left: 5px;
      color: #FFF;
      border-radius: 20px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      z-index: 1;
    }
  }
}


:host .wrapper /deep/>:last-child,
:host .wrapper /deep/>:last-child /deep/>:last-child {
  @extend .d-flex;
  @extend .w-100;
  @extend .h-100;
}
