<div class="btn-toolbar">
  <button class="btn btn-primary" ng-click="vm.AddPerson()">
    <span class="fa fa-user-plus fa-fw"></span> Person
  </button>
</div>

<div class="panel-empty" ng-if="!vm.Persons.length">
  No persons were found
</div>

<div class="list-group list-group-open" ng-if="vm.Persons.length">
  <div class="list-group-item" ng-repeat="Person in vm.Persons">
    <div class="media">
      <div class="media-left">
        <a href ng-click="vm.EditPerson(Person)">
          <img ng-if="Person.avatar" class="media-object img-circle img-thumbnail" ng-src="{{Person.avatar}}" style="height:40px;width:40px" />
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <a href ng-click="vm.EditPerson(Person)">{{Person.fullname}}</a>
          <small>{{Person.job}}</small>
        </h4>
        <ul class="list-inline">
          <li ng-if="Person.phones.length"><a href="tel:{{Person.phones[0]}}">{{Person.phones[0]}}</a></li>
          <li ng-if="Person.emails.length"><a href="mailto:{{Person.emails[0]}}">{{Person.emails[0]}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
