<div class="content d-flex flex-column justify-content-start">
  <app-content-header [title]="'Presentations'" [icon]="'desktop'"></app-content-header>
  <div class="content-body">
    <div class="container">
      <div class="btn-toolbar mb-4">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-primary" (click)="create()">
            <span class="fa fa-plus-circle fa-fw"></span> Create</button>
        </div>
      </div>

      <app-empty-panel *ngIf="!presentations.length && !loading" message="There are no presentations yet"></app-empty-panel>

      <table *ngIf="presentations.length" class="table table-hover">
        <tbody>
          <tr *ngFor="let presentation of presentations">
            <td style="width:150px">
              <img class="img-thumbnail mr-3" [src]="presentation._image">
            </td>
            <td class="flex-column align-items-start mb-auto">
              <h5 class="mb-0">{{presentation.title}}</h5>
              <div class="text-secondary">
                <small>{{presentation.dateCreated | date:'medium'}} - Version: {{presentation._docVersion}}</small>
              </div>
              <div *ngIf="presentation.description">
                <hr class="mt-1 mb-2">
                <p class="text-muted">{{presentation.description | ellipsis:250}}</p>
              </div>
            </td>
            <td class="text-center" style="width:100px">
              <a [routerLink]="['/presentations/item',presentation._id]" class="btn btn-outline-primary">Open</a>
            </td>
          </tr>
        </tbody>
      </table>
      <pre>{{presentations|json:2}}</pre>
    </div>
  </div>
</div>
