<app-content>
  <app-content-header title="Presentations" icon="desktop"></app-content-header>

  <app-content-body>

    <div class="btn-toolbar mb-4">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-primary" (click)="create()">
          <span class="fa fa-plus-circle fa-fw"></span> Create</button>
      </div>
    </div>

    <ng-container *ngIf="presentations$ | async as presentations; else loader">
      <ng-container *ngIf="presentations.length; else noItems">

        <table class="table table-max">
          <thead>
            <tr>
              <th>Presentation</th>
              <th>Size</th>
              <th>Last Edit</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let presentation of presentations">
              <td>
                <div class="d-flex flex-row align-items-start">
                  <div class="presentation-thumbnail">
                    <ng-container *ngIf="presentationImages[presentation._id] | async as image; else noImg">
                      <div class="img-thumb" [ngStyle]="{'background-image': 'url('+image+')'}"></div>
                    </ng-container>
                  </div>
                  <div class="d-flex flex-column align-items-start">
                    <strong>{{presentation.title || '[Without title]'}}</strong>
                    <small class="text-muted">{{presentation.description || '[Without title]' | ellipsis:250}}</small>
                  </div>
                </div>
              </td>
              <td>
                <ng-container *ngIf="presentationFilesize[presentation._id] | async as filesize; else noPages">
                  {{filesize | bytes:0}}
                </ng-container>
              </td>
              <td>
                <div class="d-flex flex-column align-items-start">
                  <span>{{getLastEdit(presentation)}}</span>
                  <small class="text-muted">{{presentation.dateUpdated | date:'medium'}}</small>
                </div>
              </td>
              <td class="text-center" style="width:100px">
                <a [routerLink]="['/presentations',presentation._id]" class="btn btn-sm btn-outline-primary">Open</a>
              </td>
            </tr>
          </tbody>
        </table>

        <app-debug-panel [data]="presentations"></app-debug-panel>
      </ng-container>
    </ng-container>
    <ng-template #noItems>
      <app-empty-panel message="You don't have any presentations yet" submessage="Click create to add your first one" icon="desktop"></app-empty-panel>
    </ng-template>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
    <ng-template #noImg>
      <div class="img-empty">
        <span class="fa fa-picture-o"></span>
      </div>
    </ng-template>
    <ng-template #noPages>
      -
    </ng-template>
  </app-content-body>
</app-content>
