<div class="content d-flex flex-column justify-content-start">
  <div class="content-header">
    <div class="container">
      <div class="content-header-icon">
        <span class="fa fa-tv"></span>
      </div>
      <div class="content-header-body">
        <h1>Presentations</h1>
        <ul class="list-inline">
          <li class="list-inline-item">Total:
            <strong>{{presentations.length}}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="container">
      <div class="btn-toolbar mb-4">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-primary" (click)="create()">
            <span class="fa fa-plus-circle fa-fw"></span> Create</button>
        </div>
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-primary" (click)="upload()">
            <span class="fa fa-plus-circle fa-fw"></span> upload</button>
        </div>
      </div>

      <div *ngIf="!presentations.length" class="alert alert-secondary text center">
        <p class="lead">There are no presentations yet</p>
        <p>Create your first one here</p>
      </div>
      <table *ngIf="presentations.length" class="table table-hover">
        <tbody>
          <tr *ngFor="let presentation of presentations">
            <td style="width:150px">
              <img class="img-thumbnail mr-3" [src]="presentation.image">
            </td>
            <td class="flex-column align-items-start mb-auto">
              <h5 class="mb-0">{{presentation.title}}</h5>
              <div class="text-secondary">
                <small>{{presentation.dateCreated | date:'long'}}</small>
              </div>
              <div *ngIf="presentation.description">
                <hr class="mt-1 mb-2">
                <p class="text-muted">{{presentation.description | ellipsis:250}}</p>
              </div>
            </td>
            <td>
              <a [routerLink]="['/presentations/item',presentation._id]" class="btn btn-outline-primary">Open</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
