@import "~bootstrap/scss/bootstrap";
:host {
  display: flex;
  width: 100%;
  height: 100%;
  .presentation-thumbnail {
    @extend .img-thumbnail;
    @extend .mr-3;
    height: 56px;
    width: 56px;
    padding: 2px;
    .img-thumb {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .img-empty {
      position: relative;
      height: 100%;
      span {
        font-size: 1.5rem;
        color: #aaa;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -12px 0 0 -12px;
      }
    }
  }
}
