// @import "../scss/balance-theme.scss";
$color-dark: #333333;
$color-base: #448AFF;
$color-second: #00AA72;
@import "../scss/components/bootstrap";
@import "../scss/components/core";
@import "../scss/components/sidebar";
@import "../scss/components/content";
@import "../scss/components/centerbox";
@import "../scss/components/invoice";
@import "../scss/components/chat";
@import "../scss/components/list-menu";
