// @import "./node_modules/@balance/theme/scss/balance-theme.scss";
$color-dark: #333333;
$color-base: #448AFF;
$color-second: #00AA72;
@import "./node_modules/@balance/theme/scss/components/bootstrap";
@import "./node_modules/@balance/theme/scss/components/core";
@import "./node_modules/@balance/theme/scss/components/sidebar";
@import "./node_modules/@balance/theme/scss/components/content";
@import "./node_modules/@balance/theme/scss/components/centerbox";
@import "./node_modules/@balance/theme/scss/components/invoice";
@import "./node_modules/@balance/theme/scss/components/chat";
@import "./node_modules/@balance/theme/scss/components/list-menu";
