<div class="btn-toolbar">
  <button class="btn btn-primary" ng-click="vm.AddCredit()">
    <span class="fa fa-plus-square fa-fw"></span> Credit
  </button>
  <button class="btn btn-primary" ng-click="vm.AddDebit()">
    <span class="fa fa-minus-square fa-fw"></span> Debit
  </button>
  <button class="btn btn-default" ng-click="vm.Print()">
    <span class="fa fa-print fa-fw"></span> Print
  </button>
  <div class="btn-group pull-right">
    <div class="btn-group" uib-dropdown>
      <button class="btn btn-default" uib-dropdown-toggle>
        Filter
        <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu pull-right">
        <li><a href ng-click="vm.ReloadChart('DD/MM/YYYY')">+-1 Month</a></li>
        <li><a href ng-click="vm.ReloadChart('[W]ww MM/YYYY')">+-3 Months</a></li>
        <li><a href ng-click="vm.ReloadChart('MM/YYYY')">All Transactions</a></li>
      </ul>
    </div>
    <div class="btn-group" uib-dropdown>
      <button class="btn btn-default" uib-dropdown-toggle>
        Chart
        <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu pull-right">
        <li class="dropdown-header">Group By</li>
        <li><a href ng-click="vm.ReloadChart('DD/MM/YYYY')">Daily</a></li>
        <li><a href ng-click="vm.ReloadChart('[W]ww MM/YYYY')">Weekly</a></li>
        <li><a href ng-click="vm.ReloadChart('MM/YYYY')">Monthly</a></li>
      </ul>
    </div>
  </div>
</div>

<div ng-class="{loading:vm.loading}">

  <div class="panel-empty" ng-if="!vm.Transactions.length">
    No transactions were found
  </div>

  <div ng-if="vm.Transactions.length && !vm.loading">

    <canvas class="chart chart-line" chart-labels="vm.Chart.labels" chart-data="vm.Chart.data" chart-options="vm.Chart.options"></canvas>

    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th style="width:25px;"></th>
            <th nowrap>Date</th>
            <th nowrap>Description</th>
            <th class="text-right" style="width:100px;">Amount</th>
            <th class="text-right" style="width:100px;">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="Transaction in vm.Transactions">
            <td>
              <button class="btn btn-link btn-xs">
                <span class="fa fa-pencil"></span>
              </button>
            </td>
            <td>{{Transaction.date | date:"dd-MM-yyyy"}}</td>
            <td>{{Transaction.description}}</td>
            <td class="text-right">{{Transaction.amount|currency}}</td>
            <td class="text-right">{{Transaction.total|currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
