<div class="btn-toolbar">
  <div class="btn-group btn-group-xs">
    <button class="btn btn-primary btn-outline" ng-click="vm.AddLottery()">
      <span class="fa fa-plus fa-fw"></span> New Lottery
    </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12" ng-class="{loading:vm.loading}">

    <div class="empty" ng-if="!vm.Lotteries.length && !vm.loading">
      No lotteries yet
    </div>

    <div class="list-group" ng-if="vm.Lotteries.length">
      <div class="list-group-item" ng-repeat="Lottery in vm.Lotteries">
      <a ui-sref="app.lotteries.lottery({ID:Lottery.id})">
          <h4 class="list-group-item-heading">{{::Lottery.Name}}</h4>
        </a>
        <p class="list-group-item-text">
          Drew at
          <strong>{{::Lottery.DrewAt|date:'medium'}}</strong>, {{::Lottery.DrewAt|fromNow}}
        </p>
      </div>
    </div>
  </div>

</div>
