<common-content>
  <common-content-header [title]="board.name" icon="comments:regular" [tabsMenu]="tabsMenu"></common-content-header>
  <common-content-body *ngIf="tabsMenu.selected === 'messages'" class="h-100">
    <div class="card card-chat d-flex h-100">
      <div #messageList class="card-body">
        <ng-container *ngIf="(messages$ | async) as messages; else loader">
          <ng-container *ngIf="messages.length else emptyMessages">
            <ng-template ngFor let-m [ngForOf]="messages">
              <ng-container [ngSwitch]="m.type">
                <ng-container *ngSwitchCase="'MESSAGE'">
                  <div class="msg-item" [ngClass]="{'own':m.sender === boardService.nickname}">
                    <img class="msg-avatar" src="https://api.adorable.io/avatars/40/{{m.sender}}.png" [ngbTooltip]="m.sender"
                      placement="bottom">
                    <div class="msg-body">
                      {{m.text}}
                    </div>
                    <small class="msg-time text-secondary" [ngbTooltip]="m.timestamp | date:'medium'">
                      {{m.timestamp | dfnsDistanceInWordsToNow}}</small>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="'CMD-CREATE'">
                  <div class="msg-command">
                    <strong>{{m.data.user}}</strong> created
                    <strong>{{m.board}}</strong> at
                    <strong>{{m.timestamp|date:'medium'}}</strong>
                  </div>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <div class="msg-broke">
                    Message can not be rendered
                  </div>
                </ng-container>
              </ng-container>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
      <div class="card-footer">
        <input #messageInput class="form-control" placeholder="type message..." [(ngModel)]="inputMessage"
          (keydown.enter)="send()">
        <div class="d-flex mt-2">
          <div>
            <button type="button" class="ml-auto btn btn-link">
              <fa-icon [icon]="['fas','image']"></fa-icon>
            </button>
            <button type="button" class="ml-auto btn btn-link">
              <fa-icon [icon]="['fas','paperclip']"></fa-icon>
            </button>
          </div>
          <button type="button" class="ml-auto btn btn-outline-primary" (click)="send()">
            <fa-icon [icon]="['far','paper-plane']"></fa-icon> send
          </button>
        </div>
      </div>
    </div>
  </common-content-body>

  <common-content-body *ngIf="tabsMenu.selected === 'files'">
    <h4>Files</h4>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, quas quis. Velit ipsum amet quibusdam similique ad
    asperiores
    dolores. Deleniti libero ex harum accusamus consectetur ipsa ipsam nihil, sed eaque!
  </common-content-body>

  <common-content-body *ngIf="tabsMenu.selected === 'manage'">
    <div class="mx-auto" style="max-width: 600px;">
      <h4>Manage Board</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex align-items-center px-0 py-1">
          <div class="flex-grow-1 text-danger">
            <h5 class="mb-0">
              Delete board
            </h5>
            <small class="text-muted">Delete board will remove all messages and files. This is not reversable</small>
          </div>
          <button type="button" class="btn btn-outline-danger btn-sm" style="min-width:100px;" (click)="delete();">
            Delete
          </button>
        </li>
      </ul>
    </div>
  </common-content-body>
</common-content>

<ng-template #emptyMessages>
  <common-empty message="No messages yet" icon="comments:regular"></common-empty>
</ng-template>
<ng-template #loader>
  <common-spinner label="Loading"></common-spinner>
</ng-template>
