@import "theme";

:host {
  @extend .d-flex;
  @extend .h-100;
  @extend .w-100;

  .sidebar {
    @extend .p-3;
    @extend .bg-light;
    @extend .h-100;
    @extend .overflow-auto;
    width: 250px;
    min-width: 250px;

    &:empty {
      display: none !important;
    }

    &.leftbar{
      @extend .border-right;
    }
    &.rightbar{
      @extend .border-left;
    }
  }

  .wrapper {
    @extend .h-100;
    @extend .flex-grow-1;
    @extend .d-flex;
    @extend .flex-column;

    .title {
      border-bottom: solid 1px #eee;
    }

    .content {
      @extend .flex-grow-1;
      @extend .d-flex;
      @extend .flex-column;
      @extend .overflow-auto;
      &.container {
        @extend .p-0;
      }
    }
  }
}

:host ::ng-deep .sidebar {
  .header{
    border-bottom: solid 1px darken($light,10%);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  .menu {
    @extend .list-group;
    @extend .mb-3;
    a {
      @extend .list-group-item;
      @extend .list-group-item-action;
      @extend .py-2;
      @extend .px-3;
      &.active {
        @extend .bg-dark;
        @extend .border-dark;
      }
    }
  }
}

:host ::ng-deep .wrapper {
  .title {
    section {
      @extend .px-4;
      @extend .py-3;
      font-size: x-large;
      font-weight: lighter;
    }
    .container {
      padding: 0 !important;
    }
    &:empty {
      display: none !important;
    }
  }
  .content {
    section {
      @extend .w-100;
      @extend .p-4;
      position: relative;

      h4{
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 1rem;
      }

      &.no-padding {
        @extend .p-0;
      }

      &.full {
        @extend .flex-grow-1;
        @extend .overflow-auto;
      }

      &.no-border {
        &:after {
          @extend .d-none;
        }
      }

      &:after {
        @extend .d-block;
        @extend .mt-4;
        @extend .mx-auto;
        position: absolute;
        content: "";
        width: 400px;
        left: 1rem;//calc(50% - 200px);
        height: 1px;
        background: #eee;
      }

      &:last-child {
        &:after {
          @extend .d-none;
        }
      }
    }
    &.container {
      section{
        &.no-padding{
          @extend .px-4;
        }
      }
      app-toolbar {
        @extend .rounded;
      }
    }
  }
}
