{{>_header}}
<div class="wrapper page-chat d-flex">
    {{>_sidebar_core sel_chat=true}}
    <div class="sidebar sidebar-menu d-flex flex-column justify-content-start">
        <input class="form-control form-control-search" type="text" placeholder="search user...">
        <div class="d-flex justify-content-between">
            <a href class="text-white">New</a>
            <a href class="text-white">Advanced Search</a>
        </div>
        {{>_chat_threads}}
    </div>
    <div class="content d-flex flex-column justify-content-start">
        <div class="content-header">
            <div class="container">
                <div class="content-header-icon">
                    <span class="fa fa-users"></span>
                </div>
                <div class="content-header-body">
                    <h1>DevTeam
                        <small>
                            <a href>
                                <span class="fa fa-external-link"></span>
                            </a>
                        </small>
                    </h1>
                    <p>online: 15 - register: 44567 - last message: 2017-08-05</p>
                </div>
            </div>
        </div>
        <div class="content-body" style="height:100%">
            <div class="container d-flex align-items-stretch" style="height:100%">
                <div class="card d-flex flex-column justify-content-start">
                    <div id="chat" class="card-body" style="overflow:auto;">
                        <ul class="list-unstyled">
                            <li class="media mb-3">
                                <img class="d-flex mr-3 rounded-circle img-thumbnail" src="https://randomuser.me/api/portraits/thumb/men/83.jpg">
                                <div class="media-body">
                                    <h5 class="mb-1">Sakis
                                        <small class="text-muted pull-right">2015-05-05 15:43</small>
                                    </h5>
                                    <p class="mb-1">Cras sit amet nibh libero, in gravida nulla.</p>
                                    <p class="mb-1">Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img class="d-flex mr-3 rounded-circle img-thumbnail" src="https://randomuser.me/api/portraits/thumb/women/74.jpg">
                                <div class="media-body">
                                    <h5 class="mb-1">Toula
                                        <small class="text-muted pull-right">2015-05-05 15:43</small>
                                    </h5>
                                    <p class="mb-1">
                                        <img class="img-thumbnail" src="http://lorempixel.com/output/abstract-q-c-640-480-4.jpg">
                                    </p>
                                    <p class="mb-1">Cras sit amet nibhante sollicitudin. </p>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img class="d-flex mr-3 rounded-circle img-thumbnail" src="https://randomuser.me/api/portraits/thumb/women/84.jpg">
                                <div class="media-body">
                                    <h5 class="mb-1">Soula
                                        <small class="text-muted pull-right">2015-05-05 15:43</small>
                                    </h5>
                                    <p class="mb-1">Cras sit amet nibhante sollicitudin. </p>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img class="d-flex mr-3 rounded-circle img-thumbnail" src="https://randomuser.me/api/portraits/thumb/women/74.jpg">
                                <div class="media-body">
                                    <h5 class="mb-1">Toula
                                        <small class="text-muted pull-right">2015-05-05 15:43</small>
                                    </h5>
                                    <p class="mb-1">
                                        <img class="img-thumbnail" src="http://lorempixel.com/output/abstract-q-c-640-480-2.jpg">
                                    </p>
                                    <p class="mb-1">Cras sit amet nibhante sollicitudin. </p>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img class="d-flex mr-3 rounded-circle img-thumbnail" src="https://randomuser.me/api/portraits/thumb/men/84.jpg">
                                <div class="media-body">
                                    <h5 class="mb-1">Makis
                                        <small class="text-muted pull-right">2015-05-05 15:43</small>
                                    </h5>
                                    <p class="mb-1">Cras sit amet nibh libero. </p>
                                    <p class="mb-1">Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img class="d-flex mr-3 rounded-circle img-thumbnail" src="https://randomuser.me/api/portraits/thumb/men/85.jpg">
                                <div class="media-body">
                                    <h5 class="mb-1">Lakis
                                        <small class="text-muted pull-right">2015-05-05 15:43</small>
                                    </h5>
                                    <p class="mb-1">Donec lacinia congue felis in faucibus.</p>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img class="d-flex mr-3 rounded-circle img-thumbnail" src="https://randomuser.me/api/portraits/thumb/women/74.jpg">
                                <div class="media-body">
                                    <h5 class="mb-1">Toula
                                        <small class="text-muted pull-right">2015-05-05 15:43</small>
                                    </h5>
                                    <p class="mb-1">
                                        <img class="img-thumbnail" src="http://lorempixel.com/output/abstract-q-c-640-480-10.jpg">
                                    </p>
                                    <p class="mb-1">Cras sit amet nibhante sollicitudin. </p>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img class="d-flex mr-3 rounded-circle img-thumbnail" src="https://randomuser.me/api/portraits/thumb/men/83.jpg">
                                <div class="media-body">
                                    <h5 class="mb-1">Sakis
                                        <small class="text-muted pull-right">2015-05-05 15:43</small>
                                    </h5>
                                    <p class="mb-1">Cras sit amet nibh libero, in gravida nulla.</p>
                                    <p class="mb-1">Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img class="d-flex mr-3 rounded-circle img-thumbnail" src="https://randomuser.me/api/portraits/thumb/women/50.jpg">
                                <div class="media-body">
                                    <h5 class="mb-1">Koula
                                        <small class="text-muted pull-right">2015-05-05 15:43</small>
                                    </h5>
                                    <p class="mb-1">Cras sit amet nibh libero?</p>
                                    <p class="mb-1">
                                        <p>lorem
                                            <span class="text-muted">4 votes</span>
                                        </p>
                                        <div class="progress mb-2" style="height: 4px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="height: 4px; width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <p>ipsum
                                            <span class="text-muted">8 votes</span>
                                        </p>
                                        <div class="progress mb-2" style="height: 4px;">
                                            <div class="progress-bar bg-info" role="progressbar" style="height: 4px; width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <p>dolor
                                            <span class="text-muted">16 votes</span>
                                        </p>
                                        <div class="progress mb-2" style="height: 4px;">
                                            <div class="progress-bar bg-warning" role="progressbar" style="height: 4px; width: 75%" aria-valuenow="75" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <p>amet
                                            <span class="text-muted">32 votes</span>
                                        </p>
                                        <div class="progress mb-2" style="height: 4px;">
                                            <div class="progress-bar bg-danger" role="progressbar" style="height: 4px; width: 100%" aria-valuenow="100" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </p>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img class="d-flex mr-3 rounded-circle img-thumbnail" src="https://randomuser.me/api/portraits/thumb/women/84.jpg">
                                <div class="media-body">
                                    <h5 class="mb-1">Soula
                                        <small class="text-muted pull-right">2015-05-05 15:43</small>
                                    </h5>
                                    <p class="mb-1">Cras sit amet nibhante sollicitudin. </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer mt-auto">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="type your message...">
                            <span class="input-group-btn">
                                <button class="btn btn-outline-primary">send</button>
                            </span>
                        </div>
                        <div class="btn-group">
                            <a href class="btn btn-link">
                                <span class="fa fa-image"></span>
                            </a>
                            <a href class="btn btn-link">
                                <span class="fa fa-list"></span>
                            </a>
                            <a href class="btn btn-link">
                                <span class="fa fa-microphone"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ml-4" style="width:400px;">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        var elem = document.getElementById("chat")
        elem.scrollTop = elem.scrollHeight;
    })();

</script>
{{>_footer}}