{{>_header}}
<div class="wrapper wrapper-dark d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div class="centerbox">
            <h1>BALANCE</h1>
            <div class="card">
                <div class="card-body">
                    <h2 class="mb-3">SIGN IN</h2>
                    <form>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"> remember me
                            </label>
                        </div>
                        <div class="form-group m-0">
                            <a href="index.html" class="btn btn-block btn-outline-primary">Sign In</a>
                        </div>
                    </form>
                    <div class="more">
                        <p>Don't have an account?
                            <a href="signup.html">Sign Up</a>
                        </p>
                        <p>Forgot your password?
                            <a href="reset.html">Reset</a>
                        </p>
                    </div>
                </div>
            </div>
            {{>_copyright}}
        </div>
    </div>
</div>
{{>_footer}}