<app-content>
  <app-content-header [title]="(project$|async)?.name" subtitle="Project" icon="cube"></app-content-header>
  <app-content-body>
    <div class="btn-toolbar mb-4">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-primary" (click)="createTask()">
          <span class="fa fa-plus-circle fa-fw"></span> New Task</button>
      </div>
    </div>
    <ng-container *ngIf="tasks$ | async as tasks; else loader">
      <ng-container *ngIf="tasks.length; else noItems">
        <table class="table table-max">
          <tbody>
            <tr *ngFor="let task of tasks">
              <td>
                <div class="d-flex flex-column align-items-start">
                  <ng-container [ngSwitch]="task.status">
                    <span class="badge badge-primary" *ngSwitchCase="'PENDING'">PENDING</span>
                    <span class="badge badge-success" *ngSwitchCase="'COMPLETE'">COMPLETE</span>
                  </ng-container>
                </div>
              </td>
              <td>
                <div class="d-flex flex-column align-items-start">
                  <a [routerLink]="['/projects/tasks',task._id]" class="task-title">{{task.title || '[Without title]'}}</a>
                  <small class="text-muted">opened
                    <strong>{{task.insertedAt | amTimeAgo}}</strong> ago by
                    <strong>{{task.insertedFrom}}</strong> - {{task.log.length}}
                    <span class="far fa-comments"></span>
                  </small>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <app-debug-panel [data]="tasks"></app-debug-panel>
      </ng-container>
    </ng-container>
    <ng-template #noItems>
      <app-empty-panel message="You don't have any tasks yet" submessage="Click create to add your first one" icon="cube"></app-empty-panel>
    </ng-template>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </app-content-body>
</app-content>
