<app-content>
  <app-content-header [title]="project.name" subtitle="Project" icon="cube" [tabsMenu]="tabsMenu"></app-content-header>
  <app-content-body>
    <div class="btn-toolbar mb-4">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-primary" (click)="createTask()">
          <span class="fa fa-plus-circle fa-fw"></span> New Task</button>
      </div>
    </div>
    <ng-container *ngIf="tasks.length; else noItems">
      <table class="table">
        <thead>
          <tr>
            <th>Status</th>
            <th>Details</th>
            <th>Opened</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>
              <div class="d-flex flex-column align-items-start">
                <ng-container [ngSwitch]="task.status">
                  <span class="badge badge-primary" *ngSwitchCase="'PENDING'">PENDING</span>
                  <span class="badge badge-success" *ngSwitchCase="'COMPLETE'">COMPLETE</span>
                </ng-container>
              </div>
            </td>
            <td>
              <a [routerLink]="['/projects/tasks',task._id]" class="task-title">{{task.title}}</a>
            </td>
            <td>
              opened
              <strong>{{task.insertedAt | amTimeAgo}}</strong> ago by
              <strong>{{task.insertedFrom}}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noItems>
      <app-empty-panel message="You don't have any tasks yet" submessage="Click create to add your first one" icon="tasks"></app-empty-panel>
    </ng-template>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </app-content-body>
</app-content>
