<app-content>
  <div class="bg-light">
    <div class="container">
      <ol class="breadcrumb mb-0 bg-light">
        <li class="breadcrumb-item active">{{project?.name}}</li>
      </ol>
    </div>
  </div>

  <app-content-body>
    <div class="btn-toolbar">
      <div>Show</div>
      <select class="form-control form-control-sm mx-2" style="width: 60px" [(ngModel)]="pLength"
        (change)="calcPages()">
        <option *ngFor="let length of lengths" [ngValue]="length">{{length}}</option>
      </select>
      <div>of <strong>{{issuesLength}}</strong> issues with status</div>
      <select class="form-control form-control-sm mx-2" style="width: 100px" [(ngModel)]="filters.status"
        (change)="calcPages();changedFilters()">
        <option [ngValue]="null">Any</option>
        <option *ngFor="let is of issueStatuses" [ngValue]="is.key">{{is.alias}}</option>
      </select>
      <div class="ml-auto">
        <ul class="pagination pagination-sm mb-0" *ngIf="pages.length">
          <li class="page-item">
            <button class="page-link" (click)="goPrevious()">Previous</button>
          </li>
          <li class="page-item" [ngClass]="{active:p === page}" *ngFor="let p of pages">
            <button class="page-link" (click)="page = p">{{p+1}}</button>
          </li>
          <li class="page-item">
            <button class="page-link" (click)="goNext()">Next</button>
          </li>
        </ul>
      </div>
    </div>

    <ng-container *ngIf="(issues$ | async) as issues; else loader">
      <ng-container *ngIf="(issues | filterIssues:filters).length; else noissues">

        <table class="table table-sm">
          <thead>
            <tr>
              <th style="width:100px">Status</th>
              <th>Issue</th>
              <th style="width:350px">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let issue of issues | filterIssues:filters | slice:pStart:pEnd">
              <td>
                <span class="badge badge-dark w-100"
                  [ngStyle]="{'background-color':getStatus(issue.status).color}">{{getStatus(issue.status).alias}}</span>
              </td>
              <td>
                <a [routerLink]="['/projects/project',issue.projectId,'issue',issue['_id']]">{{issue.title}}</a>
              </td>
              <td>
                {{issue.insertedAt | dfnsDistanceInWordsToNow}} ago by
                {{issue.insertedFrom}}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>

    <ng-template #empty>
      <app-empty message="You don't have any issues yet" submessage="Click create to add your first one" icon="issues">
      </app-empty>
    </ng-template>
    <ng-template #loader>
      <app-spinner></app-spinner>
    </ng-template>
  </app-content-body>
</app-content>