<app-content>
  <div class="bg-light">
    <div class="container">
      <ol class="breadcrumb mb-0 bg-light">
        <li class="breadcrumb-item"><a [routerLink]="['/projects']">Projects</a></li>
        <li class="breadcrumb-item active">{{project?.name}}</li>
      </ol>
    </div>
  </div>
  <app-content-body>
    <div *ngIf="tabsMenu.selected ==='tasks'">
      <div class="btn-toolbar">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-primary" (click)="createTask()">
            <span class="fa fa-plus-circle fa-fw"></span> New Task</button>
        </div>
      </div>
      <ng-container *ngIf="tasks; else loader">
        <ng-container *ngIf="tasks.length; else empty">
          <table class="table">
            <thead>
              <tr>
                <th>Status</th>
                <th>Details</th>
                <th>Opened</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasks">
                <td>
                  <div class="d-flex flex-column align-items-start">
                    <ng-container [ngSwitch]="task.status">
                      <span class="badge badge-primary" *ngSwitchCase="'PENDING'">PENDING</span>
                      <span class="badge badge-success" *ngSwitchCase="'COMPLETE'">COMPLETE</span>
                    </ng-container>
                  </div>
                </td>
                <td>
                  <a [routerLink]="['/projects/project',project['_id'],'task',task['_id']]" class="task-title">{{task.title}}</a>
                </td>
                <td>
                  opened
                  <strong>{{task.insertedAt | dfnsDistanceInWordsToNow}}</strong> ago by
                  <strong>{{task.insertedFrom}}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </ng-container>
    </div>
    <div *ngIf="tabsMenu.selected ==='settings'">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h4 class="lead mb-4">Project Settings</h4>
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <button class="btn btn-outline-secondary float-right">Change</button>
                <strong>Project details</strong>
                <p class="text-light">Change name and description</p>
              </li>
              <li class="list-group-item">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat eligendi eius a praesentium beatae
                commodi est adipisci doloremque ducimus esse in modi tempora molestias unde consequatur cupiditate sed,
                rerum quidem.
              </li>
              <li class="list-group-item">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
              </li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ng-template #empty>
      <app-empty message="You don't have any tasks yet" submessage="Click create to add your first one" icon="tasks"></app-empty>
    </ng-template>
    <ng-template #loader>
      <app-spinner></app-spinner>
    </ng-template>
  </app-content-body>
</app-content>
