@import "theme";

:host {
  .descCollToggle {
    float: right;
    font-size: 0.7rem;
    text-decoration: none;
    font-weight: 300;
  }

  .descColl {
    height: 24px;
    overflow: hidden;

    &.open {
      height: auto;
    }
  }

  .present {
    @extend .h-100;
    background-color: #ccc;
    background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px),
      linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

    > div {
      @extend .h-100;
    }
  }
}
