<app-content>
  <div class="bg-light">
    <div class="container">
      <ol class="breadcrumb mb-0 bg-light">
        <li class="breadcrumb-item active">Settings</li>
      </ol>
    </div>
  </div>
  <app-content-body>
    <div class="list-group-settings">
      <div class="list-group-item">
        <h5>Random Data</h5>
        <p>You may generate some random data. A few projects will be created and some issues in each project. Keep in
          mind that all data are permant. We suggest to generate random data in a non-production profile</p>
        <button class="btn btn-action btn-primary" (click)="generateDemoData()">Generate Random Data</button>
      </div>
    </div>
  </app-content-body>
</app-content>

<ng-template #noProjects>
  <app-empty message="No projects" icon="file-alt:regular"></app-empty>
</ng-template>
<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>