<div class="wrapper d-flex">
  <div class="sidebar sidebar-core d-flex flex-column justify-content-start">
    <div class="logo">
      <a>
        <span class="fa fa-balance-scale fa-fw fa-2x"></span>
      </a>
    </div>
    <div class="items d-flex flex-column justify-content-start">
      <div class="item menu" data-toggle="tooltip" data-placement="right" title="Dashboard" routerLinkActive="active">
        <a routerLink="/dashboard">
          <span class="fa fa-dashboard"></span>
        </a>
      </div>
      <div class="item menu" data-toggle="tooltip" data-placement="right" title="Contacts" routerLinkActive="active">
        <a routerLink="/contacts">
          <span class="fa fa-users"></span>
        </a>
      </div>
      <div class="item menu" data-toggle="tooltip" data-placement="right" title="Invoices" routerLinkActive="active">
        <a routerLink="/invoices">
          <span class="fa fa-files-o"></span>
        </a>
      </div>
      <div class="item menu" data-toggle="tooltip" data-placement="right" title="Presentations" routerLinkActive="active">
        <a routerLink="/presentations">
          <span class="fa fa-desktop"></span>
        </a>
      </div>
      <div class="item menu" data-toggle="tooltip" data-placement="right" title="Chat" routerLinkActive="active">
        <a routerLink="/chat">
          <span class="fa fa-comments"></span>
        </a>
      </div>
      <div class="mt-auto">
        <div class="item menu" data-toggle="tooltip" data-placement="right" title="Profile" routerLinkActive="active">
          <a routerLink="/profile">
            <span class="fa fa-user-circle"></span>
          </a>
        </div>
        <div class="item menu" data-toggle="tooltip" data-placement="right" title="Settings" routerLinkActive="active">
          <a routerLink="/settings">
            <span class="fa fa-cogs"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
