@import "variables";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .timeline-wrapper {
    display: flex;
    flex-direction: column-reverse;
    .timeline {
    }
  }

  .intro {
    font-size: 1.2rem;
    font-style: italic;
    color: $body-color;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
    border-bottom: solid 1px $gray-400;
  }

  .topic {
    background-color: $primary;
    color: color-yiq($primary);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin: 1rem 1rem 0;
    border-radius: 0.2rem;
    box-shadow: 0 0 5px #999;
    span {
      margin-right: 1rem;
    }
  }

  .media {
    margin-bottom: 1rem;
  }

  .nickname-avatar {
    width: 31px;
    height: 31px;
    border-radius: 5px 0 0 5px;
  }

  .msg-broke {
    padding: 1rem;
    background-color: $gray-400;
    text-align: center;
    margin-bottom: 1rem;
  }

  .event-time,
  .msg-time {
    color: #999;
    font-size: 0.8rem;
    min-width: 55px;
    margin-right: 0.7rem;
    font-family: monospace;
    line-height: 30px;
    height: 30px;
  }

  .event-item,
  .msg-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.4rem;
  }

  .event-item {
    .event-text {
      font-size: 0.9rem;
      font-family: monospace;
      margin-left: 0.5rem;
      color: lighten($body-color, 10%);
      font-style: italic;
      line-height: 30px;
      height: 30px;
    }
  }

  .date-saperator {
    text-align: center;
    font-size: 0.8rem;
    font-family: monospace;
    margin: 0.4rem 0;
    color: #999;
  }

  .msg-item {
    .msg-avatar {
      width: 30px;
      height: 30px;
      img {
        border-radius: 0.5rem;
        border: solid 1px $gray-400;
        width: 30px;
        height: 30px;
        opacity: 1;
        transition: all 0.2s ease;
      }
    }

    .msg-body {
      border-radius: 0.5rem;
      margin: 0 0.5rem;
      overflow: hidden;
      background: $gray-100;
      box-shadow: 0.1rem 0.1rem 0 #eee;
      max-width: 80%;

      .img-preview {
        max-width: 300px;
      }

      .msg-image {
        background-color: #bbb;
      }

      .msg-text {
        padding: 0.2rem 0.5rem;
      }

      .msg-quote {
        border-radius: 0.5rem;
        display: flex;
        margin: 0.5rem 0.5rem 0;
        padding: 0.5rem;
        background-color: $white;
        > div {
          margin: 0 1rem;
          font-size: small;
        }
        span {
          font-size: 1rem;
        }
      }
    }

    .msg-menu {
      display: flex;
      transition: all 0.7s ease;
      opacity: 0;
      margin-left: 0.3rem;
      .dropdown-toggle {
        &:after {
          content: none;
        }
      }
    }

    &.own {
      .msg-body {
        background: $gray-300;
      }
    }

    &:hover {
      .msg-menu {
        opacity: 1;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
  }
}
