<app-content>
  <app-content-header title="Backup & Sync" icon="sync-alt"></app-content-header>
  <app-content-body>
    <div class="btn-toolbar">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-outline-dark" (click)="export()">
          <fa-icon [icon]="['fas','file-export']"></fa-icon> Export
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="import()">
          <fa-icon [icon]="['fas','file-import']"></fa-icon> Import
        </button>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h4>Remote database</h4>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [(ngModel)]="profile.remoteSync">
            <label class="form-check-label" for="defaultCheck1">
              Enable real-time synchronization with remote.
            </label>
          </div>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Use this option for make real-time backup of your data and access the same data from multiple devices.
            Some modules may require this option to work.
          </small>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Host</label>
              <input name="balnc-db-host" autocomplete="off" [disabled]="!profile.remoteSync"
                [(ngModel)]="profile.remoteHost" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="form-label">Username</label>
              <input name="balnc-db-username" autocomplete="off" [disabled]="!profile.remoteSync"
                [(ngModel)]="profile.remoteUsername" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="form-label">Password</label>
              <input name="balnc-db-password" autocomplete="off" [disabled]="!profile.remoteSync"
                [(ngModel)]="profile.remotePassword" class="form-control" type="password">
            </div>
          </div>
        </div>
        <div class="d-flex align-items-right">
          <button class="btn btn-success" (click)="save()">Save</button>
        </div>
      </div>
    </div>

    <h4>Export Data</h4>
    <p> You may export all profile data to json format as a backup or to move to another client.</p>
    <div class="d-flex">
      <button class="btn btn-outline-primary mr-2 ml-auto" (click)="export()">
        <fa-layers class="fa-fw">
          <fa-icon [icon]="['fas','cloud-download-alt']"></fa-icon>
        </fa-layers>
        Export
      </button>
    </div>
    <hr>
    <app-debug title="Profile" [data]="profile"></app-debug>
    <app-debug title="Database" [data]="data"></app-debug>
  </app-content-body>
</app-content>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>

<ng-template #noItems>
  <app-empty message="You don't have any configurations yet" submessage="Click create to add your first one" icon="cog">
  </app-empty>
</ng-template>