<div class="status-bar d-flex flex-row">
  <div class="d-flex flex-row">
    <div class="status-bar-item">
      <div class="status-bar-item-content">
        Balnc v{{version}}
      </div>
    </div>
    <div class="status-bar-item status-bar-item-divider"></div>
    <div class="status-bar-item">
      <a href="https://github.com/christosgeorgiou/balnc" target="_blank" class="btn">
        repo
      </a>
    </div>
  </div>
  <div class="ml-auto d-flex flex-row">
    <div class="status-bar-item">
      <a routerLink="/profiles" class="btn">
        {{profileName}}
        <span *ngIf="user">/ {{user}}</span>
      </a>
    </div>
    <div class="status-bar-item status-bar-item-divider"></div>
    <div class="status-bar-item">
      <div class="status-bar-item-content" style="width:58px;">
        <fa-layers class="fa-fw">
          <fa-icon [icon]="['fas','circle']" [ngClass]="{'text-success':isOnline,'text-danger':!isOnline}"></fa-icon>
        </fa-layers>
        <span *ngIf="isOnline">Online</span>
        <span *ngIf="!isOnline">Offline</span>
      </div>
    </div>
  </div>
</div>
