.content {
  width: 100%;
  .content-tabs {
    min-height: 33px;
    height: 33px;
    background: #fafafa;
    position: relative;
    padding-right: .8rem;
    padding-left: .8rem;
    border-color: #CCC;
    margin-bottom: -1px;
    .nav-link {
      height: 33px; // color: #666;
      border-radius: .3rem .3rem 0 0;
      margin-right: .3rem;
      padding: .2rem 1rem;
      &.active {
        border-color: #CCC;
        border-bottom-color: #FFF;
        margin-bottom: -1px;
        &:hover {
          border-color: #CCC;
          border-bottom-color: #FFF;
        }
      }
      &:hover {
        border-color: #fafafa;
        border-bottom-color: #CCC;
      }
    }
  }
  .content-body {
    border-top: solid 1px #CCC;
    padding: 1rem;
    overflow-y: auto;
  }
  &.content-menu {
    background: $color-dark;
    color: #FFF;
    padding: 4rem;
    .content-header {
      background: inherit;
      font-size: 3rem;
      font-weight: 300;
    }
    .content-body {
      border: none;
    }
  }
}
