.dropdown-large {
  position: static !important;
}

.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
  > li {
    > ul {
      padding: 0;
      margin: 0;
      > li {
        list-style: none;
        > a {
          display: block;
          padding: 3px 20px;
          clear: both;
          font-weight: normal;
          line-height: 1.428571429;
          color: #333333;
          white-space: normal;
        }
      }
    }
    ul > li > a {
      &:hover, &:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
      }
    }
  }
  .disabled > a {
    color: #999999;
    &:hover, &:focus {
      color: #999999;
    }
    &:hover, &:focus {
      text-decoration: none;
      background-color: transparent;
      background-image: none;
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
      cursor: not-allowed;
    }
  }
}

@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0;
    margin-right: 0;
    > li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .dropdown-header {
      padding: 3px 15px !important;
    }
  }
}
