.invoice {
  margin: 1rem auto;
  width: 768px;
  padding: 2rem;
  h4 {
    margin-bottom: 1rem;
  }
  .invoice-header {}
  .invoice-body {}
  .invoice-footer {
    font-size: 0.9em;
    text-align: center;
    color: #999;
  }
  .rowamount {
    padding-top: 15px !important;
  }
  .rowtotal {
    font-size: 1.3em;
  }
  .colfix {
    width: 12%;
  }
}
