$bg-default: $color-primary;
$bg-highlight: darken($color-primary,5%);
$col-default: #eee;
$col-highlight: #fff;
.navbar {
  background-color: $bg-default;
  border-color: $bg-highlight;
  margin: 0 -15px 15px;
  @media (min-width: 768px) {
    margin: 0 0 15px;
  }
  .navbar-brand {
    border-right: solid 1px darken($color-primary,5%);
    color: $col-default;
    line-height: 0.9em;
    min-width: 180px;
    padding-bottom: 5px;
    padding-top: 12px;
    &:hover,
    &:focus {
      color: $col-highlight;
    }
    small {
      display: block;
      font-size: 10px;
      color: lighten($color-primary,35%);
    }
    i {
      float: left;
      margin: -4px 2px 0 -8px;
      font-size: 1.8em;
      color: #FAFAFA;
    }
  }
  .navbar-text {
    color: $col-default;
  }
  .nav {
    >li {
      >a {
        &:hover {
          background-color: $bg-highlight;
        }
      }
    }
  }
  .navbar-nav {
    > li {
      > a {
        color: $col-default;
        &:hover,
        &:focus {
          color: $col-highlight;
        }
      }
    }
    > .active {
      > a,
      > a:hover,
      > a:focus {
        color: $col-highlight;
        background-color: $bg-highlight;
      }
    }
    > .open {
      > a,
      > a:hover,
      > a:focus {
        color: $col-highlight;
        background-color: $bg-highlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $bg-highlight;
    &:hover,
    &:focus {
      background-color: $bg-highlight;
    }
    .icon-bar {
      background-color: $col-default;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $col-default;
  }
  .navbar-link {
    color: $col-default;
    &:hover {
      color: $col-highlight;
    }
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $col-default;
      &:hover,
      &:focus {
        color: $col-highlight;
      }
    }
    > .active {
      > a,
      > a:hover,
      > a:focus,
       {
        color: $col-highlight;
        background-color: $bg-highlight;
      }
    }
  }
}
