.panel-primary {
  .panel-heading {
    background: $color-primary;
    border-color: darken($color-primary, 10%);
  }
  &.panel-bordered {
    border-color: $color-primary;
  }
}
.panel-empty {
  text-align: center;
  font-size: 1.5em;
  padding: 50px 0;
  color: #AAA;
}
