.sidebar {
  color: #FFF;
  &.sidebar-core {
    text-align: center;
    min-width: 50px;
    width: 50px;
    background: darken($color-dark, 10);
    .logo {
      margin: .7rem .5rem .2rem;
      padding-bottom: .5rem;
      border-bottom: solid 1px #666;
      img {
        width: 100%;
        filter: brightness(0) invert(1);
        opacity: .8;
      }
      .fa {
        line-height: 2rem;
        font-size: 1.5rem;
        display: block;
      }
    }
    .items {
      overflow-y: auto;
      height: 100%;
      &::-webkit-scrollbar-track {
        background-color: none;
      }
      &::-webkit-scrollbar {
        width: 3px;
        background-color: none;
      }
      &::-webkit-scrollbar-thumb {
        background-color: darken($color-dark, 5);
      }
      .item {
        display: block;
        &.menu {
          transition: color .7s;
          .fa {
            line-height: 2rem;
            font-size: 1.5rem;
            display: block;
          }
          .label {
            font-size: .8rem;
            display: none;
          }
          >a {
            display: block;
            padding: .6rem;
            transition: background-color .7s;
            text-decoration: none;
            color: lighten($color-dark, 20);
            text-shadow: 1px 2px 0 #000;
            &:hover {
              background: darken($color-dark, 5);
              color: #FFF;
            }
          }
          &.active {
            border-left: solid 2px $color-base;
            background: $color-dark;
            >a {
              margin-left: -2px;
              color: $color-base;
            }
          }
          &.highlight {
            >a {
              color: $color-base;
              span {
                margin: 0
              }
            }
          }
        }
      }
    }
  }
  &.sidebar-menu {
    min-width: 200px;
    width: 200px;
    background: $color-dark;
    padding: .7rem;
    .form-control-search {
      background: none;
      border: solid 1px lighten($color-dark, 20);
      color: #FFF;
      transition: border .7s;
      margin-bottom: 1rem;
      &:focus {
        border-color: #FFF;
      }
      &::placeholder {
        color: lighten($color-dark, 20);
      }
    }
    .list-menu {
      &::-webkit-scrollbar-track {
        background-color: none;
      }
      &::-webkit-scrollbar {
        width: 3px;
        background-color: none;
      }
      &::-webkit-scrollbar-thumb {
        background-color: darken($color-dark, 5);
      }
    }
  }
}
