@import "bootstrap";
.td-double {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-start;
  .description {
    font-size: small;
    @extend .text-muted;
  }
}

.td-large {
  font-size: large;
}

.table {
  &.table-max {
    td,
    th {
      vertical-align: middle !important;
      a {
        font-weight: bold;
        color: #000;
        &:hover {
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}
