.timeline {
  list-style: none;
  padding: 20px 0;
  position: relative;
  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 40px;
    margin-left: -1.5px;
  }
  > li {
    margin-bottom: 20px;
    position: relative;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    > {
      .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
        float: right;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 10px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        &:before {
          right: auto;
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          position: absolute;
          top: 20px;
          display: inline-block;
          border-top: 15px solid transparent;
          border-right: 15px solid #ccc;
          border-left: 0 solid #ccc;
          border-bottom: 15px solid transparent;
          content: " ";
        }
        &:after {
          right: auto;
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          position: absolute;
          top: 21px;
          display: inline-block;
          border-top: 14px solid transparent;
          border-right: 14px solid #fff;
          border-left: 0 solid #fff;
          border-bottom: 14px solid transparent;
          content: " ";
        }
      }
      .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 10px;
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        background-color: #999999;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
      }
    }
  }
}
.timeline-badge {
  &.primary {
    background-color: #2e6da4 !important;
  }
  &.success {
    background-color: #3f903f !important;
  }
  &.warning {
    background-color: #f0ad4e !important;
  }
  &.danger {
    background-color: #d9534f !important;
  }
  &.info {
    background-color: #5bc0de !important;
  }
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > {
  p,
  ul {
    margin-bottom: 0;
  }
  p + p {
    margin-top: 5px;
  }
}
