<div class="content d-flex flex-column justify-content-start">
  <app-content-header title="Settings" subtitle="Manage the application settings" icon="cogs"></app-content-header>

  <div class="content-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list-menu">
            <li class="header">Settings</li>
            <li>
              <a href="">
                <span class="fa fa-user fa-fw"></span> General</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-9">

        </div>
      </div>
    </div>
  </div>
</div>
