<div class="content d-flex flex-column justify-content-start">
  <app-content-header [title]="'Settings'" [icon]="'cogs'"></app-content-header>

  <div class="content-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list-menu">
            <li class="header">Shortcuts</li>
            <li>
              <a href="">
                <span class="fa fa-user fa-fw"></span> Lorem ispum</a>
            </li>
            <li>
              <a href="">
                <span class="fa fa-building fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
            </li>
            <li>
              <a href="">
                <span class="fa fa-tag fa-fw"></span> Doler nope</a>
            </li>
          </ul>
          <ul class="list-menu">
            <li class="header">Latest Access</li>
            <li>
              <a href="">
                <span class="fa fa-clock-o fa-fw"></span> Lorem ispum</a>
            </li>
            <li>
              <a href="">
                <span class="fa fa-clock-o fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
            </li>
            <li>
              <a href="">
                <span class="fa fa-clock-o fa-fw"></span> Doler nope</a>
            </li>
            <li>
              <a href="">
                <span class="fa fa-clock-o fa-fw"></span> Lorem ispum</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-9">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quasi, porro quaerat quibusdam odio adipisci illo a, accusamus
          facilis temporibus sit aliquid nam natus aliquam impedit unde reiciendis assumenda blanditiis!
        </div>
      </div>
    </div>
  </div>
</div>
