<div class="card-wrapper">
  <div class="card">
    <div class="card-body">
      <h4 class="display-4">{{profile.name}}</h4>
      <hr>
      <fieldset>
        <h4>General</h4>
        <label>Name
          <small class="text-muted">required</small>
        </label>
        <input [(ngModel)]="profileEdit.name" class="form-control">
      </fieldset>

      <fieldset>
        <h4>Database</h4>
        <p>Configure the remote CouchDB for data sync</p>

        <dl class="row">
          <dt class="col-3">Prefix</dt>
          <dd class="col-9">{{profileEdit.database.prefix}}</dd>
        </dl>
        <div class="form-group">
          <label>Host</label>
          <input [(ngModel)]="profileEdit.database.host" class="form-control">
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Username</label>
              <input [(ngModel)]="profileEdit.database.user" class="form-control">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Password</label>
              <input [(ngModel)]="profileEdit.database.pass" class="form-control" type="password">
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <h4>Modules</h4>
        <ng-container *ngFor="let namespace of namespaces">
          <div class="card mb-4">
            <div class="card-header">{{namespace.title}}</div>
            <div class="card-body">
              <p>{{namespace.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let module of namespace.modules">
                <div class="d-flex justify-content-between">
                  <strong>
                    {{module.title}}
                    <small class="text-muted">{{module.id}}</small>
                  </strong>
                  <label>
                    <input type="checkbox" [(ngModel)]="module.isActive" [disabled]="!module.canChange"> Enable
                  </label>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <em class="text-muted" *ngIf="module.description">{{module.description}}</em>
                  <button type="button" class="btn btn-outline-dark btn-sm" (click)="openConfig(module.id)" *ngIf="module.canConfigure">configure</button>
                </div>
              </li>
            </ul>
          </div>
        </ng-container>
      </fieldset>

      <fieldset>
        <h4>Danger Zone</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, blanditiis dolorem dolor est sunt ipsa ullam
          placeat molestiae neque velit, ea ipsam officiis cumque voluptas? Reiciendis veritatis nobis fugiat non!</p>
        <button class="btn btn-dark">Delete Profile</button>
      </fieldset>

    </div>
    <div class="card-footer d-flex">
      <button type="button" class="btn btn-secondary" [routerLink]="[ '/profiles']">Back</button>
    </div>
    <app-debug [data]="profileEdit"></app-debug>
  </div>
</div>
