@import "../../../../../../scss/components/bootstrap";
:host {
  display: block; // @extend .alert;
  // @extend .alert-secondary;
  @extend .text-center;
  @extend .text-secondary; // @extend .display-4;
  padding: 4rem;
  .fa {
    font-size: 4rem;
  }
  p {
    font-size: 2rem;
    padding: 0;
  }
  &.sm {}
}
