<div class="wrapper">
  <div class="box">
    <div class="card">
      <div class="breadcrumb" style="overflow-x:auto;" *ngIf="stepIndex != 0">
        <div style="min-width: 350px;">
          <span class="breadcrumb-item" *ngFor="let step of steps; let i = index;" [ngClass]="{active: stepIndex === i }">
            {{step.label}}</span>
        </div>
      </div>

      <div class="card-body" *ngIf="steps[stepIndex].label=='Setup'">
        <div class="text-center">
          <h1 class="display-4 mt-4">Welcome to Balnc!</h1>
        </div>
        <div class=" p-4">
          <p>Balnc (balance) is an open source offline-first business application that may run easily at freelancers'
            laptops or at
            companies' premises.</p>
          <p>It has a modular architecture for robustness and extensibility using web-only technologies. With Balnc
            software developers
            may quickly bootstrap applications with premade modules and create their own custom logic on top of them.</p>
          <div class="alert alert-warning mb-0">
            <strong>WARNING:</strong> This application is under development and it
            <strong>SHOULD NOT</strong> be used in production enviroment.
          </div>
        </div>
      </div>

      <div class="card-body" *ngIf="steps[stepIndex].label=='Profile'">
        <div class="row">
          <div class="col-7">
            <h2>Profile</h2>
            <div class="form-group">
              <label>Profile Name</label>
              <input autocomplete="false" [(ngModel)]="profile.name" class="form-control form-control-lg" placeholder="Enter a friendly name...">
            </div>
            <ul class="list-unstyled text-center">
              <li>
                <a href="javascript:" ngxFilePicker accept="application/json" (filePick)="importFile($event)">Import</a>
                a
                file
                backup</li>
              <li>
                <a href="javascript:" (click)="addDemo()">Start</a> with a demo profile</li>
            </ul>
          </div>
          <div class="col-5">
            <div class="alert alert-primary">
              <h4>What is this?</h4>
              <p>
                Profile is a group of settings and data. Every profile is like another setup of its own bmodules and
                configuration. Your data are stored in the browser and are not by default synced to any server. You
                should
                keep backups or enable sync mode with a backup server.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body" *ngIf="steps[stepIndex].label=='Sync'">
        <div class="row">
          <div class="col-7">
            <h2>Sync</h2>
            <div class="form-group form-check">
              <input id="remoteSync" class="form-check-input" type="checkbox" [(ngModel)]="profile.remoteSync">
              <label class="form-check-label" for="remoteSync">
                Enable real-time synchronization
              </label>
            </div>
            <div class="form-group">
              <label>Remote Host</label>
              <input autocomplete="false" [disabled]="!profile.remoteSync" [(ngModel)]="profile.remoteHost" class="form-control"
                placeholder="https://db.myhost.com">
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Username</label>
                  <input autocomplete="false" [disabled]="!profile.remoteSync" [(ngModel)]="profile.remoteUsername"
                    class="form-control">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Password</label>
                  <input autocomplete="false" [disabled]="!profile.remoteSync" [(ngModel)]="profile.remotePassword"
                    class="form-control" type="password">
                </div>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="alert alert-primary">
              <h4>What is this?</h4>
              <p>
                If you enable this option local data will be sync over the internet with the remote database server.
                This
                will allow you to real-time backup your data and have access from multiple devices.
              </p>
              <p>
                <em>Currently only CouchDB is supported.</em>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="card-body p-0" *ngIf="steps[stepIndex].label=='Modules'">
        <h3>Modules</h3>
        <div class="list-group list-group-flush">
          <div class="list-group-item" *ngFor="let bmodule of bmodules">
            <div class="row">
              <div class="col-sm-9 d-flex align-items-center">
                <div class="flex-grow-1">
                  <h5 class="mb-0">
                    <fa-icon [icon]="bmodule.picon"></fa-icon>
                    {{bmodule.title}}
                  </h5>
                  <small class="text-muted">{{bmodule.description}}</small>
                </div>
              </div>
              <div class="col-sm-3 d-flex align-items-center">
                <button *ngIf="!profile.bmodules[bmodule.id]" type="button" class="btn btn-outline-primary btn-sm ml-auto mt-2"
                  style="min-width:100px;" (click)="profile.bmodules[bmodule.id]=true;">
                  Activate
                </button>
                <button *ngIf="profile.bmodules[bmodule.id]" type="button" class="btn btn-outline-danger btn-sm ml-auto mt-2"
                  style="min-width:100px;" (click)="profile.bmodules[bmodule.id]=false;">
                  Deactivate
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body" *ngIf="steps[stepIndex].label=='Finish'">
        <h4>Preview</h4>
        <pre class="p-4 rounded bg-primary text-light">{{profile|json:2}}</pre>
      </div>
      <div class="card-footer p-2">
        <button class="btn btn-light" (click)="back()" *ngIf="stepIndex != 0">
          <fa-icon [icon]="['fas','angle-left']"></fa-icon>
          Back
        </button>
        <button class="btn btn-primary float-right" (click)="next()" *ngIf="stepIndex !== steps.length - 1">
          Next
          <fa-icon [icon]="['fas','angle-right']"></fa-icon>
        </button>
        <button class="btn btn-primary float-right" (click)="finish()" *ngIf="stepIndex === steps.length - 1">
          Finish
          <fa-icon [icon]="['fas','check-circle']"></fa-icon>
        </button>
      </div>
    </div>

  </div>
  <div class="d-none d-sm-block">
    <div class="text-white d-flex justify-content-center py-2">
      <ul class="list-inline m-0">
        <li class="list-inline-item">Balnc v{{configService.version}}</li>
        <li class="list-inline-item">
          <a href="https://github.com/christosgeorgiou/balnc" target="_blank" rel="noopener" class="text-muted">
            source
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/christosgeorgiou/balnc/LICENSE" target="_blank" rel="noopener" class="text-muted">
            license
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
