@import "../../../../../../scss/components/bootstrap";
:host {
  width: 100%;
  markdown {
    margin-top: 1rem;
    overflow-y: auto;
    height: 254px;
    display: block;
    min-height: 100px;
    background: #fafafa;
    padding: 1rem;
  }
}
