<div class="modal-header">
  <h4 class="modal-title">Create Task</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form" (validSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <label>Title
        <small class="text-muted">required</small>
      </label>
      <input formControlName="title" class="form-control" [ngClass]="{'is-invalid':form.get('title').invalid && (form.get('title').dirty || form.get('title').touched)}">
      <ng-container *ngIf="form.get('title').invalid && (form.get('title').dirty || form.get('title').touched)">
        <div *ngIf="form.get('title').errors.required" class="invalid-feedback">
          Title is required.
        </div>
        <div *ngIf="form.get('title').errors.maxlength" class="invalid-feedback">
          Title must be less than 100 characters long.
        </div>
      </ng-container>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea formControlName="description" class="form-control" rows="10"></textarea>
    </div>
    <hr>
    <h4>Preview</h4>
    <markdown [data]="form.get('description').value"></markdown>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" type="button" (click)="activeModal.dismiss()">Close</button>
    <button type="button" class="btn btn-success" type="submit" (click)="submited=true">Create</button>
  </div>
</form>
