<div class="loader" *ngIf="!presentation"></div>
<div class="content d-flex flex-column justify-content-start" *ngIf="presentation">
  <div class="content-header">
    <div class="container">
      <div class="content-header-icon">
        <span class="fa fa-tv"></span>
      </div>
      <div class="content-header-body">
        <h1>{{presentation.title}}</h1>
        <p>Presentation</p>
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="container">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-primary" (click)="upload()">
          <span class="fa fa-plus-circle fa-fw"></span> add page</button>
      </div>
      <div class="alert alert-secondary">
        {{presentation.description}}
      </div>
      <div class="d-flex flex-wrap">
        <div class="card" style="width: 10rem;margin:.5rem" *ngFor="let page of presentation.pages">
          <img class="card-img-top" [src]="page.preview">
          <div class="card-body">
            <p>
              <strong>{{page.title}}</strong>
            </p>
            <p><code>{{page.type}}</code></p>
          </div>
        </div>
      </div>
      <pre>{{presentation|json:2}}</pre>
    </div>
  </div>
</div>
