// @import "../../../../scss/globals";
:host {
  // @extend .module-content;
  display: flex;
  width: 100%;
  height: 100%;
  .descCollToggle {
    float: right;
    font-size: .7rem;
    text-decoration: none;
    font-weight: 300;
  }
  .descColl {
    height: 62px;
    overflow: hidden;
    &.open {
      height: auto;
    }
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;
    border-radius: .2857rem;
    z-index: 10000;
    display: block;
  }
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -1.5em 0 0 -1.5em;
    width: 3em;
    height: 3em;
    -webkit-animation: panelspin .6s linear;
    animation: panelspin .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #666 rgba(0, 0, 0, .1) rgba(0, 0, 0, .1);
    border-style: solid;
    border-width: .2em;
    box-shadow: 0 0 0 1px transparent;
    visibility: visible;
    z-index: 10001;
    background: 0 0;
  }
}

@-webkit-keyframes panelspin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes panelspin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
