<ng-container *ngIf="contact$ | async as contact; else loader">
  <ng-container *ngIf="contact; else empty">
    <app-content>
      <app-content-breadcrumb [items]="breadcrumb"></app-content-breadcrumb>
      <app-content-body *ngIf="tabsMenu.selected === 'timeline'">
        <div class="btn-toolbar">
          <button class="btn btn-outline-success btn-sm" (click)="createOrder()">New Order</button>
        </div> 
        <ng-container *ngIf="cevents$ | async as cevents; else loader">
          <ng-container *ngIf="cevents; else empty">
            <table class="table table-sm mb-0">
              <thead>
                <th style="width:210px;">Date</th>
                <th style="width:130px;">Type</th>
                <th>Comment</th>
              </thead>
              <tbody>
                <tr *ngFor="let cevent of cevents">
                  <td>{{cevent.date|date:"yyyy-MM-dd HH:mm:ss"}}</td>
                  <td>
                    <span class="d-block badge badge-pill badge-dark mt-1" [ngStyle]="{background:badges[eventType[cevent.type]].color}">
                      {{badges[eventType[cevent.type]].label}}</span>
                  </td>
                  <td>
                    <div class="d-flex">
                      <span>{{cevent.comment}}</span>
                      <a *ngIf="cevent.reference" [routerLink]="[cevent.reference]" class="btn btn-sm btn-outline-primary border-0 py-0 ml-auto">
                        <fa-icon icon="external-link-alt"></fa-icon> Open
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </ng-container>

      </app-content-body>

      <app-content-body *ngIf="tabsMenu.selected === 'manage'">
        <div class="card mb-4">
          <img class="img-thumbnail" [src]="contact.details.avatar" *ngIf="contact.details.avatar">
          <div class="card-body">
            <dl class="mb-0">
              <dt>Name</dt>
              <dd>{{contact.name}}</dd>
              <dt>Description</dt>
              <dd>{{contact.details.description || '-'}}</dd>
            </dl>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">Connections</div>
          <div class="list-group list-group-flush">
            <a href="" class="list-group-item list-group-item-action" *ngFor="let conn of contact.conns">
              {{conn.reference}} <span class="badge badge-primary">{{conn.type}}</span>
            </a>
          </div>
        </div>
        <div class="card mb-4" *ngIf="contact.details.taxDetails">
          <div class="card-header">Tax Details</div>
          <div class="card-body">
            <dl class="mb-0">
              <dt>Legal Name</dt>
              <dd>{{contact.details.taxDetails.legalName || '-'}}</dd>
              <dt>Address</dt>
              <dd>{{contact.details.taxDetails.address || '-'}}</dd>
              <dt>Vat Number</dt>
              <dd class="text-monospace">{{contact.details.taxDetails.vatNumber || '-'}}</dd>
              <dt>Tax Office</dt>
              <dd>{{contact.details.taxDetails.taxOffice || '-'}}</dd>
            </dl>
          </div>
        </div>


      </app-content-body>

      <app-content-body *ngIf="tabsMenu.selected === 'raw'">
        <div class="row">
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <pre>{{contact|json:2}}</pre>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <ng-container *ngIf="cevents$ | async as cevents; else loader">
                  <ng-container *ngIf="cevents; else empty">
                    <pre>{{cevents|json:2}}</pre>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>


      </app-content-body>

    </app-content>
  </ng-container>
</ng-container>

<ng-template #empty>
  <app-empty message="Select a contact or create a new one" icon="desktop"></app-empty>
</ng-template>

<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
