app-presentations-overview {
  .presentation-thumbnail {
    @extend .img-thumbnail;
    @extend .mr-3;
    height: 56px;
    width: 56px;
    padding: 2px;

    .img-thumb {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
    }

    .img-empty {
      position: relative;
      height: 100%;

      span {
        font-size: 1.5rem;
        color: #aaa;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -12px 0 0 -12px;
      }
    }
  }
}

app-presentations-presentation {
  .descCollToggle {
    float: right;
    font-size: 0.7rem;
    text-decoration: none;
    font-weight: 300;
  }

  .descColl {
    height: 24px;
    overflow: hidden;

    &.open {
      height: auto;
    }
  }

  .present {
    @extend .h-100;
    background-color: #ccc;
    background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px),
      linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

    > div {
      @extend .h-100;
    }
  }
}

th {
  &.datetime {
    width: 180px;
  }
}
