@import "../theme";

.sections {
  section {
    @extend .w-100;
    @extend .p-4;

    &.no-padding {
      @extend .p-0;
    }

    &.title {
      font-size: xx-large;
      font-weight: lighter;
      &:after {
        width: 100%;
      }
    }

    &.full {
      @extend .flex-grow-1;
      @extend .overflow-auto;
      &:after {
        @extend .d-none;
      }
    }

    &:after {
      @extend .d-block;
      @extend .mt-4;
      @extend .mx-auto;
      content: "";
      width: 50%;
      height: 1px;
      background: #eee;
    }

    &:last-child {
      &:after {
        @extend .d-none;
      }
    }
  }
}
