<div class="copyright">
    <p class="m-0">&copy; 2017 - Balance v0.0 by
        <a href="http://personal.cgeosoft.com">CG</a>
    </p>
    <small>
        <ul class="list-inline m-0">
            <li class="list-inline-item">
                <a href="https://github.com/ChristosGeorgiou/balance-theme">REPO</a>
            </li>
            <li class="list-inline-item">
                <a href="/tos.html">TOS</a>
            </li>
        </ul>
    </small>
</div>