<li>
    <a href="{{_base.root}}/invoices/preview.html" class="media">
        <span class="media-body">Google - Extra services
            <small>#446841 - 2017-06-23</small>
    </a>
</li>
<li>
    <a href="{{_base.root}}/invoices/preview.html" class="media">
        <span class="media-body">Microsoft - Subscription
            <small>#446841 - 2017-06-15</small>
    </a>
</li>
<li>
    <a href="{{_base.root}}/invoices/preview.html" class="media">
        <span class="media-body">Apple - Product development
            <small>#446841 - 2017-05-28</small>
    </a>
</li>