<li>
    <a href="/invoices/report.html">
        <span class="fa fa-list fa-fw"></span> Last 7 days</a>
</li>
<li>
    <a href="/invoices/report.html">
        <span class="fa fa-list fa-fw"></span> Last Month</a>
</li>
<li>
    <a href="/invoices/report.html">
        <span class="fa fa-list fa-fw"></span> Pending Only</a>
</li>