<div class="invoice card border-primary">
    <div class="invoice-header mb-4">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Invoice</h1>
                <h4>With Credit</h4>
            </div>
            <div class="col">
                <ul class="list-unstyled text-right lead">
                    <li>NO: 554775/R1</li>
                    <li>Date: 01/01/2015</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="invoice-body mb-4">
        <div class="row">
            <div class="col">
                <h4>Company</h4>
                <dl class="row">
                    <dt class="col-3 text-right">Name</dt>
                    <dd class="col-9">
                        <strong>ACME Corporation</strong>
                    </dd>
                    <dt class="col-3 text-right">Industry</dt>
                    <dd class="col-9">Software Development</dd>
                    <dt class="col-3 text-right">Address</dt>
                    <dd class="col-9">Field 3, Moon</dd>
                    <dt class="col-3 text-right">Phone</dt>
                    <dd class="col-9">123.4456.4567</dd>
                    <dt class="col-3 text-right">Email</dt>
                    <dd class="col-9">mainl@acme.com</dd>
                    <dt class="col-3 text-right">Tax NO</dt>
                    <dd class="col-9 mono">123456789</dd>
                    <dt class="col-3 text-right">Tax Office</dt>
                    <dd class="col-9">A' Moon</dd>
                </dl>
            </div>
            <div class="col">
                <h4>Customer</h4>
                <dl class="row">
                    <dt class="col-3 text-right">Name</dt>
                    <dd class="col-9">
                        <strong>Microsoft Corporation</strong>
                    </dd>
                    <dt class="col-3 text-right">Industry</dt>
                    <dd class="col-9">Software Development</dd>
                    <dt class="col-3 text-right">Address</dt>
                    <dd class="col-9">One Microsoft Way Redmond, WA 98052-7329, USA</dd>
                    <dt class="col-3 text-right">Phone</dt>
                    <dd class="col-9">(425) 882-8080</dd>
                    <dt class="col-3 text-right">Email</dt>
                    <dd class="col-9">contact@microsoft.com</dd>
                    <dt class="col-3 text-right">Tax NO</dt>
                    <dd class="col-9 mono">123456789</dd>
                    <dt class="col-3 text-right">Tax Office</dt>
                    <dd class="col-9">A' Moon</dd>
                </dl>
            </div>
        </div>
        <div class="mb-4">
            <h4>Services / Products</h4>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Item / Details</th>
                        <th class="text-center colfix">Unit Cost</th>
                        <th class="text-center colfix">Sum Cost</th>
                        <th class="text-center colfix">Discount</th>
                        <th class="text-center colfix">Tax</th>
                        <th class="text-center colfix">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Lorem Ipsum Dolor
                            <br>
                            <small class="text-muted">The best lorem in town, try it now or leave forever</small>
                        </td>
                        <td class="text-right">
                            <span class="mono">$1,000.00</span>
                            <br>
                            <small class="text-muted">Before Tax</small>
                        </td>
                        <td class="text-right">
                            <span class="mono">$18,000.00</span>
                            <br>
                            <small class="text-muted">18 Units</small>
                        </td>
                        <td class="text-right">
                            <span class="mono">- $1,800.00</span>
                            <br>
                            <small class="text-muted">Special -10%</small>
                        </td>
                        <td class="text-right">
                            <span class="mono">+ $3,240.00</span>
                            <br>
                            <small class="text-muted">VAT 20%</small>
                        </td>
                        <td class="text-right">
                            <strong class="mono">$19,440.00</strong>
                            <br>
                            <small class="text-muted mono">$16,200.00</small>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Sit Amet Dolo
                            <br>
                            <small class="text-muted">Now you may sit</small>
                        </td>
                        <td class="text-right">
                            <span class="mono">$120.00</span>
                            <br>
                            <small class="text-muted">Before Tax</small>
                        </td>
                        <td class="text-right">
                            <span class="mono">$240.00</span>
                            <br>
                            <small class="text-muted">2 Units</small>
                        </td>
                        <td class="text-right">
                            <span class="mono">- $0.00</span>
                            <br>
                            <small class="text-muted">-</small>
                        </td>
                        <td class="text-right">
                            <span class="mono">+ $72.00</span>
                            <br>
                            <small class="text-muted">VAT:20% S:10%</small>
                        </td>
                        <td class="text-right">
                            <strong class="mono">$312.00</strong>
                            <br>
                            <small class="text-muted mono">$240.00</small>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <td class="text-center col">Sub Total</td>
                        <td class="text-center col">Discount</td>
                        <td class="text-center col">Total</td>
                        <td class="text-center col">Tax</td>
                        <td class="text-center col">Final</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center rowtotal mono">$18,240.00</th>
                        <th class="text-center rowtotal mono">-$1,800.00</th>
                        <th class="text-center rowtotal mono">$16,440.00</th>
                        <th class="text-center rowtotal mono">$3,312.00</th>
                        <th class="text-center rowtotal mono">$19,752.00</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mb-4">
            <div class="row">
                <div class="col">
                    <h4>Comments / Notes</h4>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit repudiandae numquam sit facere blanditiis, quasi distinctio
                    ipsam? Libero odit ex expedita, facere sunt, possimus consectetur dolore, nobis iure amet vero.
                </div>
                <div class="col">
                    <h4>Payment Method</h4>
                    <p>FYou may deposite the final ammount at one of our banks</p>
                    <ul>
                        <li>Alpha Bank -
                            <span class="mono">MO123456789456123</span>
                        </li>
                        <li>Beta Bank -
                            <span class="mono">MO123456789456123</span>
                        </li>
                        <li>Gamma Bank -
                            <span class="mono">MO123456789456123</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="invoice-footer">
        Thank you for choosing our services.
        <br/> We hope to see you again soon
        <br/>
        <strong>~ACME~</strong>
    </div>
</div>