<div class="sidebar sidebar-menu d-flex flex-column justify-content-start">
    <input class="form-control form-control-search" type="text" placeholder="search invoices...">

    <div class="">
        <ul class="list-menu dark">
            <li class="header">Menu</li>
            {{>_invoices_menu}}
        </ul>
        <ul class="list-menu dark">
            <li class="header">Shortcuts</li>
            {{>_invoices_shortcuts}}
        </ul>
        <ul class="list-menu dark">
            <li class="header">Latest Access</li>
            {{>_invoices_latest}}
        </ul>
    </div>
</div>