<li>
    <a href="{{_base.root}}/invoices/overview.html">
        <span class="fa fa-desktop fa-fw"></span> Overview</a>
</li>
<li>
    <a href="{{_base.root}}/invoices/wizard.html">
        <span class="fa fa-plus-circle fa-fw"></span> Create New</a>
</li>