<div class="sidebar sidebar-menu d-flex flex-column justify-content-start">
  <input class="form-control form-control-search" type="text" placeholder="search user...">
  <div class="d-flex justify-content-between">
    <a href class="text-white">New</a>
    <a href class="text-white">Advanced Search</a>
  </div>
  <ul class="list-menu dark">
    <li class="header">
      <span class="fa fa-thumb-tack fa-fw"></span> Pinned</li>
    <li class="active">
      <a href class="media">
        <span class="img-thumbnail">
          <span class="fa fa-users fa-fw"></span>
        </span>
        <span class="media-body">DevTeam
          <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
        </span>
      </a>
    </li>
    <li>
      <a href class="media">
        <span class="img-thumbnail">
          <span class="fa fa-users fa-fw"></span>
        </span>
        <span class="media-body"> Marketing
          <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
        </span>
      </a>
    </li>
    <li class="header">Today</li>
    <li>
      <a href class="media">
        <span class="img-thumbnail">
          <span class="fa fa-users fa-fw"></span>
        </span>
        <span class="media-body">Room#3
          <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
        </span>
      </a>
    </li>
    <li class="header">Monday</li>
    <li>
      <a href class="media">
        <img class="img-thumbnail" src="https://randomuser.me/api/portraits/thumb/women/34.jpg">
        <span class="fa fa-check status-indicator"></span>
        <span class="media-body"> Soula
          <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
        </span>
      </a>
    </li>
    <li class="header">Friday</li>
    <li>
      <a href class="media">
        <img class="img-thumbnail" src="https://randomuser.me/api/portraits/thumb/men/24.jpg">
        <span class="media-body"> Makis
          <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
        </span>
      </a>
    </li>
    <li>
      <a href class="media">
        <span class="img-thumbnail">
          <span class="fa fa-users fa-fw"></span>
        </span>
        <span class="media-body">Room#1
          <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
        </span>
      </a>
    </li>
    <li class="header">Older than a week</li>
    <li>
      <a href class="media">
        <img class="img-thumbnail" src="https://randomuser.me/api/portraits/thumb/men/54.jpg">
        <span class="media-body">
          <span class="badge badge-secondary pull-right">4</span>
          Sakis
          <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
        </span>
      </a>
    </li>
    <li>
      <a href class="media">
        <span class="img-thumbnail">
          <span class="fa fa-users fa-fw"></span>
        </span>
        <span class="media-body">Room#2
          <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
        </span>
      </a>
    </li>
    <li>
      <a href class="media">
        <span class="img-thumbnail">
          <span class="fa fa-users fa-fw"></span>
        </span>
        <span class="media-body">Room#3
          <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
        </span>
      </a>
    </li>
    <li>
      <a href class="media">
        <span class="img-thumbnail">
          <span class="fa fa-users fa-fw"></span>
        </span>
        <span class="media-body">Room#4
          <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
        </span>
      </a>
    </li>
  </ul>
</div>
<div class="content d-flex flex-column justify-content-start">
  <div class="content-header">
    <div class="content-header-icon">
      <span class="fa fa-users"></span>
    </div>
    <div class="content-header-body">
      <h1>DevTeam
        <small>
          <a href>
            <span class="fa fa-external-link"></span>
          </a>
        </small>
      </h1>
      <p>online: 15 - register: 44567 - last message: 2017-08-05</p>
    </div>
  </div>
  <div class="content-body" style="height:100%">
    <div *ngIf="!rooms.length" class="jumbotron">
      <h1 class="display-4">There are no chartrooms</h1>
      <p class="lead">Create your first one here</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">
          <span class="fa fa-plus-circle fa-fw"></span> Create</a>
      </p>
    </div>
    <div *ngIf="rooms.length" class="d-flex align-items-stretch">
      <div class="card" *ngFor="let room of rooms">
        <div class="card-header">{{room.name}}</div>
        <div class="card-body">
          <div class="media" *ngFor="let message of room.messages">
            <img class="d-flex align-self-baseline avatar rounded" src="https://pbs.twimg.com/profile_images/418214057/IMG_3899_normal.jpg">
            <div class="media-body">
              <p>{{message.text}}</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <input class="form-control form-control-sm" placeholder="type...">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-link btn-xs">A</button>
            <button type="button" class="btn btn-link btn-xs">B</button>
            <button type="button" class="btn btn-link btn-xs">V</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
