<app-side-bar>
  <div class="menu">
    <div class="header d-flex">
      <h4>Channels</h4>
    </div>
    <div class="items">
      <ng-container *ngIf="channels; else loader">
        <ng-container *ngIf="channels.length; else empty">
          <ng-template ngFor let-c [ngForOf]="channels">
            <button (click)="activeChannel = c" [ngClass]="{'active':c==activeChannel}">
              {{c}}
            </button>
          </ng-template>
        </ng-container>
      </ng-container>
      <ng-template #empty>
        <app-empty message="No channels were found" icon="file-alt:regular" size='small'></app-empty>
      </ng-template>
      <ng-template #loader>
        <app-loader animation="sk-cube" label="Loading channels"></app-loader>
      </ng-template>
    </div>
  </div>
</app-side-bar>
<app-content>
  <app-content-header [title]="activeChannel" [subtitle]="currentUser" icon="users"></app-content-header>
  <app-content-body class="h-100">
    <div class="card d-flex h-100 w-100">
      <div #chatMessages class="card-body h-100">
        <ng-container *ngIf="messages; else loaderMsg">
          <ng-container *ngIf="messages[activeChannel] as mGroup; else emptyMsg">
            <ng-template ngFor let-m [ngForOf]="mGroup">
              <ng-container *ngIf="m.sender !== currentUser">
                <div class="msg-item d-flex justify-content-start mb-3">
                  <img class="msg-avatar mr-2 img-thumbnail rounded-circle" src="https://robohash.org/{{m.sender}}" ngbTooltip="{{m.sender}}">
                  <div class="msg-body" ngbTooltip="{{m.sendAt|date:'medium'}}">
                    {{m.text}}
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="m.sender === currentUser">
                <div class="msg-item d-flex justify-content-end mb-3">
                  <div class="msg-body bg-primary text-white" ngbTooltip="{{m.sendAt|date:'medium'}}">
                    {{m.text}}
                  </div>
                  <img class="msg-avatar ml-2 img-thumbnail rounded-circle" src="https://robohash.org/{{m.sender}}" ngbTooltip="{{m.sender}}">
                </div>
              </ng-container>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
      <div class="card-footer">
        <input #chatInput class="form-control form-control-sm" placeholder="type message..." [(ngModel)]="inputMsg" (keydown.enter)="send()">
        <div class="d-flex mt-2">
          <div>
            <button type="button" class="ml-auto btn btn-link">
              <fa-icon [icon]="['fas','image']"></fa-icon>
            </button>
            <button type="button" class="ml-auto btn btn-link">
              <fa-icon [icon]="['fas','paperclip']"></fa-icon>
            </button>
          </div>
          <button type="button" class="ml-auto btn btn-outline-primary" (click)="send()">
            <fa-icon [icon]="['far','paper-plane']"></fa-icon> send
          </button>
        </div>
      </div>
    </div>
  </app-content-body>
</app-content>

<ng-template #emptyMsg>
  <app-empty message="No messages" icon="file-alt:regular" size='small'></app-empty>
</ng-template>
<ng-template #loaderMsg>
  <app-loader animation="sk-cube" label="Loading channels"></app-loader>
</ng-template>
