<app-side-bar>
  <div class="menu mb-4">
    <div class="header d-flex">
      <h4>Persona</h4>
    </div>
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <img class="nickname-avatar" src="https://api.adorable.io/avatars/31/{{nickname}}.png">
      </div>
      <input class="form-control" placeholder="Nickname" [(ngModel)]="nickname">
    </div>
  </div>
  <div class="menu mb-4">
    <div class="header d-flex">
      <h4>Boards</h4>
      <button class="ml-auto" (click)="load()">
        <fa-layers class="fa-fw">
          <fa-icon [icon]="['fas','sync-alt']"></fa-icon>
        </fa-layers>
      </button>
    </div>
    <div class="input-group input-group-sm mb-2">
      <input class="form-control" placeholder="New board" [(ngModel)]="newBoard">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" (click)="addBoard()">Add</button>
      </div>
    </div>
    <div class="items">
      <ng-container *ngIf="boards; else loader">
        <ng-container *ngIf="boards.length; else empty">
          <ng-template ngFor let-board [ngForOf]="boards">
            <a class="d-flex  align-items-center" [routerLink]="['/teams','boards',board.name]" routerLinkActive="active">
              <img class="my-1 mr-2 rounded" style="min-width:40px;height:40px;" src="https://api.adorable.io/avatars/48/{{board.name}}.png">
              <span class="mr-2" style="overflow: hidden; line-height: 1.2rem;">
                <strong>{{board.name}}</strong>
                <br>
                <small class="text-secondary">{{board.last.text}}</small>
              </span>
              <span class="ml-auto badge badge-secondary">{{board.messages.length}}</span>
            </a>
          </ng-template>
        </ng-container>
      </ng-container>
      <ng-template #empty>
        <app-empty board="No boards were found" icon="file-alt:regular" size='small'></app-empty>
      </ng-template>
      <ng-template #loader>
        <app-loader animation="sk-cube" label="Loading boards"></app-loader>
      </ng-template>
    </div>
  </div>
</app-side-bar>
<router-outlet></router-outlet>
