@import "~bootstrap/scss/bootstrap";
@import "themes/theme";
:host {
  @extend .pt-2;
  @extend .text-center;
  width: 100%;
  display: block;
  font-size: .8rem;
  color: lighten($dark, 15);
  a {
    color: lighten($dark, 20);
  }
}
