<div class="status-bar d-flex flex-row">
  <div class="ml-auto d-flex flex-row">
    <div class="status-bar-item">
      <a routerLink="/profiles" class="btn">
        <i class="fa fa-user-circle"></i> {{profileName}}
        <span *ngIf="user">/ {{user}}</span>
      </a>
    </div>
    <div class="status-bar-item status-bar-item-divider"></div>
    <div class="status-bar-item">
      <div class="status-bar-item-content">
        <span class="fa fa-circle text-danger"></span>
        Offline
      </div>
    </div>
  </div>
</div>
