<app-content>
  <app-content-body [full]="true">
    <ng-container *ngIf="presentations; else loader">
      <ng-container *ngIf="presentations.length; else noItems">
        <table class="table table-max">
          <thead>
            <tr>
              <th>Presentation</th>
              <th>Files</th>
              <th>Last Edit</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let presentation of presentations">
              <td>
                <div class="d-flex flex-row align-items-start">
                  <div class="presentation-thumbnail">
                    <ng-container *ngIf="presentation.thumb; else noImg">
                      <div class="img-thumb" [ngStyle]="{'background-image': 'url('+presentation.thumb+')'}"></div>
                    </ng-container>
                  </div>
                  <div class="d-flex flex-column align-items-start">
                    <strong>{{presentation.title || '[Without title]'}}</strong>
                    <small class="text-muted">{{presentation.description || 'no description' | ellipsis:250}}</small>
                  </div>
                </div>
              </td>
              <td>
                <ng-container *ngIf="presentation.stats.filecount; else noPages">
                  {{presentation.stats.filecount}} / {{presentation.stats.filesize | bytes:0}}
                </ng-container>
              </td>
              <td>
                <div class="d-flex flex-column align-items-start">
                  <span>{{presentation.dateUpdated|dfnsFormatDistanceToNow}}</span>
                  <small class="text-muted">{{presentation.dateUpdated | date:'medium'}}</small>
                </div>
              </td>
              <td class="text-center" style="width:100px">
                <a [routerLink]="['/presentations',presentation._id]" class="btn btn-sm btn-primary">Open</a>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </app-content-body>
</app-content>


<ng-template #noItems>
  <app-empty message="You don't have any presentations yet" submessage="Click create to add your first one"
    icon="desktop"></app-empty>
</ng-template>
<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
<ng-template #noImg>
  <div class="img-empty">
    <span class="fa fa-picture-o"></span>
  </div>
</ng-template>
<ng-template #noPages>
  -
</ng-template>
