<app-content>
  <app-content-header [title]="'Dashboard'" [icon]="'dashboard'"></app-content-header>
  <app-content-body>
    <div class="row">
      <div class="col-sm-8">
        <div class="card mb-4">
          <div class="card-header">General Stats</div>
          <img class="card-img-top" src="http://junkcharts.typepad.com/.a/6a00d8341e992c53ef017ee6ec98d3970d-pi" alt="Card image cap">
          <div class="card-footer">
            <div class="row">
              <div class="col">
                <span class="text-muted">lorem ipsum</span>
              </div>
              <div class="col text-right">
                <a href="">more
                  <span class="fa fa-angle-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card mb-4">
              <div class="card-header">Featured</div>
              <div class="card-body">
                <img class="card-img-top" src="https://alesandrab.files.wordpress.com/2013/04/seasonal-chart.png" alt="Card image cap">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4">
              <div class="card-header">Featured</div>
              <div class="card-body">
                <img class="card-img-top" src="https://alesandrab.files.wordpress.com/2013/04/seasonal-chart.png" alt="Card image cap">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-primary mb-4">
          <div class="card-header">Featured</div>
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card text-white bg-danger mb-4">
          <div class="card-header">Featured</div>
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </app-content-body>
</app-content>
