<ol class="breadcrumb">
  <li><a ui-sref="app.dashboard">Home</a></li>
  <li><a ui-sref="app.contacts.overview">Contacts</a></li>
  <li class="active">{{vm.Company.name}}</li>
</ol>
<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img ng-src="{{vm.Company.logo}}" />
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <dl>
          <dt>Phones</dt>
          <dd>{{vm.Company.phones|join}}</dd>
          <dt>Emails</dt>
          <dd>{{vm.Company.emails|join}}</dd>
          <dt>Address</dt>
          <dd>{{vm.Company.location.street}}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-sm-8">

    <uib-tabset>

      <uib-tab heading="Actions & Events">
        <div class="btn-toolbar">
          <button class="btn btn-primary btn-xs" ng-click="vm.AddCall()">
            <span class="fa fa-phone fa-fw"></span> Call
          </button>
          <button class="btn btn-primary btn-xs" ng-click="vm.AddMeeting()">
            <span class="fa fa-calendar fa-fw"></span> Meeting
          </button>
        </div>

        <ul class="timeline">
          <li ng-repeat="Event in vm.Company.events">
            <div class="timeline-badge">
              <i ng-if="Event.type=='PHONE'" class="fa fa-phone"></i>
              <i ng-if="Event.type=='MEETING'" class="fa fa-calendar"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">
                  <span ng-if="Event.type=='PHONE'">Phone Call</span>
                  <span ng-if="Event.type=='MEETING'">Meeting</span>
                  <small class="text-muted">
                    {{Event.occuredAt|fromNow}} - {{Event.occuredAt|date:"medium"}}
                  </small>
                </h4>
                {{Event.description}}
              </div>
            </div>
          </li>
        </ul>

      </uib-tab>

      <uib-tab heading="Persons">

        <div class="btn-toolbar">
          <button class="btn btn-primary btn-xs" ng-click="vm.AddPerson()">
            <span class="fa fa-user-plus fa-fw"></span> Person
          </button>
        </div>

        <div class="media" ng-repeat="Person in vm.Company.persons">
          <div class="media-left">
            <a href ng-click="vm.EditPerson(Person)">
              <img class="media-object img-circle" ng-src="{{Person.avatar}}" style="max-height:40px" />
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{Person.fullname}}
              <small>{{Person.job}}</small>
            </h4>
            <ul class="list-inline">
              <li><a href="tel:{{Person.phones[0]}}">{{Person.phones[0]}}</a></li>
              <li><a href="mailto:{{Person.emails[0]}}">{{Person.emails[0]}}</a></li>
            </ul>
          </div>
        </div>

      </uib-tab>

      <uib-tab heading="Debits & Credits">

        <div class="btn-toolbar">
          <button class="btn btn-primary btn-xs" ng-click="vm.AddCredit()">
            <span class="fa fa-plus-square fa-fw"></span> Credit
          </button>
          <button class="btn btn-primary btn-xs" ng-click="vm.AddDebit()">
            <span class="fa fa-minus-square fa-fw"></span> Debit
          </button>
          <button class="btn btn-default btn-xs" ng-click="vm.Print()">
            <span class="fa fa-print fa-fw"></span> Print
          </button>
        </div>

        <table class="table table-condensed">
          <thead>
            <tr>
              <th style="width:25px;"></th>
              <th>Date</th>
              <th>Description</th>
              <th>Document</th>
              <th class="text-right">Amount</th>
              <th class="text-right">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="Transaction in vm.Company.transactions">
              <td>
                <button class="btn btn-link btn-xs">
                  <span class="fa fa-pencil"></span>
                </button>
              </td>
              <td>{{Transaction.date | date:"longDate"}}</td>
              <td>{{Transaction.description}}</td>
              <td>
                <a ng-if="Transaction.file" href="{{Transaction.file}}">
                  <span ng-if="Transaction.amount<=0">Offer</span>
                  <span ng-if="Transaction.amount>0">Invoice</span>
                </a>
              </td>
              <td class="text-right">{{Transaction.amount|currency}}</td>
              <td class="text-right">{{Transaction.total|currency}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th class="text-right" colspan="5">Total Credit</th>
              <th class="text-right">1000.00&euro;</th>
            </tr>
            <tr>
              <th class="text-right" colspan="5">Total Debit</th>
              <th class="text-right">1000.00&euro;</th>
            </tr>
          </tfoot>
        </table>

      </uib-tab>

      <uib-tab heading="Files">
        Files
      </uib-tab>

      <uib-tab heading="Manage">
        <div class="list-group">
          <a href ng-click="vm.EditCompany()" class="list-group-item">
            <span class="fa fa-pencil"></span> Edit company details
          </a>
          <a href ng-click="vm.EditLogo()" class="list-group-item">
            <span class="fa fa-picture"></span> Add or change logo
          </a>
        </div>
      </uib-tab>

    </uib-tabset>
  </div>
</div>
