@import "theme";

@import "themes/default/template";

html,
body {
  height: 100%;
}

* {
  &::-webkit-scrollbar-track {
    background-color: none;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($body-color, 10%);
  }
}

a {
  color: darken($primary, 5);
}

.col-fx-90 {
  width: 90px;
}

.col-fx-120 {
  width: 120px;
}

.table-double {
  td {
    vertical-align: middle;
    span.info {
      display: block;
      color: #ccc;
      font-size: 0.8rem;
    }
  }
}

.copyright {
  color: lighten($dark, 10);
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 3rem;
  a {
    color: lighten($dark, 15);
    text-decoration: none;
    &:hover {
      color: lighten($dark, 25);
    }
  }
}

.card-header-buttons {
  float: right;
  > button,
  > .dropdown > button {
    font-size: 0.8em;
    padding: 0rem 0.5rem;
  }
}

.dropdown-toggle-hidden {
  &::after {
    display: none;
  }
}

.module-content {
  display: flex;
  width: 100%;
  height: 100%;
}

thead {
  th {
    .btn {
      background: none;
      padding: 0;
      .fa {
        margin-left: 10px !important;
        padding: 3px;
      }
    }
  }
}

.modal-content {
  .modal-header {
    padding: 0.5rem 1rem;
    .modal-title {
      font-weight: 300;
      font-size: 1.2rem;
    }
  }
  .modal-footer {
    padding: 0.5rem 1rem;
    background: #eee;
  }
}

.btn-toolbar {
  // background: none;
  // border: none;
  // margin: 0;
  // display: flex;
  // align-items: center;
  > .btn,
  > .btn-group {
    @extend .me-2;
  }

  > .ml-auto > .btn,
  > .ml-auto > .btn-group {
    @extend .ms-2;
  }

  .btn {
    @extend .btn-sm;
  }
}

.container-fixed-md {
  max-width: 720px !important;
}


.popover-emojis {
  .popover-body {
    @extend .d-flex;
    @extend .flex-column;
    @extend .p-2;
    height: 300px;
    width: 322px;
    button {
      padding: 0.2rem;
      background: none;
      border: none;
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;
      &:hover {
        box-shadow: 0 0 2px #999;
      }
    }
    .emoji-groups {
      @extend .d-flex;
      @extend .flex-nowrap;
      @extend .overflow-auto;
      @extend .border-top;
      @extend .pt-1;
      @extend .mt-1;
      min-height: 35px;
    }
    .emoji-container {
      @extend .flex-grow-1;
      @extend .overflow-auto;
    }
  }
}
.popover-giphy {
  .popover-body {
    @extend .d-flex;
    @extend .flex-column;
    @extend .p-2;
    height: 350px;
    width: 200px;
    input{
      @extend .form-control;
      @extend .mb-1;
    }
    .giphy-container {
      @extend .flex-grow-1;
      @extend .overflow-auto;
      img {
        width: 100%;
      }
    }
  }
}
