<div class="modal-header">
  <h4 class="modal-title">Upload file</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group form-control-lg">
    <label for="fileupload">Upload</label>
    <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
    <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'"
     [uploader]="uploader" (change)="fileInput.value=''" multiple class="form-control" />
  </div>
  <hr>
  <strong>Status</strong>
  <table class="table" *ngFor="let response of responses; let i = index">
    <tr>
      <td>{{response.file.name}}</td>
      <td>
        Uploading... {{response.progress}}%
        <div *ngIf="!response.status">In progress</div>
        <div class="status-code" *ngIf="response.status">Upload completed with status code {{response.status}}</div>
      </td>
      <td>
        <div class="progress-bar">
          <div class="progress" role="progressbar" [style.width.%]="response.progress"></div>
        </div>
      </td>
    </tr>
    <tr *ngFor="let property of getFileProperties(response.data)">
      <td colspan="2"> {{ property.key }} </td>
      <td> {{ property.value | json}} </td>
    </tr>
  </table>
</div>
