<app-content>
  <div class="container">
    <div class="d-flex justify-content-center m-4 p-4">
      <div class="card" style="max-width:600px;width:100%">
        <div class="card-header">
          Manage Accounts
          <button type="button" class="btn btn-primary btn-sm pull-right" (click)="create()">
            <span class="fa fa-plus-circle fa-fw"></span> New</button>
        </div>
        <ng-container *ngIf="accounts; else loader">
          <ng-container *ngIf="accounts.length; else noItems">
            <table class="table">
              <tbody>
                <tr *ngFor="let account of accounts">
                  <td>
                    {{account.name}}
                    <br>
                    <span class="mono">{{account.alias}}</span>
                  </td>
                  <td style="width:100px">
                    <button type="button" class="btn btn-outline-primary btn-sm pull-right" (click)="select(account)">
                      use</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </ng-container>
        <ng-template #noItems>
          <app-empty-panel message="You don't have any accounts yet" submessage="Click create to add your first one" icon="cubes"></app-empty-panel>
        </ng-template>
        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>
      </div>
    </div>
  </div>
</app-content>
