@import "theme";

$appbar-width: 50px;

:host {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
  @extend .text-center;
  @extend .bg-transparent;
  @extend .overflow-hidden;
  min-width: $appbar-width;
  width: $appbar-width;
  transition: all 0.5s;
  z-index: 20;

  .menu {
    @extend .shadow-sm;
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-start;
    @extend .w-100;
    @extend .py-2;
    @extend .px-2;
    background-color: $dark;
    border-radius: 0 0.5rem 0.5rem 0;

    .item {
      @extend .w-100;
      @extend .rounded;
      @extend .border-0;
      @extend .mb-2;
      @extend .py-1;
      @extend .px-0;
      @extend .text-center;
      background: none;
      outline: none;
      transition: background-color 0.7s;
      transition: color 0.7s;
      color: $body-bg;

      &:hover {
        background: lighten($body-color, 2%);
      }

      &.active {
        background: lighten($body-color, 5%);
        border-color: lighten($body-color, 7%);
      }

      &:last-child {
        @extend .mb-0;
      }

      fa-icon{
        text-shadow: $body-color;
      }
    }

    .divider {
      @extend .mx-1;
      @extend .mb-2;
      background: lighten($dark, 10%);
      height: 1px;
    }
  }

  &.closed {
    width: 0;
    min-width: 0;
  }

  .toggle {
    position: absolute;
    background: $dark;
    bottom: 25px;
    left: 5px;
    color: #fff;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 1;
  }
}
