@import "components/variables";
@import "components/bootstrap";
@import "components/core";
@import "components/sidebar";
@import "components/content";
@import "components/centerbox";
@import "components/invoice";
@import "components/chat";
@import "components/list-menu";
.table-double {
    td {
        vertical-align: middle;
        span.info {
            display: block;
            color: #CCC;
            font-size: .8rem;
        }
    }
}