<ng-container *ngIf="agreement">
  <app-content>
    <div class="bg-light">
      <div class="container">
        <ol class="breadcrumb mb-0 bg-light">
          <li class="breadcrumb-item"><a [routerLink]="['/business/agreements']">agreements</a></li>
          <li class="breadcrumb-item active">{{agreement.serial}}</li>
        </ol>
      </div>
    </div>
    <app-content-body>
      <div class="d-flex h-100">
        <div class="h-100 w-100 overflow-auto">
          <textarea #content *ngIf="editDesc" class="form-control h-100"
            style="padding:10px;box-shadow:none;background: #FAFAFA" placeholder="content..."
            [value]="agreement.content" (blur)="updateDesc(content.value)"></textarea>
          <div style="padding:10px" *ngIf="!editDesc" (click)="enableEdit()">
            <markdown [data]="agreement.content"></markdown>
          </div>
        </div>
        <div class="card ml-4" style="min-width:200px">
          <div class="card-body">
            <dl>
              <dt>Created</dt>
              <dd>{{agreement.createdAt|date}}</dd>
              <dt>Updated</dt>
              <dd>{{agreement.updatedAt|date}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </app-content-body>
  </app-content>
</ng-container>