<div class="sidebar">
    <div class="ui fluid secondary vertical menu">
        <div class="item">
            <div class="ui input">
                <input type="text" placeholder="Search Transactions...">
            </div>
        </div>

        <a class="item"
          ui-sref="app.contacts.details({alias: company.alias})"
          ui-sref-active="active">
          General View
          </a>

        <a class="item"
          ui-sref="app.contacts.details({alias: company.alias})"
          ui-sref-active="active">
          lorem
          </a>

        <a class="item"
          ui-sref="app.contacts.details({alias: company.alias})"
          ui-sref-active="active">
        ispum
          </a>

    </div>


</div>

<div class="content" ui-view></div>
