<table class="ui table small celled sortable compact striped">
    <thead>
        <tr>
            <th style="width:120px;">Issued</th>
            <th style="width:100px;">Type</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="transaction in transactions">
            <td class="center aligned">
                {{ transaction.issued | date:'dd/MM/yyyy' }}
            </td>
            <td class="center aligned">
                <div class="ui {{ transaction.type | transtype:'color' }} fluid label">
                    {{ transaction.type | transtype:'label' }}
                    <br> {{ transaction.amount | currency }}
                </div>
            </td>
            <td>
                {{ transaction.comment || "No comments" }}
                <br/>
                <div class="ui mini label">{{ transaction.transactor }}</div>
                <div class="ui mini label" ng-repeat="tag in transaction.tags">{{ tag.label }}</div>
            </td>
        </tr>
    </tbody>
</table>
