@import "../scss/colors";
@import "../scss/components/bootstrap";
@import "../scss/components/core";
@import "../scss/components/content";
@import "../scss/components/centerbox";
@import "../scss/components/invoice";
@import "../scss/components/chat";
@import "../scss/components/list-menu";
@import "../scss/components/table-max";
.card-header-buttons {
  float: right;
  >button,
  >.dropdown>button {
    font-size: .8em;
    padding: 0rem .5rem;
  }
}

.dropdown-toggle-hidden {
  &::after {
    display: none
  }
}

.module-content {
  display: flex;
  width: 100%;
  height: 100%
}

.card-header {
  .btn,
  .form-control {
    height: 24px !important;
    padding: 0 5px !important;
    margin: 0 0 0 .7rem;
  }
}

thead {
  th {
    .btn {
      background: none;
      padding: 0;
      .fa {
        margin-left: 10px !important;
        padding: 3px;
      }
    }
  }
}
