@import "colors";
@import "components/bootstrap";
@import "components/core";
@import "components/content";
@import "components/centerbox";
@import "components/invoice";
@import "components/chat";
@import "components/list-menu";
@import "components/table-max";
.card-header-buttons {
  float: right;
  >button,
  >.dropdown>button {
    font-size: .8em;
    padding: 0rem .5rem;
  }
}

.dropdown-toggle-hidden {
  &::after {
    display: none
  }
}

.module-content {
  display: flex;
  width: 100%;
  height: 100%
}

.card-header {
  .btn,
  .form-control {
    height: 24px !important;
    padding: 0 5px !important;
    margin: 0 0 0 .7rem;
  }
}

thead {
  th {
    .btn {
      background: none;
      padding: 0;
      .fa {
        margin-left: 10px !important;
        padding: 3px;
      }
    }
  }
}

.card {
  >ngb-tabset {
    .nav-tabs {
      padding: 0 19px;
      .nav-item {
        margin: 0 1px -1px !important;
      }
    }
  }
}
