{{>_header title="Invoices - Overview"}}
<div class="wrapper d-flex">
    {{>_sidebar_core sel_invoices=true}} {{>_invoices_sidebar}}
    <div class="content d-flex flex-column justify-content-start">
        <div class="content-header">
            <div class="container">
                <div class="content-header-icon">
                    <span class="fa fa-files-o"></span>
                </div>
                <div class="content-header-body">
                    <h1>Invoices Overview</h1>
                    <ul class="list-inline">
                        <li class="list-inline-item">Total:
                            <strong>50</strong>
                        </li>
                        <li class="list-inline-item">Latest:
                            <strong>2015-05-05</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Activity</h4>
                                <img class="card-img-top" src="https://alesandrab.files.wordpress.com/2013/04/seasonal-chart.png" alt="Card image cap" style="height: 230px;">
                                <div class="row mt-4">
                                    <div class="col">
                                        <span>lorem</span>
                                        <p class="lead">15.440</p>
                                    </div>
                                    <div class="col">
                                        <span>ispum</span>
                                        <p class="lead">15.440</p>
                                    </div>
                                    <div class="col">
                                        <span>dolor</span>
                                        <p class="lead">15.440</p>
                                    </div>
                                    <div class="col">
                                        <span>amet</span>
                                        <p class="lead">15.440</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="card bg-primary text-white mb-4" style="height: 400px;">
                            <div class="card-body">
                                <h4 class="card-title">Pending</h4>
                                <ul class="list-menu">
                                    {{>_invoices_latest}} {{>_invoices_latest}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Statuses</h4>
                                <img class="card-img-top" src="http://www.excel-easy.com/data-analysis/images/charts/column-chart.png" alt="Card image cap"
                                    style="height:250px">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Revenue</h4>
                                <img class="card-img-top" src="http://www.serif.com/appresources/PPX7/Tutorials/en-gb/graphics/tutorials/charts_line_updated.jpg"
                                    alt="Card image cap" style="height:250px">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Targets</h4>
                                <img class="card-img-top" src="https://i.stack.imgur.com/qNiO7.png" alt="Card image cap" style="height:250px">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>_footer}}