{{>_header title="Invoices - Wizard"}}
<div class="wrapper d-flex">
    {{>_sidebar_core sel_invoices=true}} {{>_invoices_sidebar}}
    <div class="content d-flex flex-column justify-content-start">
        <div class="content-header">
            <div class="container">
                <div class="content-header-body">
                    <h1>Invoice - 554775/R1 </h1>
                    <ul class="list-inline">
                        <li class="list-inline-item">Created:
                            <strong>2015-05-05</strong>
                        </li>
                        <li class="list-inline-item">Last Edit:
                            <strong>2015-05-05</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="text-center" role="toolbar" aria-label="Toolbar with button groups">
                <button type="button" class="btn btn-sm btn-outline-primary">
                    <span class="fa fa-edit fa-fw"></span> Edit
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary">
                    <span class="fa fa-print fa-fw"></span> Print
                </button>
            </div>
            {{>_invoice}}
        </div>
    </div>
</div>
{{>_footer}}