@import "theme";

:host {
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .bg-primary;
  color: #eee;
  font-size: 0.8rem;

  .menu {
    @extend .d-flex;
    @extend .align-items-center;

    .breadcrumb {
      @extend .bg-transparent;
      @extend .p-0;
      @extend .m-0;
      @extend .py-1;
      @extend .px-2;
      font-size: small;

      .breadcrumb-item{
        padding-left: 0;
        &::before{
          padding-right: 0;
        }
      }
    }

    .item {
      @extend .py-1;
      @extend .px-2;
    }

    a.item,
    button.item {
      background: none;
      border: none;
      color: #eee;
      border-radius: 0;

      &:hover {
        background: darken($primary, 10%);
        text-decoration: none;
        outline: none;
      }
    }

    .dropup .dropdown-toggle::after {
      display: none;
    }
  }
}
