@import "theme";

$appbar-width: 90px;

:host {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-start;
  @extend .shadow-lg;
  @extend .bg-dark;
  @extend .text-center;
  @extend .overflow-hidden;
  min-width: $appbar-width;
  width: $appbar-width;
  transition: all 0.5s;

  .profile {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    min-width: $appbar-width;
    width: $appbar-width;
    height: 55px;

    .fa {
      text-shadow: none;
      line-height: 2rem;
      font-size: 1rem;
      display: block;
      color: #fff;
      border-radius: 21px;
    }
  }

  .menu {
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-start;
    overflow-y: auto;
    min-width: $appbar-width;
    width: $appbar-width;

    a.item {
      border-radius: 0.5rem;
      // border: solid 2px rgba($color: #000000, $alpha: 0);
      color: lighten($body-bg, 30);
      display: block;
      margin: 0.1rem 0.5rem;
      padding: 0.6rem 0 0.3rem 0;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.7s;
      transition: color 0.7s;

      fa-icon {
        line-height: 1rem;
        font-size: 1.4rem;
      }

      .label {
        font-size: 0.9rem;
        display: none;
      }

      span {
        font-size: 0.7rem;
        display: block;
      }

      &:hover {
        color: #fff;
      }

      &.active {
        box-shadow: inset 0 0 5px #6b6b6b1a;
        background: #ffffff13;
        color: #fff;
      }

      &.highlight {
        > a {
          color: #fff;

          span {
            margin: 0;
          }
        }
      }
    }
  }

  .divider {
    @extend .mx-2;
    @extend .my-1;
    background: lighten($dark, 10);
    height: 1px;
  }

  .version {
    font-size: 0.5rem;
    color: lighten($dark, 10);
    padding: 0.5rem 0;
  }

  &.closed {
    width: 0;
    min-width: 0;
  }

  .toggle {
    position: absolute;
    background: $dark;
    bottom: 25px;
    left: 5px;
    color: #fff;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 1;
  }
}
