@import "theme";

$appbar-width: 60px;

:host {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-start;
  @extend .shadow;
  @extend .bg-dark;
  @extend .text-center;
  @extend .overflow-hidden;
  min-width: $appbar-width;
  width: $appbar-width;
  transition: all 0.5s;

  .profile {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    min-width: $appbar-width;
    width: $appbar-width;
    height: 55px;

    .fa {
      text-shadow: none;
      line-height: 2rem;
      font-size: 1rem;
      display: block;
      color: #fff;
      border-radius: 21px;
    }
  }

  .menu {
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-start;
    overflow-y: auto;
    min-width: $appbar-width;
    width: $appbar-width;

    a.item {
      border-radius: 0.7rem;
      border: solid 1px $dark;
      display: block;
      margin: 0rem auto 0.5rem;
      padding: 0.6rem 0 0.3rem 0;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.7s;
      transition: color 0.7s;
      color: $light;
      width: 80%;

      fa-icon {
        line-height: 1rem;
        font-size: 1.4rem;
      }

      &:hover {
        color: #fff;
      }

      &.active {
        background: lighten($color: $dark, $amount: 5%);
        border-color: lighten($color: $dark, $amount: 7%);
      }
    }
  }

  .divider {
    @extend .mx-2;
    @extend .my-1;
    background: lighten($dark, 10);
    height: 1px;
  }

  .version {
    font-size: 0.5rem;
    color: lighten($dark, 10);
    padding: 0.5rem 0;
  }

  &.closed {
    width: 0;
    min-width: 0;
  }

  .toggle {
    position: absolute;
    background: $dark;
    bottom: 25px;
    left: 5px;
    color: #fff;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 1;
  }
}
