@import "theme";

$appbar-compact-width: 60px;
$appbar-normal-width: 85px;

:host {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-start;
  @extend .text-center;
  @extend .bg-transparent;
  @extend .overflow-hidden;
  min-width: $appbar-normal-width;
  width: $appbar-normal-width;
  padding: 0.5rem;
  transition: all 0.5s;
  z-index: 20;

  &.compact {
    min-width: $appbar-compact-width;
    width: $appbar-compact-width;
    .menu {
      .item {
        .label {
          height: 0px;
          opacity: 0;
        }
      }
    }
  }

  .menu {
    @extend .shadow;
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-start;
    @extend .w-100;
    @extend .py-2;
    @extend .px-2;
    background-color: $dark;
    border-radius: 0.5rem;
    overflow: auto;

    .item {
      @extend .w-100;
      @extend .rounded;
      @extend .border-0;
      @extend .my-1;
      @extend .py-1;
      @extend .px-0;
      @extend .text-center;
      @extend .flex-shrink-0;
      background: none;
      outline: none;
      transition: background-color 0.7s;
      transition: color 0.7s;
      color: $body-bg;
      overflow: hidden;

      .icon {
        color: darken($body-bg, 15%);
        text-shadow: $body-color;
      }

      .label {
        transition: all 0.5s;
        font-size: 0.7rem;
        overflow: hidden;
        height: 16px;
        opacity: 0.8;
        display: block;
      }

      &:hover {
        background: lighten($dark, 2%);
        .icon {
          color: $body-bg;
        }
      }

      &.active {
        background: lighten($dark, 5%);
        border-color: lighten($dark, 7%);
      }

      &:last-child {
        @extend .mb-0;
      }
    }

    .divider {
      @extend .m-1;
      background: lighten($dark, 10%);
      height: 1px;
    }
  }

  &.closed {
    width: 0;
    min-width: 0;
  }

  .toggle {
    position: absolute;
    background: $dark;
    bottom: 25px;
    left: 5px;
    color: #fff;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 1;
  }
}
