<ul class="list-menu dark">
    <li class="header">
        <span class="fa fa-thumb-tack fa-fw"></span> Pinned</li>
    <li class="active">
        <a href class="media">
            <span class="img-thumbnail">
                <span class="fa fa-users fa-fw"></span>
            </span>
            <span class="media-body">DevTeam
                <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
            </span>
        </a>
    </li>
    <li>
        <a href class="media">
            <span class="img-thumbnail">
                <span class="fa fa-users fa-fw"></span>
            </span>
            <span class="media-body"> Marketing
                <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
            </span>
        </a>
    </li>
    <li class="header">Today</li>
    <li>
        <a href class="media">
            <span class="img-thumbnail">
                <span class="fa fa-users fa-fw"></span>
            </span>
            <span class="media-body">Room#3
                <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
            </span>
        </a>
    </li>
    <li class="header">Monday</li>
    <li>
        <a href class="media">
            <img class="img-thumbnail" src="https://randomuser.me/api/portraits/thumb/women/34.jpg">
            <span class="fa fa-check status-indicator"></span>
            <span class="media-body"> Soula
                <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
            </span>
        </a>
    </li>
    <li class="header">Friday</li>
    <li>
        <a href class="media">
            <img class="img-thumbnail" src="https://randomuser.me/api/portraits/thumb/men/24.jpg">
            <span class="media-body"> Makis
                <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
            </span>
        </a>
    </li>
    <li>
        <a href class="media">
            <span class="img-thumbnail">
                <span class="fa fa-users fa-fw"></span>
            </span>
            <span class="media-body">Room#1
                <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
            </span>
        </a>
    </li>
    <li class="header">Older than a week</li>
    <li>
        <a href class="media">
            <img class="img-thumbnail" src="https://randomuser.me/api/portraits/thumb/men/54.jpg">
            <span class="media-body">
                <span class="badge badge-secondary pull-right">4</span>
                Sakis
                <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
            </span>
        </a>
    </li>
    <li>
        <a href class="media">
            <span class="img-thumbnail">
                <span class="fa fa-users fa-fw"></span>
            </span>
            <span class="media-body">Room#2
                <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
            </span>
        </a>
    </li>
    <li>
        <a href class="media">
            <span class="img-thumbnail">
                <span class="fa fa-users fa-fw"></span>
            </span>
            <span class="media-body">Room#3
                <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
            </span>
        </a>
    </li>
    <li>
        <a href class="media">
            <span class="img-thumbnail">
                <span class="fa fa-users fa-fw"></span>
            </span>
            <span class="media-body">Room#4
                <small>lorem ipsum dolor sit amet lorem ipsum dolor sit amet</small>
            </span>
        </a>
    </li>
</ul>