<div class="sidebar sidebar-menu d-flex flex-column justify-content-start">
    <input class="form-control form-control-search" type="text" placeholder="search...">
    <ul class="list-menu dark">
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Doler nope</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Doler nope</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Doler nope</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Doler nope</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Doler nope</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Doler nope</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Doler nope</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
        </li>
        <li>
            <a href>
                <span class="fa fa-caret-right fa-fw"></span> Doler nope</a>
        </li>
    </ul>
    <div class="mt-auto">
        <ul class="list-menu dark">
            <li class="header">Shortcuts</li>
            <li>
                <a href>
                    <span class="fa fa-user fa-fw"></span> Lorem ispum</a>
            </li>
            <li>
                <a href>
                    <span class="fa fa-building fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
            </li>
            <li>
                <a href>
                    <span class="fa fa-tag fa-fw"></span> Doler nope</a>
            </li>
        </ul>
        <ul class="list-menu dark">
            <li class="header">Latest Access</li>
            <li>
                <a href>
                    <span class="fa fa-clock-o fa-fw"></span> Lorem ispum</a>
            </li>
            <li>
                <a href>
                    <span class="fa fa-clock-o fa-fw"></span> Lorem ispum sit ametspum sit amet</a>
            </li>
            <li>
                <a href>
                    <span class="fa fa-clock-o fa-fw"></span> Doler nope</a>
            </li>
            <li>
                <a href>
                    <span class="fa fa-clock-o fa-fw"></span> Lorem ispum</a>
            </li>
        </ul>
    </div>
</div>