<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>
                [HEADER]
            </th>
            <th>
                [HEADER]
            </th>
            <th>
                [HEADER]
            </th>
            <th>
                [HEADER]
            </th>
            <th>
                [HEADER]
            </th>
            <th>
                [HEADER]
            </th>
            <th>
                [HEADER]
            </th>
            <th>
                [HEADER]
            </th>
            <th>
                [HEADER]
            </th>
            <th>
                [HEADER]
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
    </tbody>
</table>