<div class="card card-start" *ngIf="profiles.length">
  <div class="card-body">
    <h4>Manage Profiles</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos tempora dolore esse quidem atque ex doloremque quos quis
      modi, minima molestias sint ducimus quod a, vitae fugiat eius deleniti. Corporis!</p>
  </div>
  <div class="list-group list-group-flush">
    <div class="list-group-item" *ngFor="let profile of profiles">
      <div class="d-flex">
        <div>
          {{profile.name}}
          <span class="badge badge-primary" *ngIf="profile.name == selected.name">selected</span>
          <br>
          <small class="text-secondary" *ngIf="!profile.server">Local Profile</small>
          <small class="text-secondary" *ngIf="profile.server">{{profile.server.host}}</small>
        </div>
        <div class="ml-auto d-flex align-items-center">
          <div>
            <button class="btn btn-sm btn-outline-secondary">
              <span class="fa fa-cog"></span>
            </button>
            <button class="btn btn-sm btn-primary" (click)="selectProfile(profile.name)">
              <span class="far fa-check-circle"></span> Select
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-start" *ngIf="!profiles.length">
  <div class="card-body">
    <h1 class="display-4">Welcome to Balance!</h1>
    <p>Balance is a collection of business modules for managing simple operations of small companies and freelancers.</p>
    <p>It includes sales, marketing and accounting tools and it is both open source and free under the MIT license.</p>
    <p>Balance using an internal profile manager for storing localy all the necessary info to work.</p>
    <button class="btn btn-primary" (click)="createProfile()">Create Profile</button>
    <button class="btn btn-link" ngxFilePicker (filePick)="onFilePicked($event)">or import existing</button>
    <pre>{{selected}}</pre>
  </div>
</div>
