<div class="card card-start" *ngIf="profiles.length">
  <div class="card-body">
    <a routerLink="/dashboard" class="btn btn-sm btn-link float-right">
      Back to Dashboard</a>
    <h4>
      Manage Profiles
    </h4>
    <p>Use this page to ad and remove profiles from this computer. Profiles are local stored and are not synced with other computers.</p>
    <hr>
    <div class="alert alert-danger text-center mb-3" *ngIf="error">
      {{error}}
    </div>
    <div class="btn-toolbar">
      <button class="btn btn-sm btn-primary mr-2" (click)="create()">Create Profile</button>
      <button class="btn btn-sm btn-secondary" ngxFilePicker (filePick)="onFilePicked($event)">Import</button>
      <button class="btn btn-sm btn-outline-danger ml-auto" (click)="clear()">
        <span class="fa fa-trash-alt"></span>
      </button>
    </div>
  </div>
  <div class="list-group list-group-flush">
    <div class="list-group-item" *ngFor="let profile of profiles">
      <div class="d-flex">
        <div>
          {{profile.name}}
          <span class="badge badge-primary" *ngIf="profile.name == selected.name">selected</span>
          <br>
          <ul class="list-inline text-secondary m-0">
            <li class="list-inline-item">{{profile.createdAt | date:'short'}}</li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item" *ngIf="!profile.database">Local Profile</li>
            <li class="list-inline-item" *ngIf="profile.database">{{profile.database.host}}</li>
          </ul>
        </div>
        <div class="ml-auto d-flex align-items-center">
          <div>
            <button class="btn btn-sm btn-outline-secondary">
              <span class="fa fa-cog"></span>
            </button>
            <button class="btn btn-sm btn-primary" (click)="selectProfile(profile.name)">
              <span class="far fa-check-circle"></span> Select
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-start" *ngIf="!profiles.length">
  <div class="card-body">
    <h1 class="display-4">Welcome to Balance!</h1>
    <p>Balance is a collection of business modules for managing simple operations of small companies and freelancers.</p>
    <p>It includes sales, marketing and accounting tools and it is both open source and free under the MIT license.</p>
    <p>Balance using an internal profile manager for storing localy all the necessary info to work.</p>

    <div class="btn-toolbar">
      <button class="btn btn-primary" (click)="create()">Create Profile</button>
      <button class="btn btn-link" ngxFilePicker (filePick)="onFilePicked($event)">or import</button>
      <button class="btn btn-sm btn-secondary ml-auto" (click)="quickCreateProfile()">Quick Create Local</button>
    </div>
    <div class="alert alert-danger text-center mt-3" *ngIf="error">
      {{error}}
    </div>
  </div>
</div>
