<common-content>
  <common-content-header title="Data" icon="database"></common-content-header>
  <common-content-body>
    <div class="btn-toolbar">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-outline-dark" (click)="export()">
          <fa-icon [icon]="['fas','file-export']"></fa-icon> Export
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="generate()">
          <fa-icon [icon]="['fas','file-export']"></fa-icon> Generate
        </button>
      </div>
    </div>
    <common-debug title="Profile" [data]="profile"></common-debug>
    <common-debug title="Database" [data]="data"></common-debug>
  </common-content-body>
</common-content>

<ng-template #loading>
  <common-loader animation="sk-cube"></common-loader>
</ng-template>

<ng-template #noItems>
  <common-empty message="You don't have any configurations yet" submessage="Click create to add your first one" icon="cog"></common-empty>
</ng-template>
